# Import Libraries

In [1]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv

import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Load Environment

In [2]:
load_dotenv()

True

# Config

In [3]:
config = Config(
    rewriter_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
        schema_path="./metadata/sakila.json",
    ),
    retrieve_context_config=ContextConfig(data_path="./dataset/dataset_sakila.csv"),
    query_executor_config=QueryConfig(
        host=os.getenv("DB_HOST"),
        database=os.getenv("DB_DATABASE"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        port=os.getenv("DB_PORT"),
    ),
)

# Model

In [4]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Experiment

In [5]:
import pandas as pd
dataset = pd.read_csv("./dataset/dataset_sakila.csv")
dataset = dataset[dataset["Summary"].notna()]

In [6]:
dataset

,Question,Answer,Summary,Alternative Prompt 1,Alternative Prompt 2
0,Which actors have the first name ‘Scarlett’,SELECT * FROM actor WHERE first_name = 'Scarle...,This SQL query retrieves all records from the ...,Can you give me actors that have first name Sc...,I want to know actors that have the first name...
1,How many distinct actors last names are there?,SELECT COUNT(DISTINCT last_name) FROM actor;,This SQL query calculates the count of distinc...,NaN,NaN
2,Which actor has appeared in the most films?,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query identifies the actor who has ap...,NaN,NaN
3,List the top five genres in gross revenue in d...,"SELECT \r\n c.name AS genre, \r\n SUM(p....",This SQL query calculates the top 5 highest-gr...,NaN,NaN
4,"Write a query to display how much business, in...","SELECT s.store_id, SUM(p.amount) AS total_reve...",This SQL query calculates the total revenue ge...,NaN,NaN
5,Which language is used in most films?,SELECT \n l.name\nFROM \n language l\n ...,This SQL query identifies the most frequently ...,NaN,NaN
6,List the top five customers in number of rente...,"SELECT\n c.customer_id,\n c.first_name,\...",This SQL query identifies the top 5 customers ...,NaN,NaN
7,Which customers have rented films from more th...,"SELECT \r\n c.customer_id, \r\n c.first_...",This SQL query identifies customers who have r...,NaN,NaN
8,Which films have never been rented out? Show t...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies films that have neve...,NaN,NaN
9,What is the total revenue generated by each ac...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query calculates the total revenue ge...,NaN,NaN

In [7]:
EA = 0
total_questions = len(dataset)

for idx, row in dataset.iterrows():
    question = row["Question"]
    answer = row["Answer"]
    
    print(f"\nProcessing Question {idx + 1}: {question}")
    
    # Generate SQL query
    result = text_to_sql_model.generate(user_prompt=question)
    print(f"Generated SQL Query: {result}")
    
    # Execute and evaluate query
    acc = text_to_sql_model.evaluate(query=result, true_query=answer)
    print(f"Execution Accuracy: {acc:.4f}")

    EA += acc

final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1: Which actors have the first name ‘Scarlett’
Rewritten Prompt: Retrieve actors with the first name 'Scarlett'.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'actor', 'film_category', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT * FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2: How many distinct actors last names are there?
Rewritten Prompt: Retrieve the count of unique actor last names.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'actor', 'film_category', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3: Which actor has appeared in the most films?
Rewritten Prompt: Retrieve the actor who has appeared in the maximum number of films.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'actor', 'film_category', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT
    a.first_name,
    a.last_name
FROM
    actor a
JOIN
    film_actor fa ON a.actor_id = fa.actor_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    COUNT(fa.film_id) DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 4: List the top five genres in gross revenue in descending order.
Rewritten Prompt: Retrieve the top five genres by gross revenue, ordered descending.

Related Tables: {'store', 'language', 'actor', 'rental', 'customer', 'city', 'film_actor', 'staff', 'inventory', 'film', 'film_text', 'address', 'film_category', 'payment', 'country', 'category'}
Generated SQL Query: SELECT
    c.name AS genre,
    SUM(p.amount) AS gross_revenue
FROM
    category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    c.name
ORDER BY
    gross_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5: Write a query to display how much business, in dollars, each store brought in.
Rewritten Prompt: Retrieve the total revenue for each store.

Related Tables: {'store', 'address', 'city', 'country', 'staff'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.store_id = st.store_id
JOIN payment p ON st.staff_id = p.staff_id
GROUP BY s.store_id
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 6: Which language is used in most films?
Rewritten Prompt: Retrieve the language used in the most films.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'film_category', 'actor', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY COUNT(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 7: List the top five customers in number of rented movies. Show the customer id, first name, last name, and number of rented movies for each customer.
Rewritten Prompt: Retrieve the top five customers with the highest number of rented movies, displaying customer ID, first name, last name, and the count of rented movies.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'actor', 'film_category', 'rental', 'customer', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(r.rental_id) AS total_rentals
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
ORDER BY
    total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8: Which customers have rented films from more than 3 different categories? Show their customer ID, first name, last name, and the number of categories they've rented from.
Rewritten Prompt: Retrieve customer IDs, first names, and last names of customers who have rented films from more than 3 distinct categories, along with the count of those categories.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'film_category', 'actor', 'rental', 'customer', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS category_count
FROM
    customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9: Which films have never been rented out? Show the film ID, title, and release year.
Rewritten Prompt: Retrieve films that have never been rented, displaying film ID, title, and release year.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'film_category', 'actor', 'rental', 'customer', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT
    f.film_id,
    f.title,
    f.release_year
FROM
    film f
LEFT JOIN
    inventory i ON f.film_id = i.film_id
LEFT JOIN
    rental r ON i.inventory_id = r.inventory_id
WHERE
    r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 10: What is the total revenue generated by each actor, based on the films they've appeared in? Show the actor ID, first name, last name, and total revenue.
Rewritten Prompt: Calculate the total revenue generated by each actor from their films, showing actor ID, first name, last name, and total revenue.

Related Tables: {'inventory', 'film', 'store', 'language', 'address', 'actor', 'film_category', 'city', 'film_actor', 'country', 'staff', 'category'}
Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name,
    SUM(p.amount) AS total_revenue
FROM
    actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN inventory i ON fa.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    total_revenue DESC;
Execution Accuracy: 1.0000

Final Execution Accuracy: 1.0000