# Import Libraries

In [1]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv

import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Load Environment

In [2]:
load_dotenv()

True

# Config

In [3]:
config = Config(
    rewriter_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
        schema_path="./metadata/sakila.json",
    ),
    retrieve_context_config=ContextConfig(data_path="./dataset/dataset_sakila.csv"),
    query_executor_config=QueryConfig(
        host=os.getenv("DB_HOST"),
        database=os.getenv("DB_DATABASE"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        port=os.getenv("DB_PORT"),
    ),
)

# Model

In [4]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Experiment

In [5]:
import pandas as pd
dataset = pd.read_csv("./dataset/dataset_sakila.csv")
dataset = dataset[dataset["Summary"].notna()]

In [6]:
dataset

,Question,Answer,Summary,Alternative Prompt 1,Alternative Prompt 2
0,Which actors have the first name ‘Scarlett’,SELECT * FROM actor WHERE first_name = 'Scarle...,This SQL query retrieves all records from the ...,Can you give me actors that have first name Sc...,I want to know actors that have the first name...
1,How many distinct actors last names are there?,SELECT COUNT(DISTINCT last_name) FROM actor;,This SQL query calculates the count of distinc...,"Hey, I'm curious—how many different last names...",Can you tell me how many unique actor last nam...
2,Which actor has appeared in the most films?,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query identifies the actor who has ap...,Who is the most frequently appearing actor in ...,Can you find out which actor has been in the m...
3,List the top five genres in gross revenue in d...,"SELECT \r\n c.name AS genre, \r\n SUM(p....",This SQL query calculates the top 5 highest-gr...,Which five movie genres have made the most mon...,Can you show me the top five highest-earning g...
4,"Write a query to display how much business, in...","SELECT s.store_id, SUM(p.amount) AS total_reve...",This SQL query calculates the total revenue ge...,How much money has each store made from rentals?,Can you break down the total revenue for each ...
5,Which language is used in most films?,SELECT \n l.name\nFROM \n language l\n ...,This SQL query identifies the most frequently ...,Which language is the most common in the movie...,Can you find out which language is used the mo...
6,List the top five customers in number of rente...,"SELECT\n c.customer_id,\n c.first_name,\...",This SQL query identifies the top 5 customers ...,Who are our five most active customers based o...,Can you tell me which five customers have rent...
7,Which customers have rented films from more th...,"SELECT \r\n c.customer_id, \r\n c.first_...",This SQL query identifies customers who have r...,Which customers have explored a variety of gen...,Can you list customers who have rented movies ...
8,Which films have never been rented out? Show t...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies films that have neve...,Are there any movies in our collection that no...,Can you find out which films have never been r...
9,What is the total revenue generated by each ac...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query calculates the total revenue ge...,How much money has each actor helped generate ...,Can you show me the total revenue for each act...
10,"Which store has the highest total revenue, and...","SELECT \n s.store_id, \n CONCAT(st.first...",This SQL query identifies the store with the h...,"Which store has made the most money, and who i...",Can you find out which store has the highest r...
11,Which customers have rented the same film more...,WITH customer_film_rentals AS (\r\n SELECT ...,This SQL query retrieves customers who have re...,Are there any customers who have rented the sa...,Can you find customers who keep renting the sa...
12,Which films have the highest replacement cost ...,WITH top_categories AS (\r\n SELECT \r\n ...,This SQL query identifies the top 5 most rente...,Which expensive-to-replace movies are also in ...,Can you find out which high-replacement-cost f...
13,Which actors have worked together in the most ...,WITH actor_pairs AS (\r\n SELECT \r\n ...,This SQL query identifies actor pairs who have...,Which two actors have appeared in the most mov...,Can you tell me which actor pair has worked to...
14,Which films are in the top 10% of revenue-gene...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10% highest-...,Which movies are among the top 10% highest ear...,Can you list the films that make the most mone...
15,Which customers have rented every film in a sp...,WITH action_films AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented every ...,Can you check if any customers have watched al...
16,Which films have the highest average rental du...,WITH film_rental_duration AS (\r\n SELECT \...,This SQL query identifies the top 10 films wit...,Which movies are rented for the longest time o...,Can you find the films that customers keep the...
17,Which staff members have processed the most pa...,"SELECT \r\n s.staff_id, \r\n s.first_nam...",This SQL query retrieves payment performance m...,Which employees have handled the most payments...,Can you show me which staff members process th...
18,Which films have never been rented but are in ...,WITH top_categories AS (\r\n SELECT \r\n ...,This SQL query identifies films that have neve...,Are there any movies in the most popular genre...,Can you find films that belong to the top 5 ca...
19,Which customers have rented films from all cat...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there any customers who have rented movies...,Can you find customers who have watched at lea...
20,Which films have the highest revenue per day o...,WITH film_revenue_per_day AS (\r\n SELECT \...,This SQL query calculates the revenue generate...,Which movies make the most money per day when ...,Can you list the films that generate the highe...
21,Which films have the longest and shortest rent...,WITH film_durations AS (\r\n SELECT \r\n ...,This SQL query identifies the films with the l...,Can you find the longest and shortest rental p...,Which films in each category are rented for th...
22,Which customers have rented films from exactly...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there any customers who have only rented m...,Can you find customers who have explored exact...
23,Which films have been rented more than the ave...,WITH category_rentals AS (\r\n SELECT \r\n ...,This SQL query identifies films that have been...,Which movies are rented more often than the av...,Can you find the films that are more popular t...
24,Which actors have never appeared in a film wit...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query retrieves a list of actors who ...,Are there any actors who have never acted in a...,Can you list the actors who have only worked i...
25,Which films have the highest replacement cost ...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies the ten most expensi...,Are there expensive movies that have never bee...,Can you find films with a high replacement cos...
26,Which customers have rented films from all sto...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented from e...,Can you find customers who have rented movies ...
27,Which films have been rented in all stores? Sh...,WITH film_stores AS (\r\n SELECT \r\n ...,This SQL query identifies films that have been...,Are there any movies that have been rented in ...,Can you list the films that have been rented a...
28,Which films have the highest revenue per minut...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10 films gen...,Which movies make the most money per minute of...,Can you find films that generate the highest r...
29,Which customers have rented films from every a...,WITH film_actors AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented at lea...,Can you check if someone has watched films sta...
30,Which films have the highest number of actors ...,WITH film_actor_counts AS (\r\n SELECT \r\n...,This SQL query identifies the top 10 unrented ...,Are there movies with large casts that have ne...,Can you find films with the most actors that n...
31,Which movies have the longest runtime but have...,"SELECT \r\n f.title, \r\n f.length AS ru...",This SQL query retrieves the 10 longest films ...,Are there any long movies that no one has ever...,Can you list the longest films that have never...
32,Which customers have rented the most movies in...,WITH customer_daily_rentals AS (\r\n SELECT...,This SQL query identifies the top 10 customers...,Who rented the most movies on a single day?,Can you find the customer who rented the most ...
33,Which movies have been rented more than 10 tim...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies films that have been...,Are there any movies that have been rented ove...,Can you list movies that have been rented a lo...
34,Which staff members have processed the most pa...,SELECT \r\n s.first_name || ' ' || s.last_n...,This SQL query retrieves the top 10 staff memb...,Which employees handle the most payments on Sa...,Can you find out which staff members process t...
35,Which movies have the highest revenue but the ...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query retrieves the top 10 films that...,Are there any movies that make a lot of money ...,Can you find films with high revenue despite h...
36,Which customers have rented movies from every ...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented from a...,Can you find people who have rented movies fro...
37,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies films that have been...,Which films have been rented by people from mo...,Can you find movies that are popular across mu...
38,Which movies have the highest number of actors...,WITH film_actor_counts AS (\r\n SELECT \r\n...,This SQL query identifies the top 10 films tha...,Are there movies with a big cast that have nev...,Can you list films with the most actors that n...
39,Which customers have rented the same movie mor...,WITH customer_movie_rentals AS (\r\n SELECT...,This SQL query identifies customers who have r...,Are there any customers who rented the same fi...,Can you find people who rented the same movie ...
40,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Are there any movies that have been rented by ...,Can you find out which films have been watched...
41,Which movies have been rented the most during ...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies the top 10 most rent...,Which movies are the most popular during the h...,Can you find the films that get rented the mos...
42,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there customers who have rented from all g...,Can you find people who have watched films fro...
43,Which movies have the highest number of rental...,WITH film_rentals AS (\r\n SELECT \r\n ...,This SQL query retrieves the top 10 most rente...,Which films are rented the most but are also t...,Can you find movies that are super popular but...
44,Which customers have rented movies from every ...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented from a...,Can you find people who have rented from every...
45,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies movies that have bee...,Which movies are rented by people from more th...,Can you find out which films are popular acros...
46,Which movies have been rented the most by cust...,WITH young_customer_rentals AS (\r\n SELECT...,This SQL query identifies the top 10 most rent...,Which movies are the most popular among young ...,Can you show me the top films rented by people...
47,Which movies have the highest revenue but have...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10 highest-g...,Are there any high-earning movies that no one ...,Can you find films that make a lot of money bu...
48,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there customers who have rented from all c...,Can you find people who have rented from every...
49,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which films have been rented by people from at...,Can you find movies that have been watched by ...
50,Which movies have the highest number of rental...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies the top 10 most freq...,Are there movies that have been rented a lot b...,Can you list the most rented films that have n...

In [8]:
import pandas as pd

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1"]
    question_2 = row["Alternative Prompt 2"]
    answer = row["Answer"]

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")

        # Generate SQL query
        result = text_to_sql_model.generate(user_prompt=question)
        print(f"Generated SQL Query: {result}")

        # Execute and evaluate query
        acc = text_to_sql_model.evaluate(query=result, true_query=answer)
        print(f"Execution Accuracy: {acc:.4f}")

        # Store results
        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you give me actors that have first name Scarlett
Rewritten Prompt: Retrieve actors with the first name Scarlett.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT * FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: I want to know actors that have the first name Scarlett
Rewritten Prompt: Retrieve actors with the first name Scarlett.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT * FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: Hey, I'm curious—how many different last names do the actors in our database have?
Rewritten Prompt: Determine the count of unique last names among actors in the database.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Can you tell me how many unique actor last names exist in our system?
Rewritten Prompt: Retrieve the count of unique actor last names.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who is the most frequently appearing actor in our movie collection?
Rewritten Prompt: Retrieve the actor appearing most frequently in the movie collection.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'store', 'inventory', 'film_category'}
Generated SQL Query: SELECT a.first_name, a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name
ORDER BY COUNT(fa.film_id) DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 3.2: Can you find out which actor has been in the most movies?
Rewritten Prompt: Retrieve the actor who has appeared in the most movies.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(fa.film_id) AS num_films
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.first_name, a.last_name
ORDER BY num_films DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 4.1: Which five movie genres have made the most money overall?
Rewritten Prompt: Retrieve the top five movie genres with the highest overall revenue.

Related Tables: {'staff', 'film_actor', 'payment', 'actor', 'customer', 'category', 'city', 'store', 'address', 'film_category', 'inventory', 'language', 'country', 'film_text', 'film', 'rental'}
Generated SQL Query: SELECT c.name AS genre, SUM(p.amount) AS total_revenue
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN film f ON fc.film_id = f.film_id
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY total_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Can you show me the top five highest-earning genres, ranked from highest to lowest?
Rewritten Prompt: Retrieve the top five highest-earning genres, ordered by earnings in descending order.

Related Tables: {'staff', 'film_actor', 'payment', 'actor', 'customer', 'category', 'city', 'store', 'address', 'film_category', 'inventory', 'language', 'country', 'film_text', 'film', 'rental'}
Generated SQL Query: SELECT c.name AS genre, SUM(p.amount) AS total_earnings
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY total_earnings DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much money has each store made from rentals?
Rewritten Prompt: Calculate the total rental revenue for each store.

Related Tables: {'language', 'staff', 'film_actor', 'customer', 'actor', 'country', 'city', 'category', 'store', 'film', 'film_category', 'inventory', 'rental', 'address'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_rental_revenue
FROM store s
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 5.2: Can you break down the total revenue for each store?
Rewritten Prompt: Show the total revenue for each store.

Related Tables: {'staff', 'country', 'city', 'store', 'address'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 6.1: Which language is the most common in the movies we have?
Rewritten Prompt: Retrieve the most frequent language from the movies in the database.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Can you find out which language is used the most in our films?
Rewritten Prompt: Retrieve the most frequently used language in our films.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY COUNT(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 7.1: Who are our five most active customers based on the number of rentals?
Rewritten Prompt: Retrieve the top five customers with the most rentals.

Related Tables: {'language', 'staff', 'film_actor', 'customer', 'actor', 'country', 'city', 'category', 'store', 'film', 'film_category', 'inventory', 'rental', 'address'}
Generated SQL Query: SELECT customer_id, COUNT(*) AS total_rentals FROM rental GROUP BY customer_id ORDER BY total_rentals DESC LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Can you tell me which five customers have rented the most movies?
Rewritten Prompt: Retrieve the top five customers who have rented the most movies.

Related Tables: {'language', 'staff', 'film_actor', 'customer', 'actor', 'country', 'city', 'category', 'store', 'film', 'film_category', 'inventory', 'rental', 'address'}
Generated SQL Query: SELECT customer_id, COUNT(*) AS total_rentals
FROM rental
GROUP BY customer_id
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have explored a variety of genres and rented from at least 3 different categories?
Rewritten Prompt: Identify customers who have rented movies from at least three different categories.

Related Tables: {'language', 'staff', 'film_actor', 'customer', 'actor', 'category', 'city', 'country', 'store', 'film', 'film_category', 'inventory', 'rental', 'address'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT fc.category_id) >= 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Can you list customers who have rented movies from more than three different categories?
Rewritten Prompt: List customers who have rented movies from more than three distinct categories.

Related Tables: {'language', 'staff', 'film_actor', 'customer', 'actor', 'category', 'city', 'country', 'store', 'film', 'film_category', 'inventory', 'rental', 'address'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS category_count
FROM
    customer c
    JOIN rental r ON c.customer_id = r.customer_id
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film f ON i.film_id = f.film_id
    JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that nobody has ever rented?
Rewritten Prompt: Retrieve movies that have never been rented.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'customer', 'category', 'city', 'country', 'film', 'film_category', 'store', 'rental', 'inventory'}
Generated SQL Query: SELECT f.film_id, f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 9.2: Can you find out which films have never been rented even once?
Rewritten Prompt: Retrieve films that have never been rented.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'customer', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'rental', 'inventory'}
Generated SQL Query: SELECT f.film_id, f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 10.1: How much money has each actor helped generate based on the movies they were in?
Rewritten Prompt: Calculate the total revenue generated by movies for each actor.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name,
    SUM(p.amount) AS total_revenue
FROM
    actor a
JOIN
    film_actor fa ON a.actor_id = fa.actor_id
JOIN
    inventory i ON fa.film_id = i.film_id
JOIN
    rental r ON i.inventory_id = r.inventory_id
JOIN
    payment p ON r.rental_id = p.rental_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 10.2: Can you show me the total revenue for each actor based on their films?
Rewritten Prompt: Retrieve the total revenue generated by each actor from their films.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name,
    SUM(p.amount) AS total_revenue
FROM
    actor a
    JOIN film_actor fa ON a.actor_id = fa.actor_id
    JOIN inventory i ON fa.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which store has made the most money, and who is the manager there?
Rewritten Prompt: Retrieve the store with the highest total revenue and its manager's name.

Related Tables: {'staff', 'country', 'city', 'store', 'address'}
Generated SQL Query: SELECT
    s.store_id,
    CONCAT(st.first_name, ' ', st.last_name) AS manager_name,
    SUM(p.amount) AS total_revenue
FROM
    store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    s.store_id, manager_name
ORDER BY
    total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Can you find out which store has the highest revenue and who runs it?
Rewritten Prompt: Retrieve the store with the highest revenue, including store name and manager name.

Related Tables: {'staff', 'country', 'city', 'store', 'address'}
Generated SQL Query: SELECT
    s.store_id,
    CONCAT(st.first_name, ' ', st.last_name) AS manager_name,
    SUM(p.amount) AS total_revenue
FROM
    store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    s.store_id, manager_name
ORDER BY
    total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Are there any customers who have rented the same movie more than once?
Rewritten Prompt: Identify customers who have rented the same film more than once.

Related Tables: {'language', 'staff', 'film_actor', 'customer', 'actor', 'country', 'city', 'category', 'store', 'film', 'film_category', 'inventory', 'rental', 'address'}
Generated SQL Query: WITH customer_film_rentals AS (
    SELECT
        r.customer_id,
        i.film_id,
        COUNT(*) AS rental_count
    FROM
        rental r
    JOIN inventory i ON r.inventory_id = i.inventory_id
    GROUP BY
        r.customer_id, i.film_id
    HAVING
        COUNT(*) > 1
)
SELECT DISTINCT customer_id
FROM customer_film_rentals;
Execution Accuracy: 0.8491

Processing Question 12.2: Can you find customers who keep renting the same film multiple times?
Rewritten Prompt: Identify customers who have rented the same film more than once.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'customer', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'rental', 'inventory'}
Generated SQL Query: WITH CustomerFilmRentals AS (
    SELECT
        customer_id,
        film_id,
        COUNT(*) AS rental_count
    FROM rental
    GROUP BY customer_id, film_id
    HAVING COUNT(*) > 1
)
SELECT DISTINCT customer_id
FROM CustomerFilmRentals;
Error executing query: column "film_id" does not exist
LINE 4:         film_id,
                ^

Execution Accuracy: 0.0000

Processing Question 13.1: Which expensive-to-replace movies are also in the top five most popular categories?
Rewritten Prompt: Retrieve movies with high replacement costs that belong to the top five most popular categories.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: WITH TopCategories AS (
    SELECT category_id, COUNT(*) AS film_count
    FROM film_category
    GROUP BY category_id
    ORDER BY film_count DESC
    LIMIT 5
),
HighReplacementCostFilms AS (
    SELECT f.film_id, f.title, f.replacement_cost
    FROM film f
    JOIN film_category fc ON f.film_id = fc.film_id
    JOIN TopCategories tc ON fc.category_id = tc.category_id
    ORDER BY f.replacement_cost DESC
)
SELECT *
FROM HighReplacementCostFilms;
Execution Accuracy: 0.6257

Processing Question 13.2: Can you find out which high-replacement-cost films are in the five most rented genres?
Rewritten Prompt: Retrieve films with high replacement costs that belong to the five most rented genres.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'customer', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'rental', 'inventory'}
Generated SQL Query: WITH Top5Genres AS (
    SELECT
        category_id,
        COUNT(*) AS rental_count
    FROM
        film_category
    JOIN film ON film_category.film_id = film.film_id
    JOIN inventory ON film.film_id = inventory.film_id
    JOIN rental ON inventory.inventory_id = rental.inventory_id
    GROUP BY
        category_id
    ORDER BY
        rental_count DESC
    LIMIT 5
)
SELECT
    f.title,
    f.replacement_cost
FROM
    film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN Top5Genres t5g ON fc.category_id = t5g.category_id
WHERE
    f.replacement_cost > (SELECT AVG(replacement_cost) FROM film)
ORDER BY
    f.replacement_cost DESC;
Execution Accuracy: 0.5749

Processing Question 14.1: Which two actors have appeared in the most movies together?
Rewritten Prompt: Retrieve the pair of actors who have appeared together in the most movies.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: WITH actor_pairs AS (
    SELECT
        fa1.actor_id AS actor1_id,
        fa2.actor_id AS actor2_id,
        COUNT(*) AS films_together
    FROM
        film_actor fa1
    JOIN
        film_actor fa2 ON fa1.film_id = fa2.film_id
    WHERE
        fa1.actor_id < fa2.actor_id
    GROUP BY
        fa1.actor_id, fa2.actor_id
    ORDER BY
        films_together DESC
    LIMIT 1
)
SELECT
    a1.first_name || ' ' || a1.last_name AS actor1,
    a2.first_name || ' ' || a2.last_name AS actor2,
    ap.films_together
FROM
    actor_pairs ap
JOIN
    actor a1 ON ap.actor1_id = a1.actor_id
JOIN
    actor a2 ON ap.actor2_id = a2.actor_id;
Execution Accuracy: 0.0000

Processing Question 14.2: Can you tell me which actor pair has worked together the most?
Rewritten Prompt: Identify the actor pair with the most collaborations.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: WITH actor_pairs AS (
    SELECT
        fa1.actor_id AS actor1_id,
        fa2.actor_id AS actor2_id,
        COUNT(*) AS films_together
    FROM
        film_actor fa1
        JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
    WHERE
        fa1.actor_id < fa2.actor_id
    GROUP BY
        fa1.actor_id, fa2.actor_id
    ORDER BY
        films_together DESC
    LIMIT 1
)
SELECT
    a1.first_name AS actor1_first_name,
    a1.last_name AS actor1_last_name,
    a2.first_name AS actor2_first_name,
    a2.last_name AS actor2_last_name,
    ap.films_together
FROM
    actor_pairs ap
    JOIN actor a1 ON ap.actor1_id = a1.actor_id
    JOIN actor a2 ON ap.actor2_id = a2.actor_id;
Execution Accuracy: 0.0001

Processing Question 15.1: Which movies are among the top 10% highest earners?
Rewritten Prompt: Retrieve movies in the top 10% of highest earners.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: WITH film_revenue AS (
    SELECT
        f.film_id,
        f.title,
        SUM(p.amount) AS total_revenue
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN payment p ON r.rental_id = p.rental_id
    GROUP BY
        f.film_id
),
top_10_percent AS (
    SELECT
        film_id,
        title,
        total_revenue,
        PERCENT_RANK() OVER (ORDER BY total_revenue DESC) AS pct_rank
    FROM
        film_revenue
)
SELECT
    film_id,
    title,
    total_revenue
FROM
    top_10_percent
WHERE
    pct_rank <= 0.1;
Execution Accuracy: 1.0000

Processing Question 15.2: Can you list the films that make the most money, ranked in the top 10%?
Rewritten Prompt: Retrieve the top 10% of films ranked by revenue.

Related Tables: {'language', 'address', 'staff', 'film_actor', 'actor', 'category', 'city', 'country', 'film', 'film_category', 'store', 'inventory'}
Generated SQL Query: WITH film_revenue AS (
    SELECT
        f.film_id,
        SUM(p.amount) AS total_revenue
    FROM

In [9]:
df_results = pd.DataFrame(results_list)
df_results.to_csv("sql_execution_results.csv", index=False)