# Import Libraries

In [1]:
import sys
import os

notebook_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(notebook_dir, '..'))

if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

In [2]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv
from datetime import datetime

import pandas as pd
import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Constants

In [3]:
DATABASE = "sakila"
MODEL = "gemini-1.5-pro"
PROVIDER = "gemini"
# TOTAL_TABLES = 14
TOTAL_TABLES = 15
# TOTAL_TABLES = 18
# TOTAL_TABLES = 22

# Load Environment

In [4]:
load_dotenv()

True

# Set Timestamp Experiment

In [5]:
timestamp = datetime.now().strftime("%Y_%m_%d_%H_%M")
output_dir = f"../files/experiment_result/{timestamp}"
os.makedirs(output_dir, exist_ok=True)

# Config

In [6]:
db_key = DATABASE.upper().replace("-", "_")
provider_key = PROVIDER.upper().replace("-", "_")

config = Config(
    max_retry_attempt=5,
    rewriter_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
        schema_path=f"../files/schema/{DATABASE}.txt",
        metadata_path=f"../files/metadata/{DATABASE}.json",
    ),
    retrieve_context_config=ContextConfig(data_path=f"../files/dataset/dataset_{DATABASE}.csv"),
    query_executor_config = QueryConfig(
        host=os.getenv(f"DB_HOST_{db_key}"),
        database=os.getenv(f"DB_DATABASE_{db_key}"),
        user=os.getenv(f"DB_USER_{db_key}"),
        password=os.getenv(f"DB_PASSWORD_{db_key}"),
        port=os.getenv(f"DB_PORT_{db_key}"),
    ),
)

# Model

In [7]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for gemini using model gemini-1.5-pro.
Initializing API client for gemini using model gemini-1.5-pro.
Initializing API client for gemini using model gemini-1.5-pro.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Import Dataset

In [8]:
dataset = pd.read_csv(f"../files/dataset/dataset_schema_linker_{DATABASE}.csv")

In [9]:
dataset["tables_used"] = dataset["tables_used"].apply(eval)

In [10]:
dataset

,prompt,tables_used
0,"Can you show me the actor_id, first_name, and ...",[actor]
1,How many different last_name values are there ...,[actor]
2,Who’s the top 1 actor that’s been in the most ...,"[film_actor, actor]"
3,What are the top 5 film genres that brought in...,"[category, rental, payment, film_category, inv..."
4,"How much revenue did each store make, looking ...","[staff, payment, store]"
...,...,...
95,Film mana yang disewa oleh pelanggan dari lebi...,"[rental, customer, city, address, movie_city_r..."
96,Film mana yang paling banyak disewa oleh pelan...,"[inventory, rental, customer, film]"
97,Film top 1 mana yang pendapatannya tinggi tapi...,"[rental, film_revenue, payment, film, inventor..."
98,Ada pelanggan yang nyewa dari semua kategori t...,"[customer_no_pg13, rental, customer, category,..."
99,Film mana yang disewa oleh pelanggan dari lebi...,"[rental, customer, city, address, movie_countr..."

# Experiment

In [11]:
def extract_table_names_from_schema(schema: dict) -> list:
    """
    Given a schema dictionary (from predict_schema_only),
    return a list of lowercase table names.
    """
    return schema.get("potential_related_tables", [])

In [12]:
def calculate_reduction(predicted_tables):
    return 1 - (len(predicted_tables) / TOTAL_TABLES)

In [13]:
accuracies = []
predicted_tables_list = []

for _, row in dataset.iterrows():
    prompt = row["prompt"]
    true_tables = set(row["tables_used"])

    predicted_schema = text_to_sql_model.predict_schema_only(prompt)
    predicted_tables = set(extract_table_names_from_schema(predicted_schema))

    # Save predicted tables
    predicted_tables_list.append(list(predicted_tables))

    # Calculate accuracy
    intersection_count = len(true_tables.intersection(predicted_tables))
    total_true_tables = len(true_tables)

    if total_true_tables > 0:
        accuracy = intersection_count / total_true_tables
    else:
        accuracy = 1.0 if not predicted_tables else 0.0

    accuracies.append(accuracy)

In [14]:
dataset["predicted_tables"] = predicted_tables_list
dataset["schema_accuracy"] = accuracies
dataset['schema_reduction'] = dataset['predicted_tables'].apply(calculate_reduction)

In [15]:
final_accuracy = sum(accuracies) / len(accuracies)
print(f"Schema Prediction Accuracy (Intersection-Based): {final_accuracy:.2%}")

average_reduction = dataset['schema_reduction'].mean()
print(f"Average Schema Reduction: {average_reduction:.2%}")

Schema Prediction Accuracy (Intersection-Based): 81.68%
Average Schema Reduction: 28.53%

# Save

In [16]:
dataset.to_csv(f"{output_dir}/{MODEL}_{DATABASE}_schema_linker.csv", index=False)

In [17]:
dataset

,prompt,tables_used,predicted_tables,schema_accuracy,schema_reduction
0,"Can you show me the actor_id, first_name, and ...",[actor],"[film_category, film_actor, actor, payment, ad...",1.000000,0.333333
1,How many different last_name values are there ...,[actor],"[film_actor, actor, film]",1.000000,0.800000
2,Who’s the top 1 actor that’s been in the most ...,"[film_actor, actor]","[film_category, film_actor, actor, inventory, ...",1.000000,0.533333
3,What are the top 5 film genres that brought in...,"[category, rental, payment, film_category, inv...","[film_category, film_actor, staff, actor, paym...",1.000000,0.200000
4,"How much revenue did each store make, looking ...","[staff, payment, store]","[film_category, film_actor, staff, payment, ad...",1.000000,0.266667
...,...,...,...,...,...
95,Film mana yang disewa oleh pelanggan dari lebi...,"[rental, customer, city, address, movie_city_r...","[film_category, film_actor, actor, inventory, ...",0.428571,0.400000
96,Film mana yang paling banyak disewa oleh pelan...,"[inventory, rental, customer, film]","[film_category, film_actor, staff, actor, paym...",1.000000,0.200000
97,Film top 1 mana yang pendapatannya tinggi tapi...,"[rental, film_revenue, payment, film, inventor...","[film_category, film_actor, staff, actor, paym...",0.666667,0.200000
98,Ada pelanggan yang nyewa dari semua kategori t...,"[customer_no_pg13, rental, customer, category,...","[film_category, film_actor, actor, payment, ad...",0.750000,0.200000
99,Film mana yang disewa oleh pelanggan dari lebi...,"[rental, customer, city, address, movie_countr...","[film_category, film_actor, staff, actor, paym...",0.500000,0.200000

In [18]:
dataset_1 = dataset[dataset["schema_accuracy"] == 1]

In [19]:
dataset_1

,prompt,tables_used,predicted_tables,schema_accuracy,schema_reduction
0,"Can you show me the actor_id, first_name, and ...",[actor],"[film_category, film_actor, actor, payment, ad...",1.0,0.333333
1,How many different last_name values are there ...,[actor],"[film_actor, actor, film]",1.0,0.800000
2,Who’s the top 1 actor that’s been in the most ...,"[film_actor, actor]","[film_category, film_actor, actor, inventory, ...",1.0,0.533333
3,What are the top 5 film genres that brought in...,"[category, rental, payment, film_category, inv...","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
4,"How much revenue did each store make, looking ...","[staff, payment, store]","[film_category, film_actor, staff, payment, ad...",1.0,0.266667
5,Which language shows up the most in our movie ...,"[language, film]","[film_category, film_actor, actor, inventory, ...",1.0,0.600000
6,Who are the top 5 customers based on how many ...,"[rental, customer]","[staff, city, payment, address, customer, inve...",1.0,0.466667
8,Are there any movies in our collection that ha...,"[inventory, rental, film]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
9,How much total revenue has each actor generate...,"[rental, payment, film_actor, inventory, actor]","[film_category, film_actor, staff, actor, paym...",1.0,0.133333
10,Which staff member handled the highest total p...,"[staff, payment]","[film_category, film_actor, staff, payment, ad...",1.0,0.266667
13,Which pairs of actors have appeared together i...,"[film_actor, actor]","[film_category, film_actor, actor, inventory, ...",1.0,0.533333
16,Which movie has the highest average rental dur...,"[inventory, rental, film]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
17,Which staff member has processed the most paym...,"[staff, payment]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
24,Which actors have never appeared in any films ...,"[film_actor, actor, film]","[film_category, film_actor, actor, inventory, ...",1.0,0.400000
25,Get the top 1 film with the highest replacemen...,"[inventory, rental, film]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
33,List the movies that have been rented under 10...,"[inventory, rental, film]","[film_category, film_actor, staff, payment, cu...",1.0,0.266667
38,Which movies have the lowest number of actors ...,"[inventory, rental, film_actor, film]","[film_category, film_actor, staff, actor, paym...",1.0,0.133333
46,Find the top 1 movie most frequently rented by...,"[inventory, rental, customer, film]","[film_category, film_actor, staff, payment, cu...",1.0,0.266667
50,"Bisa kasih daftar actor_id, first_name, dan la...",[actor],"[film_category, film_actor, actor, payment, ad...",1.0,0.333333
51,Total ada berapa nama belakang (last_name) akt...,[actor],"[film_actor, actor, film]",1.0,0.800000
52,Siapa aktor top 1 yang paling sering main film...,"[film_actor, actor]","[film_category, film_actor, actor, inventory, ...",1.0,0.533333
53,Apa aja 5 genre film dengan pemasukan tertingg...,"[category, rental, payment, film_category, inv...","[film_category, film_actor, staff, payment, cu...",1.0,0.266667
54,Tiap toko dapet pemasukan berapa kalau dilihat...,"[staff, payment, store]","[film_category, film_actor, staff, payment, ad...",1.0,0.266667
55,Bahasa apa yang paling sering muncul di daftar...,"[language, film]","[film_category, film_actor, inventory, languag...",1.0,0.666667
56,Siapa sih 5 pelanggan yang paling sering nyewa...,"[rental, customer]","[staff, city, payment, address, customer, inve...",1.0,0.466667
57,Pelanggan mana aja yang udah nyewa film dari l...,"[inventory, rental, customer, film_category]","[film_category, film_actor, staff, actor, paym...",1.0,0.133333
58,Ada nggak film di koleksi kita yang belum pern...,"[inventory, rental, film]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
59,Berapa total pemasukan yang dihasilkan tiap ak...,"[rental, payment, film_actor, inventory, actor]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
60,Siapa staf yang memproses pembayaran dengan to...,"[staff, payment]","[film_category, film_actor, staff, payment, ad...",1.0,0.266667
63,Pasangan aktor mana saja yang paling sering ma...,"[film_actor, actor]","[film_category, film_actor, actor, inventory, ...",1.0,0.533333
66,Film mana yang punya rata-rata waktu sewa pali...,"[inventory, rental, film]","[film_category, film_actor, actor, inventory, ...",1.0,0.400000
67,Siapa staf yang paling banyak memproses pembay...,"[staff, payment]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
74,Aktor mana yang belum pernah main di film mana...,"[film_actor, actor, film]","[film_category, film_actor, actor, inventory, ...",1.0,0.400000
75,Ambil 1 film dengan biaya ganti tertinggi yang...,"[inventory, rental, film]","[film_category, film_actor, actor, inventory, ...",1.0,0.400000
83,Film apa saja yang telah disewa kurang dari 10...,"[inventory, rental, film]","[film_category, film_actor, staff, payment, cu...",1.0,0.266667
88,Film mana yang punya sedikit aktor dan belum p...,"[inventory, rental, film_actor, film]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000
96,Film mana yang paling banyak disewa oleh pelan...,"[inventory, rental, customer, film]","[film_category, film_actor, staff, actor, paym...",1.0,0.200000

In [20]:
new_dataset = pd.read_csv(f"../files/dataset/dataset_{DATABASE}.csv")

In [21]:
new_dataset

,Question,Answer,Summary,Alternative Prompt 1 (English),Alternative Prompt 2 (Bahasa Indonesia),Expected Result,Checked
0,Which actors have the first name ‘Scarlett’? S...,"SELECT actor_id, first_name, last_name\r\nFROM...",This SQL query retrieves actor details for tho...,"Can you show me the actor_id, first_name, and ...","Bisa kasih daftar actor_id, first_name, dan la...","['actor_id', 'first_name', 'last_name']",True
1,How many distinct actors last names are there?...,SELECT COUNT(DISTINCT last_name) FROM actor;,This SQL query calculates the count of distinc...,How many different last_name values are there ...,Total ada berapa nama belakang (last_name) akt...,['count'],True
2,Who is the top 1 actor who has appeared in the...,"SELECT \n a.actor_id, \n a.first_name, \...",This SQL query identifies the actor who has ap...,Who’s the top 1 actor that’s been in the most ...,Siapa aktor top 1 yang paling sering main film...,"['actor_id', 'first_name', 'last_name']",True
3,List the top 5 film genres by total gross reve...,"SELECT \n c.name AS genre, \n SUM(p.amou...",This SQL query calculates the top 5 highest-gr...,What are the top 5 film genres that brought in...,Apa aja 5 genre film dengan pemasukan tertingg...,['genre'],True
4,How much total revenue did each store generate...,"SELECT s.store_id, SUM(p.amount) AS total_reve...",This SQL query calculates the total revenue ge...,"How much revenue did each store make, looking ...",Tiap toko dapet pemasukan berapa kalau dilihat...,"['store_id', 'total_revenue']",True
5,Which language is the top 1 most used in films...,SELECT \n l.name\nFROM \n language l\n ...,This SQL query identifies the most frequently ...,Which language shows up the most in our movie ...,Bahasa apa yang paling sering muncul di daftar...,['name'],True
6,List the top five customers by number of rente...,"SELECT\n c.customer_id,\n c.first_name,\...",This SQL query identifies the top 5 customers ...,Who are the top 5 customers based on how many ...,Siapa sih 5 pelanggan yang paling sering nyewa...,"['customer_id', 'first_name', 'last_name', 'to...",True
7,Which customers have rented films from more th...,"SELECT \r\n c.customer_id, \r\n c.first_...",This SQL query identifies customers who have r...,Which customers have rented from more than 3 c...,Pelanggan mana aja yang udah nyewa film dari l...,"['customer_id', 'first_name', 'last_name', 'ca...",True
8,Which films have never been rented across any ...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies films that have neve...,Are there any movies in our collection that ha...,Ada nggak film di koleksi kita yang belum pern...,"['film_id', 'title', 'release_year']",True
9,What is the total revenue generated by each ac...,"SELECT \n a.actor_id, \n a.first_name, \...",This SQL query calculates and ranks actors by ...,How much total revenue has each actor generate...,Berapa total pemasukan yang dihasilkan tiap ak...,"['actor_id', 'first_name', 'last_name', 'total...",True
10,Which staff member has processed the highest t...,"SELECT \r\n st.staff_id,\r\n SUM(p.amoun...",This SQL query identifies the staff member who...,Which staff member handled the highest total p...,Siapa staf yang memproses pembayaran dengan to...,"['staff_id', 'total_amount_processed']",True
11,Which customers have rented the same film more...,WITH customer_film_rentals AS (\r\n SELECT ...,This SQL query retrieves customers who have re...,Which customers have rented the same film more...,Siapa aja pelanggan yang nyewa film yang sama ...,"['customer_id', 'first_name', 'last_name', 'ti...",True
12,Which films belong to the top 5 most rented fi...,WITH top_categories AS (\n SELECT \n ...,This SQL query identifies the top 5 most rente...,Which films are in the top 5 most rented film ...,Film apa saja yang masuk dalam 5 kategori pali...,"['film_id', 'title', 'replacement_cost', 'cate...",True
13,Which pairs of actors have appeared together i...,"SELECT a1.actor_id, a2.actor_id, COUNT(*) AS n...",This SQL query identifies pairs of actors who ...,Which pairs of actors have appeared together i...,Pasangan aktor mana saja yang paling sering ma...,"['actor1_id', 'actor2_id', 'films_together']",True
14,Which films are in the top 10% of revenue-gene...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10% highest-...,Which movies are in the top 10% by total reven...,Film apa aja yang masuk 10% teratas berdasarka...,"['film_id', 'title', 'total_revenue']",True
15,Which customers have rented every film in a sp...,WITH action_films AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Which customers have rented every film in a sp...,Siapa pelanggan yang sudah menyewa semua film ...,"['customer_id', 'first_name', 'last_name']",True
16,Which film has the highest average rental dura...,"SELECT f.film_id, f.title, AVG(f.rental_durati...",This SQL query identifies the top 10 films wit...,Which movie has the highest average rental dur...,Film mana yang punya rata-rata waktu sewa pali...,"['film_id', 'title', 'avg_rental_duration']",True
17,Which staff member has processed the most paym...,"SELECT \r\n s.staff_id, \r\n s.first_nam...",This SQL query retrieves payment performance m...,Which staff member has processed the most paym...,Siapa staf yang paling banyak memproses pembay...,"['staff_id', 'first_name', 'last_name', 'total...",True
18,Which films have never been rented but belong ...,WITH top_categories AS (\r\n SELECT \r\n ...,This SQL query identifies unrented films withi...,Which films were never rented but are in the 5...,Film apa saja yang belum pernah disewa tetapi ...,"['film_id', 'title', 'category_name']",True
19,Which customers have rented films from all cat...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented films from all cat...,Siapa aja pelanggan yang sudah nyewa film dari...,"['customer_id', 'first_name', 'last_name']",True
20,Which films have the highest revenue per day o...,WITH film_revenue_per_day AS (\r\n SELECT \...,This SQL query calculates and ranks films by t...,Which films earn the most revenue per rental d...,Film mana yang menghasilkan pendapatan paling ...,"['film_id', 'title', 'revenue_per_day']",True
21,Which films have the longest and shortest rent...,WITH CategoryRentalDuration AS (\n SELECT\n ...,This SQL query identifies the films with the l...,"For each category, which films have the longes...","Untuk setiap kategori, film mana yang punya du...","['category_name', 'title', 'rental_duration']",True
22,Which customers have rented films from exactly...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented films from exactly...,Ada gak pelanggan yang nyewa film dari tepat 2...,"['customer_id', 'first_name', 'last_name', 'ca...",True
23,Which films have been rented more than the ave...,WITH film_rentals AS (\n SELECT \n f...,This SQL query identifies films that have been...,Which films have been rented more than the ave...,Film mana yang disewa lebih banyak dari rata-r...,"['film_id', 'title', 'category_name', 'rental_...",True
24,Which actors have never appeared in all films ...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query retrieves a list of actors who ...,Which actors have never appeared in any films ...,Aktor mana yang belum pernah main di film mana...,"['actor_id', 'first_name', 'last_name']",True
25,Which top 1 film has the highest replacement c...,"SELECT \n f.film_id, \n f.title, \n f...",This SQL query identifies the most expensive f...,Get the top 1 film with the highest replacemen...,Ambil 1 film dengan biaya ganti tertinggi yang...,"['film_id', 'title', 'replacement_cost']",True
26,Which customers have rented films from all sto...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Which customers have rented films from all sto...,Siapa pelanggan yang sudah nyewa dari semua to...,"['customer_id', 'first_name', 'last_name']",True
27,Which films have been rented in all stores? Sh...,WITH film_stores AS (\r\n SELECT \r\n ...,This SQL query identifies films that have been...,Which films have been rented in all stores? Sh...,Film mana yang sudah pernah disewa di semua to...,"['film_id', 'title', 'store_count']",True
28,Which film has the highest total rental revenu...,WITH film_revenue AS (\n SELECT \n f...,This SQL query identifies the film with the hi...,Which film has the highest revenue per minute ...,Film mana yang memiliki pendapatan tertinggi p...,"['film_id', 'title', 'length', 'revenue_per_mi...",True
29,Which customers have rented film ZORRO ARK mor...,WITH zorro_film AS (\n SELECT film_id\n ...,This SQL query identifies customers who have r...,Who are the customers that have rented the mov...,Siapa aja pelanggan yang udah nyewa film ZORRO...,"['customer_id', 'first_name', 'last_name']",True
30,Which film has never been rented in all stores...,WITH unrented_films AS (\n SELECT f.film_id...,This SQL query identifies the unrented film wi...,Which film has the most actors but has never b...,Film apa yang punya aktor paling banyak tapi b...,"['film_id', 'title', 'actor_count']",True
31,Which movie has the longest runtime among thos...,WITH unrented_films AS (\n SELECT f.film_id...,This SQL query identifies the longest unrented...,Which movie has the longest runtime but has ne...,Film apa yang punya durasi terpanjang tapi bel...,"['title', 'runtime']",True
32,Which customers have rented the most films in ...,WITH customer_daily_rentals AS (\n SELECT \...,This SQL query identifies the top 10 customers...,Which top 10 customers have rented the most mo...,Siapa 10 pelanggan teratas yang menyewa film p...,"['first_name', 'last_name', 'rentals_count']",True
33,Which movies have been rented less than 10 tim...,"SELECT \n f.title, \n COUNT(r.rental_id)...",This SQL query identifies films with fewer tha...,List the movies that have been rented under 10...,Film apa saja yang telah disewa kurang dari 10...,"['title', 'rentals_count']",True
34,Which staff members have processed the most pa...,"SELECT \n s.first_name AS staff_name, \n ...",This SQL query analyzes staff performance by c...,Which staff members have processed the most pa...,Staf mana yang paling banyak memproses pembaya...,"['staff_name', 'payments_count']",True
35,Which top 1 movie have the highest revenue but...,WITH film_revenue AS (\n SELECT \n f...,This SQL query identifies the highest-grossing...,Which movie has the highest revenue but the lo...,Film mana yang pendapatannya tinggi tapi harga...,"['title', 'rental_rate', 'total_revenue']",True
36,Which customers have rented movies from every ...,WITH customer_stores AS (\n SELECT \n ...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang sudah nyewa dari semua toko...,['customer_name'],True
37,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies films that have been...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'city_count']",True
38,Which movies have the lowest number of actors ...,"SELECT \r\n f.title, \r\n COUNT(DISTINCT...",This SQL query identifies the film with the fe...,Which movies have the lowest number of actors ...,Film mana yang punya sedikit aktor dan belum p...,"['title', 'actor_count']",True
39,Which customers have rented the same movie mor...,WITH customer_movie_rentals AS (\r\n SELECT...,This SQL query identifies customers who have r...,Which customers have rented the same movie mor...,Siapa saja pelanggan yang pernah menyewa film ...,"['customer_name', 'title', 'rentals_count']",True
40,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film apa saja yang telah disewa oleh pelanggan...,"['title', 'country_count']",True
41,Which movies have been rented the most during ...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies the top 10 most rent...,Which movies have been rented the most during ...,Film mana yang paling sering disewa saat libur...,"['title', 'rentals_count']",True
42,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang nyewa dari semua kategori t...,['customer_name'],True
43,Which movies have the highest number of rental...,WITH film_rentals AS (\n SELECT \n f...,This SQL query retrieves the top 1 most rented...,Which movies have the highest number of rental...,Film apa yang paling sering disewa tapi biaya ...,"['title', 'replacement_cost', 'rentals_count']",True
44,Which customers have rented any movies from ev...,WITH customer_stores AS (\n SELECT \n ...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Siapa pelanggan yang nyewa dari semua toko tap...,['customer_name'],True
45,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'city_count']",True
46,Which movie has been rented the most by custom...,"SELECT \r\n f.title, \r\n COUNT(*) AS re...",This SQL query identifies the most rented film...,Find the top 1 movie most frequently rented by...,Film mana yang paling banyak disewa oleh pelan...,"['title', 'rentals_count']",True
47,Which top 1 movie has the highest revenue but ...,WITH film_revenue AS (\n SELECT \n f...,This SQL query identifies the highest-grossing...,Which top 1 movie has the highest revenue but ...,Film top 1 mana yang pendapatannya tinggi tapi...,"['title', 'total_revenue']",False
48,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang nyewa dari semua kategori t...,['customer_name'],True
49,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'country_count']",True

In [22]:
prompt_set = set(dataset_1['prompt'])

def match_prompt(row):
    alt1 = row.get("Alternative Prompt 1 (English)", "")
    alt2 = row.get("Alternative Prompt 2 (Bahasa Indonesia)", "")
    return alt1 in prompt_set and alt2 in prompt_set

filtered_df = new_dataset[new_dataset.apply(match_prompt, axis=1)]
filtered_df

,Question,Answer,Summary,Alternative Prompt 1 (English),Alternative Prompt 2 (Bahasa Indonesia),Expected Result,Checked
0,Which actors have the first name ‘Scarlett’? S...,"SELECT actor_id, first_name, last_name\r\nFROM...",This SQL query retrieves actor details for tho...,"Can you show me the actor_id, first_name, and ...","Bisa kasih daftar actor_id, first_name, dan la...","['actor_id', 'first_name', 'last_name']",True
1,How many distinct actors last names are there?...,SELECT COUNT(DISTINCT last_name) FROM actor;,This SQL query calculates the count of distinc...,How many different last_name values are there ...,Total ada berapa nama belakang (last_name) akt...,['count'],True
2,Who is the top 1 actor who has appeared in the...,"SELECT \n a.actor_id, \n a.first_name, \...",This SQL query identifies the actor who has ap...,Who’s the top 1 actor that’s been in the most ...,Siapa aktor top 1 yang paling sering main film...,"['actor_id', 'first_name', 'last_name']",True
3,List the top 5 film genres by total gross reve...,"SELECT \n c.name AS genre, \n SUM(p.amou...",This SQL query calculates the top 5 highest-gr...,What are the top 5 film genres that brought in...,Apa aja 5 genre film dengan pemasukan tertingg...,['genre'],True
4,How much total revenue did each store generate...,"SELECT s.store_id, SUM(p.amount) AS total_reve...",This SQL query calculates the total revenue ge...,"How much revenue did each store make, looking ...",Tiap toko dapet pemasukan berapa kalau dilihat...,"['store_id', 'total_revenue']",True
5,Which language is the top 1 most used in films...,SELECT \n l.name\nFROM \n language l\n ...,This SQL query identifies the most frequently ...,Which language shows up the most in our movie ...,Bahasa apa yang paling sering muncul di daftar...,['name'],True
6,List the top five customers by number of rente...,"SELECT\n c.customer_id,\n c.first_name,\...",This SQL query identifies the top 5 customers ...,Who are the top 5 customers based on how many ...,Siapa sih 5 pelanggan yang paling sering nyewa...,"['customer_id', 'first_name', 'last_name', 'to...",True
8,Which films have never been rented across any ...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies films that have neve...,Are there any movies in our collection that ha...,Ada nggak film di koleksi kita yang belum pern...,"['film_id', 'title', 'release_year']",True
9,What is the total revenue generated by each ac...,"SELECT \n a.actor_id, \n a.first_name, \...",This SQL query calculates and ranks actors by ...,How much total revenue has each actor generate...,Berapa total pemasukan yang dihasilkan tiap ak...,"['actor_id', 'first_name', 'last_name', 'total...",True
10,Which staff member has processed the highest t...,"SELECT \r\n st.staff_id,\r\n SUM(p.amoun...",This SQL query identifies the staff member who...,Which staff member handled the highest total p...,Siapa staf yang memproses pembayaran dengan to...,"['staff_id', 'total_amount_processed']",True
13,Which pairs of actors have appeared together i...,"SELECT a1.actor_id, a2.actor_id, COUNT(*) AS n...",This SQL query identifies pairs of actors who ...,Which pairs of actors have appeared together i...,Pasangan aktor mana saja yang paling sering ma...,"['actor1_id', 'actor2_id', 'films_together']",True
16,Which film has the highest average rental dura...,"SELECT f.film_id, f.title, AVG(f.rental_durati...",This SQL query identifies the top 10 films wit...,Which movie has the highest average rental dur...,Film mana yang punya rata-rata waktu sewa pali...,"['film_id', 'title', 'avg_rental_duration']",True
17,Which staff member has processed the most paym...,"SELECT \r\n s.staff_id, \r\n s.first_nam...",This SQL query retrieves payment performance m...,Which staff member has processed the most paym...,Siapa staf yang paling banyak memproses pembay...,"['staff_id', 'first_name', 'last_name', 'total...",True
24,Which actors have never appeared in all films ...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query retrieves a list of actors who ...,Which actors have never appeared in any films ...,Aktor mana yang belum pernah main di film mana...,"['actor_id', 'first_name', 'last_name']",True
25,Which top 1 film has the highest replacement c...,"SELECT \n f.film_id, \n f.title, \n f...",This SQL query identifies the most expensive f...,Get the top 1 film with the highest replacemen...,Ambil 1 film dengan biaya ganti tertinggi yang...,"['film_id', 'title', 'replacement_cost']",True
33,Which movies have been rented less than 10 tim...,"SELECT \n f.title, \n COUNT(r.rental_id)...",This SQL query identifies films with fewer tha...,List the movies that have been rented under 10...,Film apa saja yang telah disewa kurang dari 10...,"['title', 'rentals_count']",True
38,Which movies have the lowest number of actors ...,"SELECT \r\n f.title, \r\n COUNT(DISTINCT...",This SQL query identifies the film with the fe...,Which movies have the lowest number of actors ...,Film mana yang punya sedikit aktor dan belum p...,"['title', 'actor_count']",True
46,Which movie has been rented the most by custom...,"SELECT \r\n f.title, \r\n COUNT(*) AS re...",This SQL query identifies the most rented film...,Find the top 1 movie most frequently rented by...,Film mana yang paling banyak disewa oleh pelan...,"['title', 'rentals_count']",True

In [23]:
len(filtered_df)

18

In [24]:
MAX_RETRIES = 5
RETRY_DELAY = 2

In [25]:
import time
import ast

EA = 0
total_questions = len(filtered_df) * 2
results_list = []

for idx, row in filtered_df.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_baseline(user_prompt=question)
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you show me the actor_id, first_name, and last_name of actors with the first name Scarlett?
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name ILIKE 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: Bisa kasih daftar actor_id, first_name, dan last_name dari aktor yang nama depannya Scarlett?
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 0.0000

Processing Question 2.1: How many different last_name values are there among all the actors?
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor
Execution Accuracy: 1.0000

Processing Question 2.2: Total ada berapa nama belakang (last_name) aktor yang beda-beda?
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor
Execution Accuracy: 1.0000

Processing Question 3.1: Who’s the top 1 actor that’s been in the most films? Just show me their actor_id, first_name, and last_name.
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE actor_id IN (SELECT actor_id FROM film_actor GROUP BY actor_id ORDER BY COUNT(film_id) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 3.2: Siapa aktor top 1 yang paling sering main film? Kasih tau actor_id, first_name, sama last_name-nya aja ya.
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE actor_id IN (SELECT actor_id FROM film_actor GROUP BY actor_id ORDER BY COUNT(film_id) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 4.1: What are the top 5 film genres that brought in the highest revenue by looking from the payments in all store? Just show the genre names, sorted from the highest.
Generated SQL Query: SELECT c.name
FROM payment AS p
JOIN rental AS r ON p.rental_id = r.rental_id
JOIN inventory AS i ON r.inventory_id = i.inventory_id
JOIN film_category AS fc ON i.film_id = fc.film_id
JOIN category AS c ON fc.category_id = c.category_id
GROUP BY c.name
ORDER BY SUM(p.amount) DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Apa aja 5 genre film dengan pemasukan tertinggi dengan melihat pembayaran di semua toko? Cukup tampilkan nama genre-nya, urut dari yang paling banyak.
Generated SQL Query: SELECT c.name
FROM category AS c
JOIN film_category AS fc ON c.category_id = fc.category_id
JOIN film AS f ON fc.film_id = f.film_id
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN payment AS p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY SUM(p.amount) DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much revenue did each store make, looking from the staff's payments? Just show me the store_id and total revenue, sorted from highest to lowest.
Generated SQL Query: SELECT staff.store_id, SUM(payment.amount) AS total_revenue
FROM staff
JOIN payment ON staff.staff_id = payment.staff_id
GROUP BY staff.store_id
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 5.2: Tiap toko dapet pemasukan berapa kalau dilihat dari pembayaran oleh staffnya? Tampilkan store_id sama total pemasukannya aja, urut dari yang paling besar.
Generated SQL Query: SELECT store_id, SUM(amount) AS total_pemasukan
FROM payment p JOIN staff s ON p.staff_id = s.staff_id
GROUP BY store_id
ORDER BY total_pemasukan DESC;
Execution Accuracy: 1.0000

Processing Question 6.1: Which language shows up the most in our movie list? Just give me the top 1 language name.
Generated SQL Query: SELECT name FROM language WHERE language_id IN (SELECT language_id FROM film GROUP BY language_id ORDER BY COUNT(*) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 6.2: Bahasa apa yang paling sering muncul di daftar film kita? Cukup kasih nama bahasa yang jadi top 1 aja.
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY COUNT(*) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 7.1: Who are the top 5 customers based on how many movies they've rented? Show their customer ID, first name, last name, and total number of rentals, sorted from highest to lowest.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer AS c
JOIN rental AS r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Siapa sih 5 pelanggan yang paling sering nyewa film? Tunjukin customer ID, nama depan, nama belakang, sama total film yang mereka sewa, urut dari yang paling banyak ya.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer AS c
JOIN rental AS r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that have never been rented at all, across any store? I need the film ID, title, and release year.
Generated SQL Query: SELECT film_id, title, release_year FROM film EXCEPT SELECT f.film_id, f.title, f.release_year FROM film f JOIN inventory i ON f.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id
Execution Accuracy: 1.0000

Processing Question 9.2: Ada nggak film di koleksi kita yang belum pernah disewa sama sekali di semua store? Aku butuh film ID, judul, dan tahun rilisnya.
Generated SQL Query: SELECT film_id, title, release_year FROM film EXCEPT SELECT f.film_id, f.title, f.release_year FROM film f JOIN inventory i ON f.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id
Execution Accuracy: 1.0000

Processing Question 10.1: How much total revenue has each actor generated from the movies they've appeared in by looking from the payments of all store? Show the actor ID, first name, last name, and total revenue, sorted from highest to lowest.
Generated SQL Query: SELECT A.actor_id, A.first_name, A.last_name, SUM(P.amount) AS total_revenue
FROM actor AS A
JOIN film_actor AS FA ON A.actor_id = FA.actor_id
JOIN film AS F ON FA.film_id = F.film_id
JOIN inventory AS I ON F.film_id = I.film_id
JOIN rental AS R ON I.inventory_id = R.inventory_id
JOIN payment AS P ON R.rental_id = P.rental_id
GROUP BY A.actor_id, A.first_name, A.last_name
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 10.2: Berapa total pemasukan yang dihasilkan tiap aktor dari film yang mereka bintangi dengan melihat pembayaran di seluruh toko? Tampilkan ID aktor, nama depan, nama belakang, dan total pendapatannya, diurutkan dari yang paling besar.
Generated SQL Query: SELECT actor.actor_id, actor.first_name, actor.last_name, SUM(payment.amount) AS total_revenue
FROM actor
JOIN film_actor ON actor.actor_id = film_actor.actor_id
JOIN film ON film_actor.film_id = film.film_id
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
JOIN payment ON rental.rental_id = payment.rental_id
GROUP BY actor.actor_id, actor.first_name, actor.last_name
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which staff member handled the highest total payment? Just show their staff ID and the total amount they processed.
Generated SQL Query: SELECT staff_id, SUM(amount) AS total_amount
FROM payment
GROUP BY staff_id
ORDER BY total_amount DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Siapa staf yang memproses pembayaran dengan total terbesar? Tampilkan ID staf dan total jumlah yang mereka proses.
Generated SQL Query: SELECT staff_id, SUM(amount) AS total_amount
FROM payment
GROUP BY staff_id
ORDER BY total_amount DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 14.1: Which pairs of actors have appeared together in the most films? Show only the actor IDs for each pair and how many films they've worked on together, sorted from most to least.
Generated SQL Query: SELECT fa1.actor_id, fa2.actor_id, COUNT(*) AS film_count
FROM film_actor fa1
JOIN film_actor fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
GROUP BY fa1.actor_id, fa2.actor_id
ORDER BY film_count DESC;
Execution Accuracy: 1.0000

Processing Question 14.2: Pasangan aktor mana saja yang paling sering main film bareng? Tampilkan ID kedua aktor dan jumlah film yang mereka bintangi bersama, urut dari yang paling banyak.
Generated SQL Query: SELECT fa1.actor_id AS actor1_id, fa2.actor_id AS actor2_id, COUNT(*) AS film_count
FROM film_actor fa1
JOIN film_actor fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
GROUP BY fa1.actor_id, fa2.actor_id
ORDER BY film_count DESC;
Execution Accuracy: 1.0000

Processing Question 17.1: Which movie has the highest average rental duration per customer? Show the film ID, title, and average rental duration. Just return the top 1.
Generated SQL Query: SELECT f.film_id, f.title, AVG(r.return_date - r.rental_date) AS average_rental_duration
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY average_rental_duration DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 17.2: Film mana yang punya rata-rata waktu sewa paling lama per pelanggan? Tampilkan ID film, judul, dan rata-rata durasi sewanya. Cukup ambil satu yang paling tinggi.
Generated SQL Query: SELECT f.film_id, f.title, AVG(r.return_date - r.rental_date) AS avg_rental_duration
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY avg_rental_duration DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 18.1: Which staff member has processed the most payments, and what is the total amount they’ve handled? Show the staff ID, first name, last name, and total amount. Just return the top 1.
Generated SQL Query: SELECT staff.staff_id, staff.first_name, staff.last_name, SUM(payment.amount) AS total_amount
FROM staff
JOIN payment ON staff.staff_id = payment.staff_id
GROUP BY staff.staff_id, staff.first_name, staff.last_name
ORDER BY total_amount DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 18.2: Siapa staf yang paling banyak memproses pembayaran, dan berapa total yang mereka proses? Tampilkan ID staf, nama depan, nama belakang, dan total jumlahnya. Cukup ambil satu yang paling atas.
Generated SQL Query: SELECT staff_id, first_name, last_name, SUM(amount) AS total_amount
FROM payment p JOIN staff s ON p.staff_id = s.staff_id
GROUP BY staff_id, first_name, last_name
ORDER BY total_amount DESC
LIMIT 1;
Error executing query: column reference "staff_id" is ambiguous
LINE 1: SELECT staff_id, first_name, last_name, SUM(amount) AS total...
               ^

Evaluation error: column reference "staff_id" is ambiguous
LINE 1: SELECT staff_id, first_name, last_name, SUM(amount) AS total...
               ^

Execution Accuracy: 0.0000

Processing Question 25.1: Which actors have never appeared in any films with a rating of 'R'? Show the actor ID, first name, and last name.
Generated SQL Query: SELECT actor_id, first_name, last_name
FROM actor
WHERE actor_id NOT IN (
    SELECT fa.actor_id
    FROM film_actor fa
    JOIN film f ON fa.film_id = f.film_id
    WHERE f.rating = 'R'
);
Execution Accuracy: 1.0000

Processing Question 25.2: Aktor mana yang belum pernah main di film manapun dengan rating 'R'? Tampilkan ID aktor, nama depan, dan nama belakang.
Generated SQL Query: SELECT actor_id, first_name, last_name
FROM actor
WHERE actor_id NOT IN (
    SELECT fa.actor_id
    FROM film_actor fa
    JOIN film f ON fa.film_id = f.film_id
    WHERE f.rating = 'R'
);
Execution Accuracy: 1.0000

Processing Question 26.1: Get the top 1 film with the highest replacement cost among those that have never been rented in any store. Show the film ID, title, and replacement cost.
Generated SQL Query: SELECT film_id, title, replacement_cost FROM film WHERE film_id NOT IN (SELECT film_id FROM inventory) ORDER BY replacement_cost DESC LIMIT 1
Execution Accuracy: 1.0000

Processing Question 26.2: Ambil 1 film dengan biaya ganti tertinggi yang belum pernah disewa di toko mana pun. Tampilkan ID film, judul, dan biaya ganti.
Generated SQL Query: SELECT film_id, title, replacement_cost
FROM film
WHERE film_id NOT IN (SELECT film_id FROM inventory)
ORDER BY replacement_cost DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 34.1: List the movies that have been rented under 10 times in total. Include each movie’s title and the number of times it has been rented. Order the results by title alphabetically.
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.title
HAVING COUNT(r.rental_id) < 10
ORDER BY f.title;
Execution Accuracy: 0.0000

Processing Question 34.2: Film apa saja yang telah disewa kurang dari 10 kali secara keseluruhan? Tampilkan judul film dan jumlah total penyewaannya, lalu urutkan hasilnya berdasarkan judul secara alfabet.
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS total_rentals
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.title
HAVING COUNT(r.rental_id) < 10
ORDER BY f.title;
Execution Accuracy: 0.0000

Processing Question 39.1: Which movies have the lowest number of actors and have never been rented in all stores? Show the movie title and number of actors. Get top 1
Generated SQL Query: SELECT f.title, COUNT(fa.actor_id) AS num_actors
FROM film AS f
JOIN film_actor AS fa ON f.film_id = fa.film_id
LEFT JOIN inventory AS i ON f.film_id = i.film_id
LEFT JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.title
HAVING COUNT(r.rental_id) = 0
ORDER BY num_actors ASC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 39.2: Film mana yang punya sedikit aktor dan belum pernah disewa di toko manapun? Tampilkan judul film dan jumlah aktor. Dapatkan top 1
Generated SQL Query: SELECT f.title, COUNT(fa.actor_id) AS num_actors
FROM film AS f
JOIN film_actor AS fa ON f.film_id = fa.film_id
LEFT JOIN inventory AS i ON f.film_id = i.film_id
WHERE i.inventory_id IS NULL
GROUP BY f.title
ORDER BY num_actors ASC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 47.1: Find the top 1 movie most frequently rented by customers who are no longer active. Display the title and the rental count. Sort by film title too
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN customer AS c ON r.customer_id = c.customer_id
WHERE c.activebool = FALSE
GROUP BY f.title
ORDER BY rental_count DESC, f.title
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 47.2: Film mana yang paling banyak disewa oleh pelanggan dan sedang tidak aktif? Tampilkan judul film dan jumlah rentalnya. Dapatkan top 1 dan urutkan juga berdasarkan judulnya
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN customer AS c ON r.customer_id = c.customer_id
WHERE NOT c.activebool
GROUP BY f.title
ORDER BY rental_count DESC, f.title
LIMIT 1;
Execution Accuracy: 0.0000

Final Execution Accuracy: 0.7500

In [26]:
df_results_partial_baseline = pd.DataFrame(results_list)
df_results_partial_baseline.to_csv(f"{output_dir}/{MODEL}_{DATABASE}_partial_baseline.csv", index=False)

In [27]:
import time
import ast

EA = 0
total_questions = len(filtered_df) * 2
results_list = []

for idx, row in filtered_df.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.predict_sql_schema_only(user_prompt=question)
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you show me the actor_id, first_name, and last_name of actors with the first name Scarlett?
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name ILIKE 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: Bisa kasih daftar actor_id, first_name, dan last_name dari aktor yang nama depannya Scarlett?
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 0.0000

Processing Question 2.1: How many different last_name values are there among all the actors?
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor
Execution Accuracy: 1.0000

Processing Question 2.2: Total ada berapa nama belakang (last_name) aktor yang beda-beda?
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor
Execution Accuracy: 1.0000

Processing Question 3.1: Who’s the top 1 actor that’s been in the most films? Just show me their actor_id, first_name, and last_name.
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE actor_id IN (SELECT actor_id FROM film_actor GROUP BY actor_id ORDER BY COUNT(film_id) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 3.2: Siapa aktor top 1 yang paling sering main film? Kasih tau actor_id, first_name, sama last_name-nya aja ya.
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE actor_id IN (SELECT actor_id FROM film_actor GROUP BY actor_id ORDER BY COUNT(film_id) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 4.1: What are the top 5 film genres that brought in the highest revenue by looking from the payments in all store? Just show the genre names, sorted from the highest.
Generated SQL Query: SELECT c.name
FROM payment AS p
JOIN rental AS r ON p.rental_id = r.rental_id
JOIN inventory AS i ON r.inventory_id = i.inventory_id
JOIN film_category AS fc ON i.film_id = fc.film_id
JOIN category AS c ON fc.category_id = c.category_id
GROUP BY c.name
ORDER BY SUM(p.amount) DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Apa aja 5 genre film dengan pemasukan tertinggi dengan melihat pembayaran di semua toko? Cukup tampilkan nama genre-nya, urut dari yang paling banyak.
Generated SQL Query: SELECT c.name
FROM category AS c
JOIN film_category AS fc ON c.category_id = fc.category_id
JOIN inventory AS i ON fc.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN payment AS p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY SUM(p.amount) DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much revenue did each store make, looking from the staff's payments? Just show me the store_id and total revenue, sorted from highest to lowest.
Generated SQL Query: SELECT staff.store_id, SUM(payment.amount) AS total_revenue
FROM staff
JOIN payment ON staff.staff_id = payment.staff_id
GROUP BY staff.store_id
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 5.2: Tiap toko dapet pemasukan berapa kalau dilihat dari pembayaran oleh staffnya? Tampilkan store_id sama total pemasukannya aja, urut dari yang paling besar.
Generated SQL Query: SELECT store_id, SUM(amount) AS total_pemasukan
FROM payment AS p
JOIN staff AS s ON p.staff_id = s.staff_id
GROUP BY store_id
ORDER BY total_pemasukan DESC;
Execution Accuracy: 1.0000

Processing Question 6.1: Which language shows up the most in our movie list? Just give me the top 1 language name.
Generated SQL Query: SELECT name FROM language WHERE language_id IN (SELECT language_id FROM film GROUP BY language_id ORDER BY COUNT(*) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 6.2: Bahasa apa yang paling sering muncul di daftar film kita? Cukup kasih nama bahasa yang jadi top 1 aja.
Generated SQL Query: SELECT name FROM language WHERE language_id IN (SELECT language_id FROM film GROUP BY language_id ORDER BY COUNT(*) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 7.1: Who are the top 5 customers based on how many movies they've rented? Show their customer ID, first name, last name, and total number of rentals, sorted from highest to lowest.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer AS c
JOIN rental AS r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Siapa sih 5 pelanggan yang paling sering nyewa film? Tunjukin customer ID, nama depan, nama belakang, sama total film yang mereka sewa, urut dari yang paling banyak ya.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer AS c
JOIN rental AS r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that have never been rented at all, across any store? I need the film ID, title, and release year.
Generated SQL Query: SELECT film_id, title, release_year FROM film EXCEPT SELECT f.film_id, f.title, f.release_year FROM film f JOIN inventory i ON f.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id
Execution Accuracy: 1.0000

Processing Question 9.2: Ada nggak film di koleksi kita yang belum pernah disewa sama sekali di semua store? Aku butuh film ID, judul, dan tahun rilisnya.
Generated SQL Query: SELECT film_id, title, release_year
FROM film
EXCEPT
SELECT f.film_id, f.title, f.release_year
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id;
Execution Accuracy: 1.0000

Processing Question 10.1: How much total revenue has each actor generated from the movies they've appeared in by looking from the payments of all store? Show the actor ID, first name, last name, and total revenue, sorted from highest to lowest.
Generated SQL Query: SELECT A.actor_id, A.first_name, A.last_name, SUM(P.amount) AS total_revenue
FROM actor AS A
JOIN film_actor AS FA ON A.actor_id = FA.actor_id
JOIN film AS F ON FA.film_id = F.film_id
JOIN inventory AS I ON F.film_id = I.film_id
JOIN rental AS R ON I.inventory_id = R.inventory_id
JOIN payment AS P ON R.rental_id = P.rental_id
GROUP BY A.actor_id, A.first_name, A.last_name
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 10.2: Berapa total pemasukan yang dihasilkan tiap aktor dari film yang mereka bintangi dengan melihat pembayaran di seluruh toko? Tampilkan ID aktor, nama depan, nama belakang, dan total pendapatannya, diurutkan dari yang paling besar.
Generated SQL Query: SELECT fa.actor_id, a.first_name, a.last_name, SUM(p.amount) AS total_revenue
FROM payment AS p
JOIN rental AS r ON p.rental_id = r.rental_id
JOIN inventory AS i ON r.inventory_id = i.inventory_id
JOIN film AS f ON i.film_id = f.film_id
JOIN film_actor AS fa ON f.film_id = fa.film_id
JOIN actor AS a ON fa.actor_id = a.actor_id
GROUP BY fa.actor_id, a.first_name, a.last_name
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which staff member handled the highest total payment? Just show their staff ID and the total amount they processed.
Generated SQL Query: SELECT staff_id, SUM(amount) AS total_amount FROM payment GROUP BY staff_id ORDER BY total_amount DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Siapa staf yang memproses pembayaran dengan total terbesar? Tampilkan ID staf dan total jumlah yang mereka proses.
Generated SQL Query: SELECT staff_id, SUM(amount) AS total_amount
FROM payment
GROUP BY staff_id
ORDER BY total_amount DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 14.1: Which pairs of actors have appeared together in the most films? Show only the actor IDs for each pair and how many films they've worked on together, sorted from most to least.
Generated SQL Query: SELECT fa1.actor_id, fa2.actor_id, COUNT(*) AS film_count
FROM film_actor fa1
JOIN film_actor fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
GROUP BY fa1.actor_id, fa2.actor_id
ORDER BY film_count DESC;
Execution Accuracy: 1.0000

Processing Question 14.2: Pasangan aktor mana saja yang paling sering main film bareng? Tampilkan ID kedua aktor dan jumlah film yang mereka bintangi bersama, urut dari yang paling banyak.
Generated SQL Query: SELECT fa1.actor_id AS actor1_id, fa2.actor_id AS actor2_id, COUNT(*) AS film_count
FROM film_actor fa1
JOIN film_actor fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
GROUP BY fa1.actor_id, fa2.actor_id
ORDER BY film_count DESC;
Execution Accuracy: 1.0000

Processing Question 17.1: Which movie has the highest average rental duration per customer? Show the film ID, title, and average rental duration. Just return the top 1.
Generated SQL Query: SELECT f.film_id, f.title, AVG(r.return_date - r.rental_date) AS average_rental_duration
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY average_rental_duration DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 17.2: Film mana yang punya rata-rata waktu sewa paling lama per pelanggan? Tampilkan ID film, judul, dan rata-rata durasi sewanya. Cukup ambil satu yang paling tinggi.
Generated SQL Query: SELECT f.film_id, f.title, AVG(rental.return_date - rental.rental_date) AS avg_rental_duration
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental ON i.inventory_id = rental.inventory_id
GROUP BY f.film_id, f.title
ORDER BY avg_rental_duration DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 18.1: Which staff member has processed the most payments, and what is the total amount they’ve handled? Show the staff ID, first name, last name, and total amount. Just return the top 1.
Generated SQL Query: SELECT staff.staff_id, staff.first_name, staff.last_name, SUM(payment.amount) AS total_amount
FROM staff
JOIN payment ON staff.staff_id = payment.staff_id
GROUP BY staff.staff_id, staff.first_name, staff.last_name
ORDER BY total_amount DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 18.2: Siapa staf yang paling banyak memproses pembayaran, dan berapa total yang mereka proses? Tampilkan ID staf, nama depan, nama belakang, dan total jumlahnya. Cukup ambil satu yang paling atas.
Generated SQL Query: SELECT staff_id, first_name, last_name, SUM(amount) AS total_amount
FROM payment AS pay
JOIN staff AS st ON pay.staff_id = st.staff_id
GROUP BY staff_id, first_name, last_name
ORDER BY total_amount DESC
LIMIT 1;
Error executing query: column reference "staff_id" is ambiguous
LINE 1: SELECT staff_id, first_name, last_name, SUM(amount) AS total...
               ^

Evaluation error: column reference "staff_id" is ambiguous
LINE 1: SELECT staff_id, first_name, last_name, SUM(amount) AS total...
               ^

Execution Accuracy: 0.0000

Processing Question 25.1: Which actors have never appeared in any films with a rating of 'R'? Show the actor ID, first name, and last name.
Generated SQL Query: SELECT actor_id, first_name, last_name
FROM actor
WHERE actor_id NOT IN (
    SELECT fa.actor_id
    FROM film_actor fa
    JOIN film f ON fa.film_id = f.film_id
    WHERE f.rating = 'R'
);
Execution Accuracy: 1.0000

Processing Question 25.2: Aktor mana yang belum pernah main di film manapun dengan rating 'R'? Tampilkan ID aktor, nama depan, dan nama belakang.
Generated SQL Query: SELECT actor_id, first_name, last_name
FROM actor
WHERE actor_id NOT IN (
    SELECT fa.actor_id
    FROM film_actor fa
    JOIN film f ON fa.film_id = f.film_id
    WHERE f.rating = 'R'
);
Execution Accuracy: 1.0000

Processing Question 26.1: Get the top 1 film with the highest replacement cost among those that have never been rented in any store. Show the film ID, title, and replacement cost.
Generated SQL Query: SELECT film_id, title, replacement_cost FROM film WHERE film_id NOT IN (SELECT film_id FROM inventory WHERE inventory_id IN (SELECT inventory_id FROM rental)) ORDER BY replacement_cost DESC LIMIT 1
Execution Accuracy: 1.0000

Processing Question 26.2: Ambil 1 film dengan biaya ganti tertinggi yang belum pernah disewa di toko mana pun. Tampilkan ID film, judul, dan biaya ganti.
Generated SQL Query: SELECT film_id, title, replacement_cost
FROM film
WHERE film_id NOT IN (SELECT film_id FROM inventory)
ORDER BY replacement_cost DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 34.1: List the movies that have been rented under 10 times in total. Include each movie’s title and the number of times it has been rented. Order the results by title alphabetically.
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.title
HAVING COUNT(r.rental_id) < 10
ORDER BY f.title;
Execution Accuracy: 0.0000

Processing Question 34.2: Film apa saja yang telah disewa kurang dari 10 kali secara keseluruhan? Tampilkan judul film dan jumlah total penyewaannya, lalu urutkan hasilnya berdasarkan judul secara alfabet.
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS total_rentals
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.title
HAVING COUNT(r.rental_id) < 10
ORDER BY f.title;
Execution Accuracy: 0.0000

Processing Question 39.1: Which movies have the lowest number of actors and have never been rented in all stores? Show the movie title and number of actors. Get top 1
Generated SQL Query: SELECT f.title, COUNT(fa.actor_id) AS num_actors
FROM film AS f
JOIN film_actor AS fa ON f.film_id = fa.film_id
LEFT JOIN inventory AS i ON f.film_id = i.film_id
LEFT JOIN rental AS r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL
GROUP BY f.title
ORDER BY num_actors
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 39.2: Film mana yang punya sedikit aktor dan belum pernah disewa di toko manapun? Tampilkan judul film dan jumlah aktor. Dapatkan top 1
Generated SQL Query: SELECT f.title, COUNT(fa.actor_id) AS num_actors
FROM film AS f
JOIN film_actor AS fa ON f.film_id = fa.film_id
LEFT JOIN inventory AS i ON f.film_id = i.film_id
WHERE i.inventory_id IS NULL
GROUP BY f.title
ORDER BY num_actors ASC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 47.1: Find the top 1 movie most frequently rented by customers who are no longer active. Display the title and the rental count. Sort by film title too
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN customer AS c ON r.customer_id = c.customer_id
WHERE c.activebool = FALSE
GROUP BY f.title
ORDER BY rental_count DESC, f.title
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 47.2: Film mana yang paling banyak disewa oleh pelanggan dan sedang tidak aktif? Tampilkan judul film dan jumlah rentalnya. Dapatkan top 1 dan urutkan juga berdasarkan judulnya
Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN customer AS c ON r.customer_id = c.customer_id
WHERE c.activebool = FALSE
GROUP BY f.title
ORDER BY rental_count DESC, f.title
LIMIT 1;
Execution Accuracy: 0.0000

Final Execution Accuracy: 0.7500

In [28]:
df_results_partial_schema_linker = pd.DataFrame(results_list)
df_results_partial_schema_linker.to_csv(f"{output_dir}/{MODEL}_{DATABASE}_partial_schema_linker.csv", index=False)