# Import Libraries

In [1]:
import sys
import os

notebook_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(notebook_dir, '..'))

if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

In [2]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv
from datetime import datetime

import pandas as pd
import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Constants

In [3]:
MAX_RETRIES = 5
RETRY_DELAY = 2
DATABASE = "northwind"
MODEL = "deepseek-chat"
PROVIDER = "deepseek"

# Load Environment

In [4]:
load_dotenv()

True

# Set Timestamp Experiment

In [5]:
timestamp = datetime.now().strftime("%Y_%m_%d_%H_%M")
output_dir = f"../files/experiment_result/{timestamp}"
os.makedirs(output_dir, exist_ok=True)

# Config

In [6]:
db_key = DATABASE.upper().replace("-", "_")
provider_key = PROVIDER.upper().replace("-", "_")

config = Config(
    max_retry_attempt=5,
    rewriter_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
        schema_path=f"../files/schema/{DATABASE}.txt",
        metadata_path=f"../files/metadata/{DATABASE}.json",
    ),
    retrieve_context_config=ContextConfig(data_path=f"../files/dataset/dataset_{DATABASE}.csv"),
    query_executor_config = QueryConfig(
        host=os.getenv(f"DB_HOST_{db_key}"),
        database=os.getenv(f"DB_DATABASE_{db_key}"),
        user=os.getenv(f"DB_USER_{db_key}"),
        password=os.getenv(f"DB_PASSWORD_{db_key}"),
        port=os.getenv(f"DB_PORT_{db_key}"),
    ),
)

# Model

In [7]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for deepseek using model deepseek-chat.
Initializing API client for deepseek using model deepseek-chat.
Initializing API client for deepseek using model deepseek-chat.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Import Dataset

In [8]:
dataset = pd.read_csv(f"../files/dataset/dataset_{DATABASE}.csv")

In [9]:
dataset

,Question,Answer,Summary,Alternative Prompt 1 (English),Alternative Prompt 2 (Bahasa Indonesia),Expected Result
0,How much total revenue did we make in 1997? Sh...,SELECT SUM(od.unit_price * od.quantity * (1.0 ...,This SQL query calculates the total revenue ge...,How much money did we make in 1997 total? Show...,Total pendapatan kita tahun 1997 berapa sih? T...,['total_revenue_1997']
1,How much has each customer paid us in total? S...,"SELECT c.company_name, SUM(od.unit_price * od....",This SQL query calculates the total revenue ge...,How much has each customer paid overall? Show ...,Tiap customer udah bayar ke kita totalnya bera...,"['company_name', 'total']"
2,What are the top 10 best-selling products base...,"SELECT p.product_name, SUM(od.unit_price * od....",This SQL query identifies the top 10 best-sell...,"What are our top 10 most sold products, lookin...",10 produk paling laku berdasarkan pendapatan s...,"['product_name', 'sales']"
3,Which customers from the UK have paid us more ...,"SELECT c.contact_name,\n SUM(od.unit_pri...",This SQL query identifies UK-based customers w...,Which UK customers paid more than $1000? Show ...,Customer dari UK yang bayar lebih dari $1000 s...,"['contact_name', 'payments']"
4,How much revenue has each customer generated i...,"SELECT c.customer_id, c.company_name, c.countr...",This SQL query analyzes customer spending patt...,"How much has each customer paid in total, incl...",Berapa total pembayaran yang dilakukan oleh se...,"['customer_id', 'company_name', 'country', 'cu..."
5,Which top 1 employee have handled the most ord...,"SELECT e.employee_id, e.first_name, e.last_nam...",This SQL query identifies the top 1 employee b...,Which top 1 employee handled the most orders? ...,Top 1 Karyawan mana yang paling banyak urus or...,"['employee_id', 'first_name', 'last_name', 'to..."
6,What are the top 5 countries by total number o...,"SELECT country, COUNT(customer_id) AS total_cu...",This SQL query identifies the top 5 countries ...,Top 5 countries with the most customers? Show ...,5 negara dengan jumlah customer terbanyak? Tam...,"['country', 'total_customers']"
7,Which top 1 supplier provide the most products...,"SELECT s.supplier_id, s.company_name, COUNT(p....",This SQL query analyzes supplier product offer...,Which top 1 supplier offer the most products? ...,Top 1 supplier mana yang punya produk paling b...,"['supplier_id', 'company_name', 'product_count']"
8,What are the total units sold per product? Sho...,"SELECT p.product_id, p.product_name, SUM(od.qu...",This SQL query analyzes product sales performa...,How many units sold for each product? Show 'pr...,Total unit terjual per produk? Tampilkan 'prod...,"['product_id', 'product_name', 'total_units_so..."
9,Which top 1 region has the most territories? S...,"SELECT r.region_id, COUNT(t.territory_id) AS t...",This SQL query counts the number of territorie...,Which top 1 region have the most territories? ...,Top 1 region mana yang punya territory paling ...,"['region_id', 'total_territories']"
10,Which top 1 shipper was used the most for deli...,"SELECT s.shipper_id, s.company_name, COUNT(o.o...",This SQL query identifies the shipper with the...,Which top 1 shipping company was used the most...,Top 1 shipper mana yang paling sering dipakai?...,"['shipper_id', 'company_name', 'shipment_count']"
11,What is the total freight cost per country? Sh...,"SELECT ship_country, SUM(freight) AS total_fre...",This SQL query calculates the total freight co...,Total freight costs per country? Show 'ship_co...,Total ongkir per negara berapa aja? Tampilkan ...,"['ship_country', 'total_freight']"
12,Which top 1 employee has the highest total sal...,"SELECT e.employee_id, e.first_name, e.last_nam...",This SQL query identifies the top-performing e...,"Who top 1 sold the most? Show 'employee_id', '...",Top 1 karyawan mana yang hasilin penjualan pal...,"['employee_id', 'first_name', 'last_name', 'to..."
13,Which top 1 product has generated the highest ...,"SELECT p.product_id, p.product_name,\n SUM(od...",This SQL query identifies the highest-grossing...,Which top 1 product made the most money? Show ...,Top 1 produk mana yang hasilin duit paling ban...,"['product_id', 'product_name', 'revenue']"
14,What is the average number of orders per custo...,SELECT COUNT(DISTINCT c.customer_id) AS total_...,This SQL query calculates key customer engagem...,"On average, how many times each customer order...",Rata-rata order per customer berapa? Tampilkan...,"['total_customers', 'total_orders', 'average_o..."
15,Which top 1 category has the most products? Sh...,"SELECT c.category_id, c.category_name, COUNT(p...",This SQL query identifies the product category...,Which top 1 category has the most products? Sh...,Top 1 kategori mana yang punya produk paling b...,"['category_id', 'category_name', 'product_count']"
16,What is the monthly revenue in 1997? Show mont...,"SELECT\r\n to_char(o.order_date, 'YYYY-MM') A...",This SQL query analyzes monthly revenue trends...,"Monthly revenue for 1997? Show 'month', 'month...",Pendapatan per bulan selama 1997? Tampilkan 'm...,"['month', 'monthly_revenue']"
17,What are the top 3 cities with the highest num...,"SELECT ship_city AS city, COUNT(order_id) AS t...",This SQL query identifies the top 3 cities wit...,Top 3 cities with the most orders? Show 'city'...,3 kota dengan jumlah order terbanyak? Tampilka...,"['city', 'total_orders']"
18,Which top customer has bought the most differe...,"SELECT\n c.customer_id,\n c.company_name,\n ...",This SQL query identifies the customer who has...,Who’s the top customer that bought the most di...,Top 1 customer mana yang membeli produk paling...,"['customer_id', 'company_name', 'distinct_prod..."
19,Which top 5 suppliers ship the highest average...,"SELECT s.supplier_id, s.company_name, AVG(p.un...",This SQL query identifies the top 5 suppliers ...,Which top 5 suppliers ship the priciest stuff ...,Top 5 supplier mana yang ngirim produk paling ...,"['supplier_id', 'company_name', 'average_price']"
20,What is the average discount given per order? ...,"SELECT order_id, AVG(discount) AS average_disc...",This SQL query identifies the top 10 orders wi...,What’s the average discount per order? Show 'o...,Rata-rata diskon per order berapa? Tampilkan '...,"['order_id', 'average_discount']"
21,Which top 5 employees are assigned to territor...,"SELECT e.employee_id, e.first_name, e.last_nam...",This SQL query identifies the top 5 employees ...,Who are the top 5 employees working across the...,Siapa 5 karyawan teratas yang menangani wilaya...,"['employee_id', 'first_name', 'last_name', 're..."
22,"Which customers have ordered more than 10,000 ...","SELECT c.customer_id, c.company_name, SUM(od.q...",This SQL query identifies high-volume customer...,"Which customers ordered over 10,000 units? Sho...",Customer siapa saja yang total order-nya lebih...,"['customer_id', 'company_name', 'total_units_o..."
23,Which year had the highest total order revenue...,SELECT EXTRACT(YEAR FROM o.order_date) AS year...,This SQL query identifies the highest-grossing...,Which year made the most revenue? Show 'year' ...,Tahun mana yang pendapatannya paling tinggi? T...,"['year', 'total_revenue']"
24,Which product category has the highest average...,"SELECT c.category_id, c.category_name, AVG(p.u...",This SQL query identifies the product category...,Which product category has the highest average...,Top 1 kategori produk mana yang harga rata-rat...,"['category_id', 'category_name', 'average_price']"
25,Which top 1 employee manages the most other em...,"SELECT e.employee_id, e.first_name, e.last_nam...",This SQL query identifies the employee with th...,Which top 1 employee manages the most subordin...,Top 1 karyawan mana yang punya bawahan paling ...,"['employee_id', 'first_name', 'last_name', 're..."
26,Which products are currently out of stock? Sho...,"SELECT product_id, product_name, units_in_stoc...",This SQL query identifies out-of-stock product...,Which products are out of stock now? Show 'pro...,Produk apa aja yang lagi kosong stoknya? Tampi...,"['product_id', 'product_name', 'units_in_stock']"
27,Which top 1 country has the most suppliers? Sh...,"SELECT country, COUNT(*) AS supplier_count\n ...",This SQL query identifies the country with the...,Which top 1 country has the most suppliers? Sh...,Top 1 negara mana yang punya supplier paling b...,"['country', 'supplier_count']"
28,Which top 3 cities have the highest number of ...,"SELECT city, COUNT(*) AS customer_count\n FRO...",This SQL query identifies the top 3 cities wit...,Which top 3 cities have the most customers? Sh...,Top 3 kota mana yang punya customer paling ban...,"['city', 'customer_count']"
29,What is the total number of discontinued produ...,"SELECT c.category_id, c.category_name, COUNT(p...",This SQL query analyzes product discontinuatio...,How many discontinued products are in each cat...,Jumlah produk discontinue per kategori gimana?...,"['category_id', 'category_name', 'discontinued..."
30,Which customers have not placed any orders? Sh...,"SELECT c.customer_id, c.company_name\n FROM c...",This SQL query identifies customers who have n...,Which customers never ordered anything? Show '...,Customer mana yang belum pernah order sama sek...,"['customer_id', 'company_name']"
31,Which top 1 shipper has the highest average fr...,"SELECT s.shipper_id, s.company_name, AVG(o.fre...",This SQL query identifies the shipper with the...,Which top 1 shipper has the highest average fr...,Top 1 shipper mana yang ongkir rata-ratanya pa...,"['shipper_id', 'company_name', 'avg_freight']"
32,Find the names of employees who have handled a...,"SELECT e.first_name, e.last_name, COUNT(o.orde...",This SQL query identifies high-performing empl...,Who handled at least 10 orders? Show 'first_na...,Karyawan siapa saja yang udah ngurus minimal 1...,"['first_name', 'last_name', 'total_orders_hand..."
33,Show the total amount of orders for each year/...,SELECT\n EXTRACT(YEAR FROM order_date) AS ord...,This SQL query analyzes monthly order trends b...,Total orders per year and month? Show 'order_y...,Jumlah order per tahun dan bulan berapa aja? T...,"['order_year', 'order_month', 'no_of_orders']"
34,Show the total number of customers in each reg...,"SELECT c.region, COUNT(c.customer_id) AS total...",This SQL query analyzes customer distribution ...,How many customers are there per region? Show ...,Jumlah customer per region berapa? Tampilkan '...,"['region', 'total_customers']"
35,List the product names and their suppliers for...,"SELECT p.product_name, s.company_name AS suppl...",This SQL query identifies products that have n...,List products that were never ordered and thei...,Produk yang belum pernah diorder dan suppliern...,"['product_name', 'supplier_name']"
36,Show the total number of employees per region ...,"SELECT r.region_description, COUNT(e.employee_...",This SQL query analyzes employee distribution ...,How many employees are there in each region? S...,Jumlah karyawan per region berapa? Tampilkan '...,"['region_description', 'total_employees']"
37,Find the employees who have never handled any ...,"SELECT first_name, last_name\nFROM employees\n...",This SQL query identifies employees who haven'...,Which employees never handled any orders? Show...,Siapa aja karyawan yang belum pernah ngurus or...,"['first_name', 'last_name']"
38,Show the product name and the reorder level of...,"SELECT product_name, units_in_stock, reorder_l...",This SQL query identifies products that need r...,Which products are below reorder level in stoc...,Produk apa aja yang stoknya udah di bawah leve...,"['product_name', 'units_in_stock', 'reorder_le..."
39,Find the employees who manage territories in m...,"SELECT e.first_name, e.last_name, COUNT(DISTIN...",This SQL query identifies employees who work a...,Which employees are assigned to territories th...,Karyawan siapa saja yang ngurus territory di l...,"['first_name', 'last_name', 'total_regions']"
40,Retrieve the orders that were shipped later th...,"SELECT o.order_id, c.company_name AS customer_...",This SQL query analyzes order fulfillment dela...,Which orders were shipped late? Show 'order_id...,Order mana saja yang dikirim lebih lambat dari...,"['order_id', 'customer_name', 'delay_in_days']"
41,Find the product that have been ordered the le...,"SELECT p.product_name, COALESCE(SUM(od.quantit...",This SQL query identifies the product with the...,Which product got ordered the least? Show 'pro...,Produk yang paling jarang diorder apa? Tampilk...,"['product_name', 'total_quantity_ordered']"
42,Find the total number of customers per country...,"SELECT country, COUNT(customer_id) AS total_cu...",This SQL query analyzes customer distribution ...,"Customers per country, most to least? Show 'co...","Jumlah customer per negara, dari yang paling b...","['country', 'total_customers']"
43,Retrieve the top 1 customer who placed the mos...,"SELECT c.contact_name AS customer_name, o.orde...",This SQL query identifies the highest-value or...,Who top 1 placed the most expensive order? Sho...,Top 1 customer mana yang pernah bikin order pa...,"['customer_name', 'order_id', 'order_value']"
44,List the top 3 employees who serve the most un...,"SELECT e.first_name, e.last_name, COUNT(DISTIN...",This SQL query identifies the top 3 employees ...,Top 3 employees with the most distinct custome...,Top 3 karyawan yang handle customer unik palin...,"['first_name', 'last_name', 'unique_customers']"
45,Find top 1 popular category of products based ...,"SELECT c.category_name, SUM(od.quantity) AS to...",This SQL query identifies the best-selling pro...,Top 1 popular category by quantity ordered? Sh...,Top 1 kategori produk paling populer berdasark...,"['category_name', 'total_quantity']"
46,Show the name of every customer (not company) ...,"SELECT c.contact_name AS customer_name, COUNT(...",This SQL query analyzes customer-employee rela...,Show customers (not company) and how many empl...,Tampilkan nama customer (bukan nama perusahaan...,"['customer_name', 'employee_count']"
47,Show the total number of orders per shipping c...,"SELECT ship_country, COUNT(order_id) AS total_...",This SQL query analyzes order distribution by ...,Total orders per country shipped to? Show 'shi...,Jumlah order per negara tujuan pengiriman bera...,"['ship_country', 'total_orders']"
48,Get the number of orders handled per shipper p...,"SELECT s.company_name AS shipper_name,\n ...",This SQL query analyzes shipping company perfo...,How many orders per shipper per year? Show 'sh...,Jumlah order per shipper per tahun berapa aja?...,"['shipper_name', 'order_year', 'order_count']"
49,"For each customer, show how many different pro...","SELECT c.contact_name AS customer_name, COUNT(...",This SQL query identifies customers who repeat...,How many different products has each customer ...,Berapa banyak produk berbeda yang pernah dibel...,"['customer_name', 'repeated_products']"

# Experiment V3

In [10]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_v3(user_prompt=question)
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: How much money did we make in 1997 total? Show it as '1997 Total Revenues'.
Generated SQL Query: SELECT SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS "1997 Total Revenues"
FROM order_details od
INNER JOIN orders o ON od.order_id = o.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 1997;
Execution Accuracy: 1.0000

Processing Question 1.2: Total pendapatan kita tahun 1997 berapa sih? Tampilkan sebagai '1997 Total Revenues'.
Generated SQL Query: SELECT SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS "1997 Total Revenues"
FROM order_details od
INNER JOIN orders o ON od.order_id = o.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 1997;
Execution Accuracy: 1.0000

Processing Question 2.1: How much has each customer paid overall? Show 'CompanyName' and total as 'Total'.
Generated SQL Query: SELECT c.company_name AS "CompanyName", SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS "Total"
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN order_details od ON od.order_id = o.order_id
GROUP BY c.company_name
ORDER BY "Total" DESC;
Execution Accuracy: 1.0000

Processing Question 2.2: Tiap customer udah bayar ke kita totalnya berapa? Tampilkan 'CompanyName' dan totalnya sebagai 'Total'.
Generated SQL Query: SELECT c.company_name, SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS total
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN order_details od ON od.order_id = o.order_id
GROUP BY c.company_name
ORDER BY total DESC;
Execution Accuracy: 1.0000

Processing Question 3.1: What are our top 10 most sold products, looking from revenue after getting discounted? Show 'ProductName' and 'Sales amount'.
Generated SQL Query: SELECT p.product_name, SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS total_sales
FROM products p
INNER JOIN order_details od ON p.product_id = od.product_id
GROUP BY p.product_name
ORDER BY total_sales DESC
LIMIT 10;
Execution Accuracy: 1.0000

Processing Question 3.2: 10 produk paling laku berdasarkan pendapatan setelah didiskonkan? Tampilkan 'ProductName' dan 'Sales amount'.
Generated SQL Query: SELECT p.product_name, SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS sales
FROM products p
INNER JOIN order_details od ON od.product_id = p.product_id
GROUP BY p.product_name
ORDER BY sales DESC
LIMIT 10;
Execution Accuracy: 1.0000

Processing Question 4.1: Which UK customers paid more than $1000? Show 'ContactName' and 'Payments'.
Generated SQL Query: SELECT c.contact_name,
       SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS payments
FROM customers c
INNER JOIN orders o ON o.customer_id = c.customer_id
INNER JOIN order_details od ON od.order_id = o.order_id
WHERE c.country = 'UK'
GROUP BY c.contact_name
HAVING SUM(od.unit_price * od.quantity * (1.0 - od.discount)) > 1000;
Execution Accuracy: 1.0000

Processing Question 4.2: Customer dari UK yang bayar lebih dari $1000 siapa aja? Tampilkan 'ContactName' dan 'Payments'.
Generated SQL Query: SELECT c.contact_name,
       SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS payments
FROM customers c
INNER JOIN orders o ON o.customer_id = c.customer_id
INNER JOIN order_details od ON od.order_id = o.order_id
WHERE c.country = 'UK'
GROUP BY c.contact_name
HAVING SUM(od.unit_price * od.quantity * (1.0 - od.discount)) > 1000;
Execution Accuracy: 1.0000

Processing Question 5.1: How much has each customer paid in total, including those who didn’t make any purchases, and how much of that was paid in 1997? Please include the CustomerID, CompanyName, and Country, and show the total revenue as Customer Total and the 1997 revenue as 1997, sorted by Customer Total.
Generated SQL Query: SELECT c.customer_id, c.company_name, c.country,
COALESCE(SUM(od.unit_price * od.quantity * (1.0 - od.discount)), 0) AS customer_total,
COALESCE((SELECT SUM(od2.unit_price * od2.quantity * (1.0 - od2.discount))
FROM orders o2 JOIN order_details od2 ON o2.order_id = od2.order_id
WHERE o2.customer_id = c.customer_id AND EXTRACT(YEAR FROM o2.order_date) = 1997), 0) AS revenue_1997
FROM customers c
LEFT JOIN orders o ON o.customer_id = c.customer_id
LEFT JOIN order_details od ON od.order_id = o.order_id
GROUP BY c.customer_id, c.company_name, c.country
ORDER BY customer_total;
Execution Accuracy: 1.0000

Processing Question 5.2: Berapa total pembayaran yang dilakukan oleh setiap customer, termasuk yang tidak melakukan pembelian sama sekali, dan berapa yang berasal dari tahun 1997? Tampilkan CustomerID, CompanyName, dan Country, serta total pendapatan sebagai Customer Total dan pendapatan tahun 1997 sebagai 1997, urutkan berdasarkan Customer Total.
Generated SQL Query: SELECT c.customer_id, c.company_name, c.country,
COALESCE(SUM(od.unit_price * od.quantity * (1.0 - od.discount)), 0) AS customer_total,
COALESCE((SELECT SUM(od2.unit_price * od2.quantity * (1.0 - od2.discount))
FROM orders o2
JOIN order_details od2 ON o2.order_id = od2.order_id
WHERE o2.customer_id = c.customer_id AND EXTRACT(YEAR FROM o2.order_date) = 1997), 0) AS revenue_1997
FROM customers c
LEFT JOIN orders o ON o.customer_id = c.customer_id
LEFT JOIN order_details od ON od.order_id = o.order_id
GROUP BY c.customer_id, c.company_name, c.country
ORDER BY customer_total;
Execution Accuracy: 1.0000

Processing Question 6.1: Which top 1 employee handled the most orders? Show 'employee_id', 'first_name', 'last_name', 'total_orders'.
Generated SQL Query: SELECT e.employee_id, e.first_name, e.last_name, COUNT(o.order_id) AS total_orders
FROM employees e
JOIN orders o ON e.employee_id = o.employee_id
GROUP BY e.employee_id, e.first_name, e.last_name
ORDER BY total_orders DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 6.2: Top 1 Karyawan mana yang paling banyak urus order? Tampilkan 'employee_id', 'first_name', 'last_name', 'total_orders'.
Generated SQL Query: SELECT e.employee_id, e.first_name, e.last_name, COUNT(o.order_id) AS total_orders
FROM employees e
JOIN orders o ON e.employee_id = o.employee_id
GROUP BY e.employee_id, e.first_name, e.last_name
ORDER BY total_orders DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 7.1: Top 5 countries with the most customers? Show 'country' and 'total_customers'.
Generated SQL Query: SELECT country, COUNT(customer_id) AS total_customers
FROM customers
GROUP BY country
ORDER BY total_customers DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: 5 negara dengan jumlah customer terbanyak? Tampilkan 'country' dan 'total_customers'.
Generated SQL Query: SELECT country, COUNT(customer_id) AS total_customers
FROM customers
GROUP BY country
ORDER BY total_customers DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which top 1 supplier offer the most products? Show 'supplier_id', 'company_name', 'product_count'.
Generated SQL Query: SELECT s.supplier_id, s.company_name, COUNT(p.product_id) AS product_count
FROM suppliers s
JOIN products p ON s.supplier_id = p.supplier_id
GROUP BY s.supplier_id, s.company_name
ORDER BY product_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 8.2: Top 1 supplier mana yang punya produk paling banyak? Tampilkan 'supplier_id', 'company_name', 'product_count'.
Generated SQL Query: SELECT s.supplier_id, s.company_name, COUNT(p.product_id) AS product_count
FROM suppliers s
JOIN products p ON s.supplier_id = p.supplier_id
GROUP BY s.supplier_id, s.company_name
ORDER BY product_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 9.1: How many units sold for each product? Show 'product_id', 'product_name', 'total_units_sold'.
Generated SQL Query: SELECT p.product_id, p.product_name, SUM(od.quantity) AS total_units_sold
FROM products p
JOIN order_details od ON p.product_id = od.product_id
GROUP BY p.product_id, p.product_name
ORDER BY total_units_sold DESC;
Execution Accuracy: 1.0000

Processing Question 9.2: Total unit terjual per produk? Tampilkan 'product_id', 'product_name', 'total_units_sold'.
Generated SQL Query: SELECT p.product_id, p.product_name, SUM(od.quantity) AS total_units_sold
FROM products p
JOIN order_details od ON p.product_id = od.product_id
GROUP BY p.product_id, p.product_name
ORDER BY total_units_sold DESC;
Execution Accuracy: 1.0000

Processing Question 10.1: Which top 1 region have the most territories? Show 'region_id' and 'total_territories'.
Generated SQL Query: SELECT r.region_id, COUNT(t.territory_id) AS total_territories
FROM region r
JOIN territories t ON r.region_id = t.region_id
GROUP BY r.region_id
ORDER BY total_territories DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 10.2: Top 1 region mana yang punya territory paling banyak? Tampilkan 'region_id' dan 'total_territories'.
Generated SQL Query: SELECT r.region_id, COUNT(t.territory_id) AS total_territories
FROM region r
JOIN territories t ON r.region_id = t.region_id
GROUP BY r.region_id
ORDER BY total_territories DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.1: Which top 1 shipping company was used the most? Show 'shipper_id', 'company_name', 'shipment_count'.
Generated SQL Query: SELECT s.shipper_id, s.company_name, COUNT(o.order_id) AS shipment_count
FROM shippers s
JOIN orders o ON s.shipper_id = o.ship_via
GROUP BY s.shipper_id, s.company_name
ORDER BY shipment_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Top 1 shipper mana yang paling sering dipakai? Tampilkan 'shipper_id', 'company_name', 'shipment_count'.
Generated SQL Query: SELECT s.shipper_id, s.company_name, COUNT(o.order_id) AS shipment_count
FROM shippers s
JOIN orders o ON s.shipper_id = o.ship_via
GROUP BY s.shipper_id, s.company_name
ORDER BY shipment_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Total freight costs per country? Show 'ship_country' and 'total_freight'.
Generated SQL Query: SELECT ship_country, SUM(freight) AS total_freight
FROM orders
GROUP BY ship_country
ORDER BY total_freight DESC;
Execution Accuracy: 1.0000

Processing Question 12.2: Total ongkir per negara berapa aja? Tampilkan 'ship_country' dan 'total_freight'.
Generated SQL Query: SELECT ship_country, SUM(freight) AS total_freight
FROM orders
GROUP BY ship_country
ORDER BY total_freight DESC;
Execution Accuracy: 1.0000

Processing Question 13.1: Who top 1 sold the most? Show 'employee_id', 'first_name', 'last_name', 'total_sales'.
Generated SQL Query: SELECT e.employee_id, e.first_name, e.last_name,
  SUM(od.unit_price * od.quantity * (1 - od.discount)) AS total_sales
  FROM employees e
  JOIN orders o ON e.employee_id = o.employee_id
  JOIN order_details od ON o.order_id = od.order_id
  GROUP BY e.employee_id, e.first_name, e.last_name
  ORDER BY total_sales DESC
  LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 13.2: Top 1 karyawan mana yang hasilin penjualan paling gede? Tampilkan 'employee_id', 'first_name', 'last_name', 'total_sales'.
Generated SQL Query: SELECT e.employee_id, e.first_name, e.last_name,
  SUM(od.unit_price * od.quantity * (1 - od.discount)) AS total_sales
  FROM employees e
  JOIN orders o ON e.employee_id = o.employee_id
  JOIN order_details od ON o.order_id = od.order_id
  GROUP BY e.employee_id, e.first_name, e.last_name
  ORDER BY total_sales DESC
  LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 14.1: Which top 1 product made the most money? Show 'product_id', 'product_name', 'revenue'.
Generated SQL Query: SELECT p.product_id, p.product_name,
  SUM(od.unit_price * od.quantity * (1 - od.discount)) AS revenue
  FROM products p
  JOIN order_details od ON p.product_id = od.product_id
  GROUP BY p.product_id, p.product_name
  ORDER BY revenue DESC
  LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 14.2: Top 1 produk mana yang hasilin duit paling banyak? Tampilkan 'product_id', 'product_name', 'revenue'.
Generated SQL Query: SELECT p.product_id, p.product_name,
  SUM(od.unit_price * od.quantity * (1 - od.discount)) AS revenue
FROM products p
JOIN order_details od ON p.product_id = od.product_id
GROUP BY p.product_id, p.product_name
ORDER BY revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 15.1: On average, how many times each customer order? Show 'total_customers', 'total_orders', 'average_orders_per_customer'.
Generated SQL Query: SELECT COUNT(DISTINCT c.customer_id) AS total_customers,
  COUNT(o.order_id) AS total_orders,
  CAST(COUNT(o.order_id) AS FLOAT) / COUNT(DISTINCT c.customer_id) AS average_orders_per_customer
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id;
Execution Accuracy: 0.0000

Processing Question 15.2: Rata-rata order per customer berapa? Tampilkan 'total_customers', 'total_orders', 'average_orders_per_customer'.
Generated SQL Query: SELECT COUNT(DISTINCT c.customer_id) AS total_customers,
  COUNT(o.order_id) AS total_orders,
  CAST(COUNT(o.order_id) AS FLOAT) / COUNT(DISTINCT c.customer_id) AS average_orders_per_customer
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id;
Execution Accuracy: 0.0000

Processing Question 16.1: Which top 1 category has the most products? Show 'category_id', 'category_name', 'product_count'.
Generated SQL Query: SELECT c.category_id, c.category_name, COUNT(p.product_id) AS product_count
FROM categories c
JOIN products p ON c.category_id = p.category_id
GROUP BY c.category_id, c.category_name
ORDER BY product_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 16.2: Top 1 kategori mana yang punya produk paling banyak? Tampilkan 'category_id', 'category_name', 'product_count'.
Generated SQL Query: SELECT c.category_id, c.category_name, COUNT(p.product_id) AS product_count
FROM categories c
JOIN products p ON c.category_id = p.category_id
GROUP BY c.category_id, c.category_name
ORDER BY product_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 17.1: Monthly revenue for 1997? Show 'month', 'monthly_revenue'.
Generated SQL Query: SELECT
  to_char(o.order_date, 'YYYY-MM') AS month,
  SUM(od.unit_price * od.quantity * (1 - od.discount)) AS monthly_revenue
FROM orders AS o
JOIN order_details AS od
  ON o.order_id = od.order_id
WHERE
  EXTRACT(YEAR FROM o.order_date) = 1997
GROUP BY
  month
ORDER BY
  month;
Execution Accuracy: 1.0000

Processing Question 17.2: Pendapatan per bulan selama 1997? Tampilkan 'month' dan 'monthly_revenue'.
Generated SQL Query: SELECT
  to_char(o.order_date, 'YYYY-MM') AS month,
  SUM(od.unit_price * od.quantity * (1 - od.discount)) AS monthly_revenue
FROM orders AS o
JOIN order_details AS od
  ON o.order_id = od.order_id
WHERE
  EXTRACT(YEAR FROM o.order_date) = 1997
GROUP BY
  month
ORDER BY
  month;
Execution Accuracy: 1.0000

Processing Question 18.1: Top 3 cities with the most orders? Show 'city' and 'total_orders'.
Generated SQL Query: SELECT ship_city AS city, COUNT(order_id) AS total_orders
FROM orders
WHERE ship_city IS NOT NULL
GROUP BY ship_city
ORDER BY total_orders DESC
LIMIT 3;
Execution Accuracy: 1.0000

Processing Question 18.2: 3 kota dengan jumlah order terbanyak? Tampilkan 'city' dan 'total_orders'.
Generated SQL Query: SELECT ship_city AS city, COUNT(order_id) AS total_orders
FROM orders
WHERE ship_city IS NOT NULL
GROUP BY ship_city
ORDER BY total_orders DESC
LIMIT 3;
Execution Accuracy: 1.0000

Processing Question 19.1: Who’s the top customer that bought the most different products? Show their customer_id, company_name, and how many unique products they’ve purchased as distinct_product_count. Just return the top one based on that count.
Generated SQL Query: SELECT
  c.customer_id,
  c.company_name,
  COUNT(DISTINCT od.product_id) AS distinct_product_count
FROM
  customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY
  c.customer_id, c.company_name
ORDER BY
  distinct_product_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 19.2: Top 1 customer mana yang membeli produk paling beragam? Tampilkan 'customer_id', 'company_name', dan 'distinct_product_count', dan ambil satu customer teratas berdasarkan jumlah produk berbeda yang dibeli.
Generated SQL Query: SELECT
  c.customer_id,
  c.company_name,
  COUNT(DISTINCT od.product_id) AS distinct_product_count
FROM
  customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY
  c.customer_id, c.company_name
ORDER BY
  distinct_product_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 20.1: Which top 5 suppliers ship the priciest stuff on average? Show 'supplier_id', 'company_name', 'average_price'.
Generated SQL Query: SELECT s.supplier_id, s.company_name, AVG(p.unit_price) AS average_price
FROM suppliers s
JOIN products p ON s.supplier_id = p.supplier_id
GROUP BY s.supplier_id, s.company_name
ORDER BY average_price DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 20.2: Top 5 supplier mana yang ngirim produk paling mahal rata-rata? Tampilkan 'supplier_id', 'company_name', 'average_price'.
Generated SQL Query: SELECT s.supplier_id, s.company_name, AVG(p.unit_price) AS average_price
FROM suppliers s
JOIN products p ON s.supplier_id = p.supplier_id
GROUP BY s.supplier_id, s.company_name
ORDER BY average_price DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 21.1: What’s the average discount per order? Show 'order_id' and 'average_discount'. Order by id
Generated SQL Query: SELECT order_id, AVG(discount) AS average_discount
FROM order_details
GROUP BY order_id
ORDER BY order_id;
Execution Accuracy: 1.0000

Processing Question 21.2: Rata-rata diskon per order berapa? Tampilkan 'order_id' dan 'average_discount'. Urutkan berdasarkan id
Generated SQL Query: SELECT order_id, AVG(discount) AS average_discount
FROM order_details
GROUP BY order_id
ORDER BY order_id;
Execution Accuracy: 1.0000

Processing Question 22.1: Who are the top 5 employees working across the most different regions based on their assigned territories? Show 'employee_id', 'first_name', 'last_name', and 'region_count'.
Generated SQL Query: SELECT e.employee_id, e.first_name, e.last_name, COUNT(DISTINCT t.region_id) AS region_count
FROM employees e
JOIN employee_territories et ON e.employee_id = et.employee_id
JOIN territories t ON et.territory_id = t.territory_id
GROUP BY e.employee_id, e.first_name, e.last_name
ORDER BY region_count DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 22.2: Siapa 5 karyawan teratas yang menangani wilayah kerja (territory) dari jumlah region yang paling banyak? Tampilkan 'employee_id', 'first_name', 'last_name', dan 'region_count'.
Generated SQL Query: SELECT e.employee_id, e.first_name, e.last_name, COUNT(DISTINCT t.region_id) AS region_count
FROM employees e
JOIN employee_territories et ON e.employee_id = et.employee_id
JOIN territories t ON et.territory_id = t.territory_id
GROUP BY e.employee_id, e.first_name, e.last_name
ORDER BY region_count DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 23.1: Which customers ordered over 10,000 units? Show 'customer_id', 'company_name', 'total_units_ordered'.
Generated SQL Query: SELECT c.customer_id, c.company_name, SUM(od.quantity) AS total_units_ordered
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY c.customer_id, c.company_name
HAVING SUM(od.quantity) > 10000
ORDER BY total_units_ordered DESC;
Execution Accuracy: 1.0000

Processing Question 23.2: Customer siapa saja yang total order-nya lebih dari 10.000 unit? Tampilkan 'customer_id', 'company_name', 'total_units_ordered'.
Generated SQL Query: SELECT c.customer_id, c.company_name, SUM(od.quantity) AS total_units_ordered
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY c.customer_id, c.company_name
HAVING SUM(od.quantity) > 10000
ORDER BY total_units_ordered DESC;
Execution Accuracy: 1.0000


In [11]:
df_results_v3 = pd.DataFrame(results_list)
df_results_v3.to_csv(f"{output_dir}/{MODEL}_{DATABASE}_v3.csv", index=False)