# Import Libraries

In [1]:
import sys
import os

notebook_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(notebook_dir, '..'))

if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

In [2]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv
from datetime import datetime

import pandas as pd
import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Constants

In [3]:
MAX_RETRIES = 5
RETRY_DELAY = 2
DATABASE = "soccer"
MODEL = "gemini-1.5-pro"
PROVIDER = "gemini"

# Load Environment

In [4]:
load_dotenv()

True

# Set Timestamp Experiment

In [5]:
timestamp = datetime.now().strftime("%Y_%m_%d_%H_%M")
output_dir = f"../files/experiment_result/{timestamp}"
os.makedirs(output_dir, exist_ok=True)

# Config

In [6]:
db_key = DATABASE.upper().replace("-", "_")
provider_key = PROVIDER.upper().replace("-", "_")

config = Config(
    max_retry_attempt=5,
    rewriter_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
        schema_path=f"../files/schema/{DATABASE}.txt",
        metadata_path=f"../files/metadata/{DATABASE}.json",
    ),
    retrieve_context_config=ContextConfig(data_path=f"../files/dataset/dataset_{DATABASE}.csv"),
    query_executor_config = QueryConfig(
        host=os.getenv(f"DB_HOST_{db_key}"),
        database=os.getenv(f"DB_DATABASE_{db_key}"),
        user=os.getenv(f"DB_USER_{db_key}"),
        password=os.getenv(f"DB_PASSWORD_{db_key}"),
        port=os.getenv(f"DB_PORT_{db_key}"),
    ),
)

# Model

In [7]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for gemini using model gemini-1.5-pro.
Initializing API client for gemini using model gemini-1.5-pro.
Initializing API client for gemini using model gemini-1.5-pro.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Import Dataset

In [8]:
dataset = pd.read_csv(f"../files/dataset/dataset_{DATABASE}.csv")

In [9]:
dataset

,Question,Answer,Summary,Alternative Prompt 1 (English),Alternative Prompt 2 (Bahasa Indonesia),Expected Result
0,Which players have scored more than 2 goals in...,"SELECT gd.player_id, pm.player_name, gd.match_...",This SQL query identifies players who scored m...,Can you show me the players who scored more th...,Tolong tampilkan pemain yang mencetak lebih da...,"['player_id', 'player_name', 'match_no', 'tota..."
1,Show all matches where the final score was a d...,SELECT \r\n md1.match_no\r\nFROM \r\n ma...,This SQL query identifies football matches whe...,Show all matches where the final score was a d...,Tampilkan semua pertandingan yang berakhir imb...,['match_no']
2,Which teams have won all matches in the group ...,"SELECT team_id, COUNT(*) AS total_wins\n FROM...",This SQL query identifies teams that won all o...,Which teams managed to win all their group sta...,Tim mana saja yang menang terus di babak grup?...,"['team_id', 'total_wins']"
3,Find referees who officiated more than 3 match...,"SELECT rm.referee_id, rm.referee_name, COUNT(*...",This SQL query identifies the most active refe...,Can you list referees who led more than 3 matc...,Saya ingin tahu wasit yang memimpin lebih dari...,"['referee_id', 'referee_name', 'total_matches']"
4,Which players were substituted in and out in t...,"SELECT DISTINCT pio.player_id, pm.player_name,...",This SQL query identifies players who were bot...,Show me which players were both substituted in...,Tampilkan pemain yang pernah diganti masuk dan...,"['player_id', 'player_name', 'match_no']"
5,Identify players who have been booked and also...,"SELECT DISTINCT pb.player_id, pm.player_name, ...",This SQL query identifies players who were bot...,Which players got a card and also scored a goa...,Siapa saja pemain yang dapat kartu dan cetak g...,"['player_id', 'player_name', 'match_no']"
6,Show teams with more goals for than against in...,"SELECT team_id, goal_for, goal_agnst, goal_dif...",This SQL query identifies teams with a positiv...,Can you list teams that scored more goals than...,Tampilkan tim-tim yang jumlah gol masuknya leb...,"['team_id', 'goal_for', 'goal_agnst', 'goal_di..."
7,Which goalkeepers (player_gk) appeared in the ...,"SELECT player_gk AS player_id, COUNT(*) AS mat...",This SQL query analyzes goalkeeper appearances...,Who are the goalkeepers that played the most m...,Kiper mana saja yang paling sering tampil seba...,"['player_id', 'match_count']"
8,List venues with the highest audience attendan...,"SELECT sv.venue_name, sc.city, MAX(mm.audence)...",This SQL query identifies the maximum audience...,Show me the venues where audience attendance r...,Venue mana saja yang penontonnya banyak? Saya ...,"['venue_name', 'city', 'max_audience']"
9,Find players who were never substituted out. S...,"SELECT DISTINCT pm.player_id, pm.player_name\n...",This SQL query identifies players who were nev...,Find the players who were never substituted ou...,Tampilkan pemain yang tidak pernah diganti kel...,"['player_id', 'player_name']"
10,Which matches had more than 2 players from the...,"SELECT match_no, team_id, COUNT(player_id) AS ...",This SQL query identifies teams with disciplin...,Which matches had 3 or more players from the s...,Pertandingan mana yang punya 3 atau lebih pema...,"['match_no', 'team_id', 'booked_count']"
11,Find players who scored goals in both halves o...,"SELECT DISTINCT gd.player_id, pm.player_name, ...",This SQL query identifies players who scored g...,Can you show players who scored in both the fi...,Tampilkan pemain yang cetak gol di babak perta...,"['player_id', 'player_name', 'match_no']"
12,Which players have been involved in both goals...,"SELECT\n p.player_id,\n p.player_name,\n CO...",This SQL query identifies players who have bot...,Which players were both involved in goals and ...,Siapa saja pemain yang pernah cetak gol dan ju...,"['player_id', 'player_name', 'goal_count', 'bo..."
13,List all matches where both assistant referees...,"SELECT md.match_no, arm.country_id\n FROM mat...",This SQL query identifies matches where multip...,List matches where both assistant referees wer...,Pertandingan mana yang dua asisten wasitnya da...,"['match_no', 'country_id']"
14,Find goalkeepers (player_gk) who played in mor...,"SELECT player_gk AS player_id, COUNT(DISTINCT ...",This SQL query identifies goalkeepers who have...,Who are the goalkeepers that played for more t...,Kiper mana yang pernah main untuk lebih dari s...,"['player_id', 'team_count']"
15,Which venues hosted more than 3 matches? Show ...,"SELECT sv.venue_id, sv.venue_name, COUNT(*) AS...",This SQL query identifies venues that have hos...,Which venues hosted more than 3 different matc...,Venue mana yang jadi tempat 3 pertandingan ata...,"['venue_id', 'venue_name', 'match_count']"
16,Find cities that hosted matches with over 5000...,"SELECT sc.city, mm.match_no, mm.audence\n FRO...",This SQL query retrieves match details for hig...,List cities that had matches with more than 50...,Kota mana yang punya pertandingan dengan penon...,"['city', 'match_no', 'audence']"
17,Which teams used more than 2 different coaches...,"SELECT team_id, COUNT(DISTINCT coach_id) AS co...",This SQL query identifies teams with more than...,Which teams had more than 2 different coaches?...,Tim mana yang pelatihnya ganti-ganti sampai le...,"['team_id', 'coach_count']"
18,Show players who appeared in more than 3 match...,"SELECT p.player_id, COUNT(DISTINCT(m.match_no)...",This SQL query identifies players who have par...,Find players who’ve played over 3 matches and ...,Tampilkan pemain yang pernah bermain lebih dar...,"['player_id', 'matches_played']"
19,List referees who officiated in matches with a...,"SELECT rm.referee_id, rm.referee_name, AVG(mm....",This SQL query analyzes referee popularity by ...,Which referees handled matches with average au...,Wasit mana yang rata-rata penonton di pertandi...,"['referee_id', 'referee_name', 'avg_audience']"
20,Which player captains have also scored unique ...,"SELECT mc.player_captain AS player_id, pm.play...",This SQL query analyzes the performance of tea...,Which captains also managed to score unique go...,Siapa aja pemain yang jadi kapten sekaligus me...,"['player_id', 'player_name', 'total_goals', 't..."
21,List all teams whose players have been both bo...,"SELECT DISTINCT pb.team_id, pb.match_no\n FRO...",This SQL query identifies teams and matches wh...,List all teams where there is a player that ha...,Pertandingan mana aja yang ada pemain dari sat...,"['team_id', 'match_no']"
22,Find the average number of substitutions (in a...,"SELECT match_no, COUNT(*)::float / 2 AS averag...",This SQL query calculates the average number o...,What is the total number of substitutions (cou...,Hitung total pergantian pemain (masuk dan kelu...,"['match_no', 'average_subs']"
23,Which cities have hosted matches where the pla...,"SELECT DISTINCT sc.city, mm.match_no\n FROM m...",This SQL query identifies matches where the pl...,Which cities had matches where the player of t...,Kota mana aja yang punya pertandingan di mana ...,"['city', 'match_no']"
24,List matches where all goals were scored in th...,"SELECT match_no, COUNT(*) AS goal_count\n FRO...",This SQL query identifies matches where all go...,Which matches had all goals scored in the firs...,Pertandingan mana yang semua golnya tercipta d...,"['match_no', 'goal_count']"
25,Which teams had the highest average goal diffe...,"SELECT team_id, goal_diff / match_played AS av...",This SQL query calculates and ranks teams by t...,Which teams have high goal difference divided ...,Tim mana yang punya selisih gol dibagi dengan ...,"['team_id', 'avg_goal_diff']"
26,Show assistant referees who assisted matches w...,"SELECT arm.ass_ref_name, AVG(mm.audence) AS av...",This SQL query identifies assistant referees w...,Show assistant referees who officiated matches...,Asisten wasit mana yang pertandingan yang dia ...,"['ass_ref_name', 'avg_audience']"
27,Which matches had more than 5 substitutions in...,"SELECT match_no, COUNT(*) AS total_subs\n FRO...",This SQL query identifies matches with an unus...,Which matches had more than 5 total substituti...,Pertandingan mana aja yang pergantian pemainny...,"['match_no', 'total_subs']"
28,List countries with referees who have officiat...,"SELECT sc.country_name, COUNT(*) AS match_coun...",This SQL query analyzes referee assignments by...,Which countries had referees that officiated m...,Negara mana yang punya wasit yang memimpin leb...,"['country_name', 'match_count']"
29,Find all matches where the same player was the...,"SELECT DISTINCT md.match_no, md.player_gk AS p...",This SQL query identifies goalkeepers who conc...,List matches where the goalkeeper was also the...,Pertandingan mana yang kipernya juga cetak gol...,"['match_no', 'player_id']"
30,Find matches where the goalkeeper was also the...,"SELECT DISTINCT md.match_no, md.player_gk AS p...",This SQL query identifies matches where the go...,Which matches had goalkeepers who were also th...,Pertandingan mana aja yang kipernya juga meran...,"['match_no', 'player_id']"
31,List players who scored goals in matches they ...,"SELECT DISTINCT gd.player_id, pm.player_name, ...",This SQL query identifies players who scored g...,List players who scored and also got subbed ou...,Pemain mana yang cetak gol lalu diganti keluar...,"['player_id', 'player_name', 'match_no']"
32,Which matches had at least one goal scored dur...,"SELECT match_no, goal_id\n FROM goal_details\...",This SQL query retrieves all goals scored duri...,Which matches had at least one goal scored dur...,Pertandingan mana yang ada gol di waktu stoppa...,"['match_no', 'goal_id']"
33,Find matches where players from both teams wer...,"SELECT match_no, COUNT(DISTINCT team_id) AS te...",This SQL query identifies matches where both t...,Find games where both teams had players gettin...,Pertandingan mana aja yang kedua timnya punya ...,"['match_no', 'team_count_booked']"
34,Identify coaches who coached multiple teams. S...,"SELECT coach_id, COUNT(DISTINCT team_id) AS to...",This SQL query identifies coaches who have man...,Which coaches were assigned to more than one t...,Pelatih mana yang pernah melatih lebih dari sa...,"['coach_id', 'total_teams']"
35,Show cities that have venues with total audien...,"SELECT sc.city, SUM(sv.aud_capacity) AS total_...",This SQL query identifies cities with signific...,List cities whose venues together can seat mor...,Kota mana yang total kapasitas stadionnya lebi...,"['city', 'total_capacity']"
36,Find matches where the same player was involve...,"SELECT ps.match_no, ps.player_id\r\nFROM penal...",This SQL query identifies players who particip...,Find matches where a player took part in a pen...,Cari pertandingan di mana seorang pemain ikut ...,"['match_no', 'player_id']"
37,Identify teams that conceded more goals than t...,"SELECT team_id, goal_for, goal_agnst\n FROM s...",This SQL query identifies teams that have conc...,Which teams let in more goals than they scored...,Tim mana yang kebobolannya lebih banyak daripa...,"['team_id', 'goal_for', 'goal_agnst']"
38,Find players who changed clubs but kept the sa...,"SELECT player_id, jersey_no\n FROM player_mas...",This SQL query identifies players who have wor...,Find players who changed teams but kept the sa...,Pemain mana saja yang ganti tim tapi tetap pak...,"['player_id', 'jersey_no']"
39,List referees who officiated in multiple citie...,"SELECT rm.referee_id, COUNT(DISTINCT sc.city) ...",This SQL query identifies referees who have of...,List referees who have officiated matches in m...,Wasit mana yang pernah memimpin pertandingan d...,"['referee_id', 'city_count']"
40,Which matches had players from more than 3 dif...,"SELECT gd.match_no, COUNT(DISTINCT pm.playing_...",This SQL query identifies matches where goals ...,Which matches had players from more than 3 dif...,Pertandingan mana saja yang memiliki pemain da...,"['match_no', 'club_count']"
41,Find players who were both captains and receiv...,"SELECT DISTINCT pb.player_id, pb.match_no\n F...",This SQL query identifies team captains who we...,List players who were captains and also got a ...,Pemain mana yang jadi kapten dan juga kena kar...,"['player_id', 'match_no']"
42,Which matches had more than 2 penalties taken ...,"SELECT match_no, team_id, COUNT(*) AS kick_cou...",This SQL query analyzes penalty shootout perfo...,Find matches where one team took more than 2 p...,Pertandingan mana yang satu timnya ambil penal...,"['match_no', 'team_id', 'kick_count']"
43,Identify the top 3 players who scored the most...,"SELECT player_id, COUNT(*) AS total_goals\n F...",This SQL query identifies the top 3 goal score...,Who are the top 3 goal scorers in group stages...,Siapa 3 pencetak gol terbanyak di babak group?...,"['player_id', 'total_goals']"
44,List cities with venues that hosted matches wh...,"SELECT DISTINCT sc.city, gd.match_no\n FROM g...",This SQL query identifies cities that have hos...,Which cities hosted matches where more than 4 ...,Kota mana yang punya pertandingan dengan lebih...,"['city', 'match_no']"
45,Find all players who played for more than one ...,"SELECT player_id, COUNT(DISTINCT team_id) AS t...",This SQL query identifies players who have bee...,Find players who played for more than one team...,Pemain mana yang pernah main di lebih dari sat...,"['player_id', 'team_count']"
46,Which coaches were associated with teams that ...,"SELECT DISTINCT tc.coach_id, tc.team_id\n FRO...",This SQL query identifies coaches of teams tha...,Which coaches worked with teams that never won...,Pelatih mana yang timnya nggak pernah menang? ...,"['coach_id', 'team_id']"
47,Find the top 3 referees with the highest total...,"SELECT referee_id, SUM(audence) AS total_audie...",This SQL query identifies the top 3 referees w...,List top 3 referees who officiated matches wit...,Siapa 3 wasit dengan total penonton terbanyak ...,"['referee_id', 'total_audience']"
48,Show the total number of unique players involv...,"SELECT match_no, COUNT(DISTINCT player_id) AS ...",This SQL query calculates the total number of ...,"For each match, how many different players wer...","Di tiap pertandingan, berapa banyak pemain yan...","['match_no', 'total_players']"
49,Which venues hosted the highest number of matc...,"SELECT mm.venue_id, COUNT(DISTINCT mm.match_no...",This SQL query identifies venues with the high...,Which venues hosted the most matches that ende...,Venue mana yang paling sering jadi tempat pert...,"['venue_id', 'penalty_match_count']"

# Experiment

In [10]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.predict_sql_with_example_only(user_prompt=question)
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you show me the players who scored more than 2 goals in one game? I’d like to see their player_id, name, match number, and how many goals they scored.
Generated SQL Query: SELECT gd.player_id, pm.player_name, gd.match_no, COUNT(*) AS total_goals
FROM goal_details AS gd
JOIN player_mast AS pm ON gd.player_id = pm.player_id
GROUP BY gd.player_id, pm.player_name, gd.match_no
HAVING COUNT(*) > 2;
Execution Accuracy: 1.0000

Processing Question 1.2: Tolong tampilkan pemain yang mencetak lebih dari 2 gol dalam satu pertandingan. Saya mau lihat player_id, nama pemain, match_no, dan total golnya.
Generated SQL Query: SELECT player_id, player_name, match_no, COUNT(*) AS total_goals
FROM goal_details AS gd
JOIN player_mast AS pm ON gd.player_id = pm.player_id
GROUP BY player_id, player_name, match_no
HAVING COUNT(*) > 2;
Error executing query: column reference "player_id" is ambiguous
LINE 1: SELECT player_id, player_name, match_no, COUNT(*) AS total_g...
               ^

Evaluation error: column reference "player_id" is ambiguous
LINE 1: SELECT player_id, player_name, match_no, COUNT(*) AS total_g...
               ^

Execution Accuracy: 0.0000

Processing Question 2.1: Show all matches where the final score was a draw. Display the match number.
Generated SQL Query: SELECT md1.match_no FROM match_details md1 JOIN match_details md2 ON md1.match_no = md2.match_no AND md1.team_id <> md2.team_id WHERE md1.goal_score = md2.goal_score GROUP BY md1.match_no, md1.goal_score ORDER BY md1.match_no
Execution Accuracy: 1.0000

Processing Question 2.2: Tampilkan semua pertandingan yang berakhir imbang. Sertakan nomor pertandingan.
Generated SQL Query: SELECT match_no FROM match_mast WHERE results = 'DRAW';
Execution Accuracy: 0.0000

Processing Question 3.1: Which teams managed to win all their group stage matches? I need to see team_id and how many matches they won.
Generated SQL Query: SELECT team_id, COUNT(*) AS total_wins
FROM match_details
WHERE play_stage = 'G' AND win_lose = 'W'
GROUP BY team_id
HAVING COUNT(*) = (SELECT COUNT(*) FROM match_details md2 WHERE md2.team_id = match_details.team_id AND play_stage = 'G');
Execution Accuracy: 1.0000

Processing Question 3.2: Tim mana saja yang menang terus di babak grup? Tampilkan team_id dan total menangnya.
Generated SQL Query: SELECT team_id, COUNT(*) AS total_wins
FROM match_details
WHERE play_stage = 'G' AND win_lose = 'W'
GROUP BY team_id
HAVING COUNT(*) = (SELECT COUNT(*) FROM match_details md2 WHERE md2.team_id = match_details.team_id AND play_stage = 'G');
Execution Accuracy: 1.0000

Processing Question 4.1: Can you list referees who led more than 3 matches? I want their referee_id, name, and total matches they officiated.
Generated SQL Query: SELECT rm.referee_id, rm.referee_name, COUNT(*) AS total_matches
FROM match_mast mm
JOIN referee_mast rm ON mm.referee_id = rm.referee_id
GROUP BY rm.referee_id, rm.referee_name
HAVING COUNT(*) > 3;
Execution Accuracy: 1.0000

Processing Question 4.2: Saya ingin tahu wasit yang memimpin lebih dari 3 pertandingan. Tampilkan referee_id, nama wasit, dan jumlah pertandingan.
Generated SQL Query: SELECT rm.referee_id, rm.referee_name, COUNT(*) AS total_matches
FROM match_mast mm
JOIN referee_mast rm ON mm.referee_id = rm.referee_id
GROUP BY rm.referee_id, rm.referee_name
HAVING COUNT(*) > 3;
Execution Accuracy: 1.0000

Processing Question 5.1: Show me which players were both substituted in and out in the same game. Include player_id, name, and match number.
Generated SQL Query: SELECT DISTINCT pio.player_id, pm.player_name, pio.match_no
FROM player_in_out pio
JOIN player_mast pm ON pio.player_id = pm.player_id
WHERE EXISTS (
    SELECT 1
    FROM player_in_out p2
    WHERE p2.player_id = pio.player_id
      AND p2.match_no = pio.match_no
      AND p2.in_out <> pio.in_out
);
Execution Accuracy: 1.0000

Processing Question 5.2: Tampilkan pemain yang pernah diganti masuk dan juga diganti keluar di satu pertandingan yang sama. Sertakan player_id, nama, dan nomor pertandingannya.
Generated SQL Query: SELECT DISTINCT pio1.player_id, pm.player_name, pio1.match_no
FROM player_in_out pio1
JOIN player_in_out pio2 ON pio1.player_id = pio2.player_id AND pio1.match_no = pio2.match_no AND pio1.in_out = 'I' AND pio2.in_out = 'O'
JOIN player_mast pm ON pio1.player_id = pm.player_id;
Execution Accuracy: 1.0000

Processing Question 6.1: Which players got a card and also scored a goal in the same match? I’d like to see player_id, player name, and match number.
Generated SQL Query: SELECT DISTINCT pb.player_id, pm.player_name, pb.match_no
FROM player_booked pb
JOIN goal_details gd ON pb.player_id = gd.player_id AND pb.match_no = gd.match_no
JOIN player_mast pm ON pb.player_id = pm.player_id;
Execution Accuracy: 1.0000

Processing Question 6.2: Siapa saja pemain yang dapat kartu dan cetak gol di pertandingan yang sama? Tampilkan player_id, nama pemain, dan nomor pertandingannya.
Generated SQL Query: SELECT DISTINCT pb.player_id, pm.player_name, pb.match_no
FROM player_booked pb
JOIN goal_details gd ON pb.player_id = gd.player_id AND pb.match_no = gd.match_no
JOIN player_mast pm ON pb.player_id = pm.player_id;
Execution Accuracy: 1.0000

Processing Question 7.1: Can you list teams that scored more goals than they conceded in the tournament? I want team_id, goal_for, goal_agnst, and goal_diff.
Generated SQL Query: SELECT team_id, goal_for, goal_agnst, goal_diff
FROM soccer_team
WHERE goal_for > goal_agnst;
Execution Accuracy: 1.0000

Processing Question 7.2: Tampilkan tim-tim yang jumlah gol masuknya lebih banyak dari gol kebobolannya. Saya butuh team_id, goal_for, goal_agnst, dan goal_diff.
Generated SQL Query: SELECT team_id, goal_for, goal_agnst, goal_diff
FROM soccer_team
WHERE goal_for > goal_agnst;
Execution Accuracy: 1.0000

Processing Question 8.1: Who are the goalkeepers that played the most matches? I need their player_id and how many matches they appeared in.
Generated SQL Query: SELECT player_gk, COUNT(*) AS match_count FROM match_details WHERE player_gk IS NOT NULL GROUP BY player_gk ORDER BY match_count DESC
Execution Accuracy: 1.0000

Processing Question 8.2: Kiper mana saja yang paling sering tampil sebagai penjaga gawang? Tampilkan player_id dan jumlah pertandingan yang mereka ikuti.
Generated SQL Query: SELECT player_gk, COUNT(*) AS jumlah_pertandingan
FROM match_details
GROUP BY player_gk
ORDER BY jumlah_pertandingan DESC;
Execution Accuracy: 1.0000

Processing Question 9.1: Show me the venues where audience attendance reached the highest. I want venue_name, the city, and the max audience number. Sort from highest.
Generated SQL Query: SELECT sv.venue_name, sc.city, MAX(mm.audence) AS max_audience
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
JOIN soccer_city sc ON sv.city_id = sc.city_id
GROUP BY sv.venue_name, sc.city
ORDER BY max_audience DESC;
Execution Accuracy: 1.0000

Processing Question 9.2: Venue mana saja yang penontonnya banyak? Saya mau lihat nama venue, kota, dan jumlah penonton terbanyaknya. Urutkan dari yang terbanyak.
Generated SQL Query: SELECT sv.venue_name, sc.city, mm.audence AS max_audience
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
JOIN soccer_city sc ON sv.city_id = sc.city_id
ORDER BY max_audience DESC;
Execution Accuracy: 0.0000

Processing Question 10.1: Find the players who were never substituted out in any match. Please show player_id and their name.
Generated SQL Query: SELECT DISTINCT pm.player_id, pm.player_name
FROM player_mast pm
WHERE NOT EXISTS (
    SELECT 1
    FROM player_in_out pio
    WHERE pio.player_id = pm.player_id AND pio.in_out = 'O'
);
Execution Accuracy: 1.0000

Processing Question 10.2: Tampilkan pemain yang tidak pernah diganti keluar selama pertandingan. Sertakan player_id dan nama pemainnya.
Generated SQL Query: SELECT player_id, player_name
FROM player_mast
WHERE player_id NOT IN (SELECT player_id FROM player_in_out WHERE in_out = 'O');
Execution Accuracy: 1.0000

Processing Question 11.1: Which matches had 3 or more players from the same team getting booked? Show match number, team_id, and how many players were booked.
Generated SQL Query: SELECT match_no, team_id, COUNT(player_id)
FROM player_booked
GROUP BY match_no, team_id
HAVING COUNT(player_id) >= 3;
Execution Accuracy: 1.0000

Processing Question 11.2: Pertandingan mana yang punya 3 atau lebih pemain dari satu tim yang kena kartu? Tampilkan match_no, team_id, dan jumlah pemain yang kena kartu.
Generated SQL Query: SELECT match_no, team_id, COUNT(player_id) AS num_booked_players
FROM player_booked
GROUP BY match_no, team_id
HAVING COUNT(player_id) >= 3;
Execution Accuracy: 1.0000

Processing Question 12.1: Can you show players who scored in both the first and second halves of a game? I want player_id, name, and match number.
Generated SQL Query: SELECT DISTINCT gd.player_id, pm.player_name, gd.match_no
FROM goal_details gd
JOIN player_mast pm ON gd.player_id = pm.player_id
WHERE gd.goal_half = 1
AND EXISTS (
    SELECT 1
    FROM goal_details gd2
    WHERE gd2.player_id = gd.player_id
    AND gd2.match_no = gd.match_no
    AND gd2.goal_half = 2
);
Execution Accuracy: 1.0000

Processing Question 12.2: Tampilkan pemain yang cetak gol di babak pertama dan kedua di satu pertandingan. Saya mau lihat player_id, nama, dan match_no-nya.
Generated SQL Query: SELECT gd1.player_id, pm.player_name, gd1.match_no
FROM goal_details AS gd1
JOIN goal_details AS gd2 ON gd1.player_id = gd2.player_id AND gd1.match_no = gd2.match_no AND gd1.goal_half = 1 AND gd2.goal_half = 2
JOIN player_mast AS pm ON gd1.player_id = pm.player_id;
Execution Accuracy: 1.0000

Processing Question 13.1: Which players were both involved in goals and received bookings? Show their player_id, name, and how many goals and bookings.
Generated SQL Query: SELECT p.player_id, p.player_name, COUNT(DISTINCT g.goal_id) AS goal_count, COUNT(DISTINCT b.match_no) AS booking_count FROM player_mast AS p JOIN goal_details AS g ON p.player_id = g.player_id JOIN player_booked AS b ON p.player_id = b.player_id GROUP BY p.player_id, p.player_name;
Execution Accuracy: 0.9697

Processing Question 13.2: Siapa saja pemain yang pernah cetak gol dan juga kena kartu? Tampilkan player_id, nama, total gol dan jumlah kartu.
Generated SQL Query: SELECT pb.player_id, pm.player_name, COUNT(DISTINCT gd.goal_id) AS total_goals, COUNT(DISTINCT pb.booking_time) AS total_bookings
FROM player_booked pb
JOIN goal_details gd ON pb.player_id = gd.player_id
JOIN player_mast pm ON pb.player_id = pm.player_id
GROUP BY pb.player_id, pm.player_name;
Execution Accuracy: 0.9697

Processing Question 14.1: List matches where both assistant referees were from the same country. Show match number and country_id.
Generated SQL Query: SELECT md.match_no, arm.country_id
FROM match_details md
JOIN asst_referee_mast arm ON md.ass_ref = arm.ass_ref_id
GROUP BY md.match_no, arm.country_id
HAVING COUNT(DISTINCT arm.ass_ref_id) > 1;
Execution Accuracy: 1.0000

Processing Question 14.2: Pertandingan mana yang dua asisten wasitnya dari negara yang sama? Tampilkan match_no dan country_id-nya.
Generated SQL Query: SELECT md.match_no, arm.country_id
FROM match_details md
JOIN asst_referee_mast arm ON md.ass_ref = arm.ass_ref_id
GROUP BY md.match_no, arm.country_id
HAVING COUNT(DISTINCT arm.ass_ref_id) > 1;
Execution Accuracy: 1.0000

Processing Question 15.1: Who are the goalkeepers that played for more than one team? Show their player_id and number of teams.
Generated SQL Query: SELECT player_gk, COUNT(DISTINCT team_id) AS num_teams FROM match_details WHERE player_gk IS NOT NULL GROUP BY player_gk HAVING COUNT(DISTINCT team_id) > 1
Execution Accuracy: 1.0000

Processing Question 15.2: Kiper mana yang pernah main untuk lebih dari satu tim? Saya mau lihat player_id dan jumlah timnya.
Generated SQL Query: SELECT player_id, COUNT(DISTINCT team_id) AS jumlah_tim
FROM player_mast
GROUP BY player_id
HAVING COUNT(DISTINCT team_id) > 1;
Execution Accuracy: 1.0000

Processing Question 16.1: Which venues hosted more than 3 different matches? Please show venue_id, venue name, and match count.
Generated SQL Query: SELECT sv.venue_id, sv.venue_name, COUNT(DISTINCT mm.match_no) AS match_count
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
GROUP BY sv.venue_id, sv.venue_name
HAVING COUNT(DISTINCT mm.match_no) > 3;
Execution Accuracy: 1.0000

Processing Question 16.2: Venue mana yang jadi tempat 3 pertandingan atau lebih? Tampilkan venue_id, nama venue, dan jumlah pertandingan.
Generated SQL Query: SELECT sv.venue_id, sv.venue_name, COUNT(*) AS match_count
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
GROUP BY sv.venue_id, sv.venue_name
HAVING COUNT(*) >= 3;
Execution Accuracy: 1.0000

Processing Question 17.1: List cities that had matches with more than 50,000 audience members. Show city, match_no, and audience.
Generated SQL Query: SELECT sc.city, mm.match_no, mm.audence
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
JOIN soccer_city sc ON sv.city_id = sc.city_id
WHERE mm.audence > 50000;
Execution Accuracy: 1.0000

Processing Question 17.2: Kota mana yang punya pertandingan dengan penonton lebih dari 50 ribu? Saya butuh nama kota, nomor pertandingan, dan jumlah penonton.
Generated SQL Query: SELECT sc.city, mm.match_no, mm.audence
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
JOIN soccer_city sc ON sv.city_id = sc.city_id
WHERE mm.audence > 50000;
Execution Accuracy: 1.0000

Processing Question 18.1: Which teams had more than 2 different coaches? Show team_id and how many coaches they had.
Generated SQL Query: SELECT team_id, COUNT(DISTINCT coach_id) AS coach_count FROM team_coaches GROUP BY team_id HAVING COUNT(DISTINCT coach_id) > 2
Execution Accuracy: 1.0000

Processing Question 18.2: Tim mana yang pelatihnya ganti-ganti sampai lebih dari 2 kali? Tampilkan team_id dan jumlah pelatihnya.
Generated SQL Query: SELECT team_id, COUNT(coach_id) AS jumlah_pelatih
FROM team_coaches
GROUP BY team_id
HAVING COUNT(coach_id) > 2;
Execution Accuracy: 1.0000

Processing Question 19.1: Find players who’ve played over 3 matches and have never received any bookings in any of those games. Show their player_id and how many matches they’ve played.
Generated SQL Query: SELECT p.player_id, COUNT(DISTINCT(m.match_no)) AS matches_played
FROM player_mast p
JOIN player_in_out pio ON p.player_id = pio.player_id
JOIN match_mast m ON pio.match_no = m.match_no
LEFT JOIN player_booked pb ON p.player_id = pb.player_id AND pio.match_no = pb.match_no
GROUP BY p.player_id
HAVING COUNT(DISTINCT(m.match_no)) > 3 AND COUNT(pb.player_id) = 0;
Execution Accuracy: 1.0000

Processing Question 19.2: Tampilkan pemain yang pernah bermain lebih dari 3 pertandingan dan tidak pernah mendapatkan kartu di pertandingan-pertandingan tersebut. Tampilkan player_id dan jumlah pertandingan yang dimainkan.
Generated SQL Query: SELECT player_id, COUNT(match_no) AS matches_played
FROM player_in_out
GROUP BY player_id
HAVING COUNT(match_no) > 3
EXCEPT
SELECT pb.player_id, COUNT(DISTINCT pb.match_no)
FROM player_booked pb
GROUP BY pb.player_id;
Execution Accuracy: 0.0000

Processing Question 20.1: Which referees handled matches with average audience over 40,000? I want referee_id, name, and average audience.
Generated SQL Query: SELECT rm.referee_id, rm.referee_name, AVG(mm.audence) AS avg_audience
FROM match_mast mm
JOIN referee_mast rm ON mm.referee_id = rm.referee_id
GROUP BY rm.referee_id, rm.referee_name
HAVING AVG(mm.audence) > 40000;
Execution Accuracy: 1.0000

Processing Question 20.2: Wasit mana yang rata-rata penonton di pertandingannya lebih dari 40 ribu? Tampilkan referee_id, nama wasit, dan rata-rata penonton.
Generated SQL Query: SELECT mm.referee_id, rm.referee_name, AVG(mm.audence) AS average_audience
FROM match_mast mm
JOIN referee_mast rm ON mm.referee_id = rm.referee_id
GROUP BY mm.referee_id, rm.referee_name
HAVING AVG(mm.audence) > 40000;
Execution Accuracy: 1.0000

Processing Question 21.1: Which captains also managed to score unique goals? I want to see their player_id, name, number of goals, and how many matches they were captain.
Generated SQL Query: SELECT mc.player_captain AS player_id, pm.player_name, COUNT(DISTINCT gd.goal_id) AS total_goals, COUNT(DISTINCT mc.match_no) AS total_captain_matches FROM match_captain AS mc JOIN goal_details AS gd ON mc.player_captain = gd.player_id JOIN player_mast AS pm ON mc.player_captain = pm.player_id GROUP BY mc.player_captain, pm.player_name;
Execution Accuracy: 1.0000

Processing Question 21.2: Siapa aja pemain yang jadi kapten sekaligus mencetak goal? Tampilkan player_id, nama, jumlah gol yang unik, dan berapa kali dia jadi kapten di pertandingan yang unik.
Generated SQL Query: SELECT pm.player_id, pm.player_name, COUNT(DISTINCT gd.goal_id), COUNT(DISTINCT mc.match_no)
FROM player_mast AS pm
JOIN goal_details AS gd ON pm.player_id = gd.player_id
JOIN match_captain AS mc ON pm.player_id = mc.player_captain
GROUP BY pm.player_id, pm.player_name;
Execution Accuracy: 0.2222

Processing Question 22.1: List all teams where there is a player that has been both booked and scored in the same match. Show team_id and match_no.
Generated SQL Query: SELECT DISTINCT pb.team_id, pb.match_no FROM player_booked pb JOIN goal_details gd ON pb.player_id = gd.player_id AND pb.match_no = gd.match_no
Execution Accuracy: 1.0000

Processing Question 22.2: Pertandingan mana aja yang ada pemain dari satu tim yang cetak gol dan juga kena kartu? Saya mau lihat team_id dan match_no.
Generated SQL Query: SELECT DISTINCT pb.team_id, pb.match_no
FROM player_booked pb
JOIN goal_details gd ON pb.player_id = gd.player_id AND pb.match_no = gd.match_no;
Execution Accuracy: 1.0000

Processing Question 23.1: What is the total number of substitutions (counting both in and out) per match, divided by 2? Show match_no and average_subs.
Generated SQL Query: SELECT match_no, COUNT(*)::float / 2 AS average_subs FROM player_in_out GROUP BY match_no;
Execution Accuracy: 1.0000

Processing Question 23.2: Hitung total pergantian pemain (masuk dan keluar) per pertandingan, lalu bagi dua. Tampilkan match_no dan rata-rata pergantian pemain.
Generated SQL Query: SELECT match_no, COUNT(*) / 2.0 AS avg_substitutions
FROM player_in_out
GROUP BY match_no;
Execution Accuracy: 1.0000

Processing Question 24.1: Which cities had matches where the player of the match also scored? Show me unique city name and match number.
Generated SQL Query: SELECT DISTINCT sc.city, mm.match_no
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
JOIN soccer_city sc ON sv.city_id = sc.city_id
JOIN goal_details gd ON gd.match_no = mm.match_no AND gd.player_id = mm.plr_of_match;
Execution Accuracy: 1.0000

Processing Question 24.2: Kota mana aja yang punya pertandingan di mana player of the match-nya juga cetak gol? Tampilkan nama kota dan match_no-nya secara unik.
Generated SQL Query: SELECT DISTINCT sc.city, mm.match_no
FROM match_mast mm
JOIN soccer_venue sv ON mm.venue_id = sv.venue_id
JOIN soccer_city sc ON sv.city_id = sc.city_id
JOIN goal_details gd ON gd.match_no = mm.match_no AND gd.player_id = mm.plr_of_match;
Execution Accuracy: 1.0000

Processing Question 25.1: Which matches had all goals scored in the first half only? Show match number and number of goals.
Generated SQL Query: SELECT match_no, COUNT(*) AS goal_count FROM goal_details GROUP BY match_no HAVING SUM(CASE WHEN goal_half = 2 THEN 1 ELSE 0 END) = 0
Execution Accuracy: 1.0000

Processing Question 25.2: Pertandingan mana yang semua golnya tercipta di babak pertama? Saya mau lihat match_no dan jumlah golnya.
Generated SQL Query: SELECT match_no, COUNT(goal_id) AS total_goals
FROM goal_details
WHERE goal_half = 1
GROUP BY match_no
HAVING COUNT(CASE WHEN goal_half <> 1 THEN 1 END) = 0;
Execution Accuracy: 0.0000


In [11]:
df_results = pd.DataFrame(results_list)
df_results.to_csv(f"{output_dir}/{MODEL}_{DATABASE}_relevant_example.csv", index=False)