# Import Libraries

In [1]:
import sys
import os

notebook_dir = os.getcwd()
parent_dir = os.path.abspath(os.path.join(notebook_dir, '..'))

if parent_dir not in sys.path:
    sys.path.insert(0, parent_dir)

In [2]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv
from datetime import datetime

import pandas as pd
import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Constants

In [3]:
MAX_RETRIES = 5
RETRY_DELAY = 2
DATABASE = "academic"
MODEL = "gpt-4.1-mini"
PROVIDER = "openai"

# Load Environment

In [4]:
load_dotenv()

True

# Set Timestamp Experiment

In [5]:
timestamp = datetime.now().strftime("%Y_%m_%d_%H_%M")
output_dir = f"../files/experiment_result/{timestamp}"
os.makedirs(output_dir, exist_ok=True)

# Config

In [6]:
db_key = DATABASE.upper().replace("-", "_")
provider_key = PROVIDER.upper().replace("-", "_")

config = Config(
    max_retry_attempt=5,
    rewriter_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model=MODEL,
        provider=PROVIDER,
        api_key=os.getenv(f"API_KEY_{provider_key}"),
        schema_path=f"../files/schema/{DATABASE}.txt",
        metadata_path=f"../files/metadata/{DATABASE}.json",
    ),
    retrieve_context_config=ContextConfig(data_path=f"../files/dataset/dataset_{DATABASE}.csv"),
    query_executor_config = QueryConfig(
        host=os.getenv(f"DB_HOST_{db_key}"),
        database=os.getenv(f"DB_DATABASE_{db_key}"),
        user=os.getenv(f"DB_USER_{db_key}"),
        password=os.getenv(f"DB_PASSWORD_{db_key}"),
        port=os.getenv(f"DB_PORT_{db_key}"),
    ),
)

# Model

In [7]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for openai using model gpt-4.1-mini.
Initializing API client for openai using model gpt-4.1-mini.
Initializing API client for openai using model gpt-4.1-mini.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Import Dataset

In [8]:
dataset = pd.read_csv(f"../files/dataset/dataset_{DATABASE}.csv")

In [9]:
dataset

,Question,Answer,Summary,Alternative Prompt 1 (English),Alternative Prompt 2 (Bahasa Indonesia),Expected Result
0,Which faculty has the most research projects? ...,"SELECT f.nama, COUNT(p.id_proyek) AS total_pro...",This SQL query identifies the faculty with the...,Can you tell me which faculty did the most res...,Fakultas mana yang paling banyak bikin proyek ...,"['nama', 'total_proyek']"
1,Which lecturer supervises the most students? I...,"SELECT d.nama, COUNT(m.id_mahasiswa) AS total_...",This SQL query identifies the lecturer supervi...,I’m curious which lecturer guides the most stu...,Dosen mana yang ngebimbing mahasiswa paling ba...,"['nama', 'total_mahasiswa_dibimbing']"
2,Which student has attended the most sessions? ...,"SELECT m.nama, COUNT(k.id_kehadiran) AS total_...",This SQL query identifies the student with the...,Which student joined the most sessions? I want...,Mahasiswa mana yang paling rajin ikut sesi kel...,"['nama', 'total_kehadiran']"
3,What are the top 5 courses with the highest nu...,"SELECT mk.judul, COUNT(e.id_mahasiswa) AS tota...",This SQL query identifies the top 5 most popul...,What are the top 5 most popular courses? Show ...,Top 5 matkul yang paling banyak diambil siapa ...,"['judul', 'total_mahasiswa']"
4,Which faculty uses the most facilities? If the...,"SELECT f.nama, COUNT(ff.id_fasilitas) AS total...",This SQL query identifies the faculty with the...,Which faculty uses the most facilities? I need...,Fakultas mana yang paling banyak pake fasilita...,"['nama', 'total_fasilitas']"
5,Which course has the highest average exam scor...,"SELECT mk.judul, AVG(h.nilai_diperoleh) AS rat...",This SQL query identifies the course with the ...,Which course has the best average exam score? ...,Matkul mana yang nilai ujiannya paling tinggi ...,"['judul', 'rata_rata_nilai']"
6,Which lecturer has authored the most publicati...,"SELECT d.nama, COUNT(p.id_publikasi) AS total_...",This SQL query identifies the most published f...,Who is the lecturer with the most publications...,Dosen mana yang paling banyak nulis publikasi?...,"['nama', 'total_publikasi']"
7,Which student has participated in the most res...,"SELECT m.nama, COUNT(pp.id_proyek) AS total_pa...",This SQL query identifies the student with the...,Which student has joined the most research pro...,Mahasiswa mana yang paling sering ikut proyek ...,"['nama', 'total_partisipasi']"
8,Which student has borrowed the most books? If ...,"SELECT id_peminjam, COUNT(*) AS total_peminjam...",This SQL query identifies the most active libr...,Who’s borrowed the most books among students? ...,Mahasiswa mana yang paling sering minjem buku?...,"['id_peminjam', 'total_peminjaman']"
9,Which club has the most active members? If the...,"SELECT k.nama, COUNT(kk.id_mahasiswa) AS total...",This SQL query identifies the most popular stu...,Which club has the most members? Show the name...,Klub mana yang anggotanya paling banyak? Kasih...,"['nama', 'total_anggota']"
10,Which student has the highest total score from...,"SELECT h.id_mahasiswa, m.nama, SUM(h.nilai_dip...",This SQL query identifies the top-performing s...,Which student has the highest exam score total...,Mahasiswa mana yang total nilainya dari semua ...,"['id_mahasiswa', 'nama', 'total_score']"
11,List all faculties along with their total numb...,"SELECT f.nama,\n COUNT(DISTINCT p.id_proyek) ...",This SQL query provides a comprehensive resear...,Can you list all faculties and show how many r...,Tolong tampilin semua fakultas beserta total p...,"['nama', 'total_proyek', 'total_publikasi', 't..."
12,Which lecturer has taught the most distinct su...,"SELECT d.id_dosen, d.nama, COUNT(DISTINCT mk.i...",This SQL query identifies the faculty member t...,Which lecturer has taught the most different s...,Dosen mana yang pernah ngajar mata kuliah pali...,"['id_dosen', 'nama', 'total_mk_diajar']"
13,Find the top 3 students who have the highest t...,"SELECT m.id_mahasiswa, m.nama, SUM(e.nilai_par...",This SQL query identifies the top 3 most engag...,Who are the top 3 students with the best total...,Tolong tunjukin 3 mahasiswa dengan nilai parti...,"['id_mahasiswa', 'nama', 'total_partisipasi']"
14,Which students have participated in more than ...,"SELECT m.id_mahasiswa, m.nama,\n COUNT(DISTIN...",This SQL query identifies highly engaged stude...,Which students joined more than 2 projects and...,Siapa aja mahasiswa yang ikut lebih dari 2 pro...,"['id_mahasiswa', 'nama', 'total_proyek', 'tota..."
15,What are the top 5 facilities by average acces...,"SELECT f.id_fasilitas, f.nama, AVG(ff.tingkat_...",This SQL query analyzes facility access levels...,What are the top 5 facilities with the highest...,Fasilitas apa aja yang rata-rata tingkat akses...,"['id_fasilitas', 'nama', 'avg_akses']"
16,Find the lecturers who have both supervised st...,"SELECT d.id_dosen, d.nama,\n COUNT(DISTINCT m...",This SQL query evaluates faculty performance b...,Find me lecturers who both supervise students ...,Dosen mana yang bimbing mahasiswa sekaligus bi...,"['id_dosen', 'nama', 'total_mahasiswa_bimbinga..."
17,Which students have both borrowed books and at...,"SELECT m.id_mahasiswa, m.nama,\n COUNT(DISTIN...",This SQL query identifies academically engaged...,Which students both borrow books and attend 10...,Mahasiswa mana aja yang suka minjem buku dan h...,"['id_mahasiswa', 'nama', 'total_buku_dipinjam'..."
18,List all courses that have at least one sessio...,"SELECT mk.id_mk, mk.judul,\n AVG(n.nilai_akhi...",This SQL query calculates the average final gr...,List all courses with both a session and an ex...,Matkul apa yang punya sesi & ujian? Tampilkan ...,"['id_mk', 'judul', 'avg_nilai_akhir', 'avg_nil..."
19,Show all faculties in the descending order of ...,"SELECT f.id_fakultas, f.nama, COUNT(DISTINCT j...",This SQL query identifies faculties ('Fakultas...,Which faculties have clubs joined by students ...,Fakultas mana yang klubnya diisi mahasiswa dar...,"['id_fakultas', 'nama', 'total_jurusan_klub']"
20,Which faculty head (id_kepala) also teaches at...,"SELECT f.id_kepala, d.nama AS nama_dosen, COUN...",This SQL query identifies faculty heads ('id_k...,Which faculty head also teaches? Show id_kepal...,Kepala fakultas mana yang juga ngajar? Tampilk...,"['id_kepala', 'nama_dosen', 'jumlah_mk_diajar']"
21,List students who have received grades (nilai_...,"SELECT m.id_mahasiswa, m.nama, COUNT(DISTINCT ...",This SQL query identifies students who have co...,List students who got a grade for every course...,Siapa aja mahasiswa yang dapet nilai akhir unt...,"['id_mahasiswa', 'nama', 'jumlah_mk']"
22,Which students have participated in both resea...,"SELECT m.id_mahasiswa, m.nama, COUNT(DISTINCT ...",This SQL query identifies high-achieving stude...,Which students both did research and got a gra...,Siapa mahasiswa yang ikut riset dan juga dapet...,"['id_mahasiswa', 'nama', 'total_proyek', 'nila..."
23,Find all lecturers who have both guided studen...,"SELECT d.id_dosen, d.nama,\n COUNT(DISTINCT m...",This SQL query identifies faculty members who ...,Find lecturers who supervise students and teac...,Dosen mana aja yang ngebimbing mahasiswa dan j...,"['id_dosen', 'nama', 'total_mahasiswa', 'jumla..."
24,Show all facilities in the descending order of...,"SELECT f.id_fasilitas, f.nama AS nama_fasilita...",This SQL query analyzes facility utilization a...,Which facility is shared by the most faculties...,Fasilitas mana yang dipake paling banyak fakul...,"['id_fasilitas', 'nama_fasilitas', 'total_faku..."
25,Identify students who have never missed a sing...,"SELECT m.id_mahasiswa, m.nama, COUNT(*) AS tot...",This SQL query identifies students with perfec...,Which students never missed any class? I want ...,Siapa mahasiswa yang ga pernah bolos sekalipun...,"['id_mahasiswa', 'nama', 'total_sesi_dihadiri']"
26,List all clubs whose members have an average G...,"SELECT k.id_klub, k.nama AS nama_klub, AVG(n.I...",This SQL query analyzes the academic performan...,List clubs where the average GPA of members is...,Klub mana aja yang anggota-anggotanya punya IP...,"['id_klub', 'nama_klub', 'avg_ipk']"
27,Which courses have no enrolled students but st...,"SELECT mk.id_mk, mk.judul, COUNT(s.id_sesi) AS...",This SQL query identifies courses that have sc...,Which courses have no students but still have ...,Matkul mana yang punya sesi tapi ga ada mahasi...,"['id_mk', 'judul', 'jumlah_sesi']"
28,Which books have been borrowed more than 5 tim...,"SELECT b.id_buku, b.judul, COUNT(p.id_peminjam...",This SQL query identifies popular library book...,Which books were borrowed more than 5 times an...,Buku apa aja yang udah dipinjam lebih dari 5x ...,"['id_buku', 'judul', 'total_peminjaman', 'sali..."
29,Find the top 5 lecturers based on total number...,"SELECT d.id_dosen, d.nama,\n (SELECT COUNT(*)...",This SQL query identifies the top 5 most activ...,Who are the top 5 lecturers with the most role...,"5 dosen teraktif dalam hal ngajar, bimbing, da...","['id_dosen', 'nama', 'total_peran']"
30,Which student has the widest academic engageme...,"SELECT m.id_mahasiswa, m.nama,\n COUNT(DISTIN...",This SQL query identifies the most actively in...,Which student is most active overall (sessions...,Mahasiswa mana yang paling aktif secara akadem...,"['id_mahasiswa', 'nama', 'total_sesi', 'total_..."
31,Show me the top 5 courses (MataKuliah) with th...,"SELECT mk.id_mk, mk.judul, AVG(e.nilai_partisi...",This SQL query identifies the top 5 courses wi...,Which courses had the best average participati...,Matkul mana yang punya nilai partisipasi terti...,"['id_mk', 'judul', 'avg_partisipasi']"
32,Find lecturers who teach in different facultie...,"SELECT d.id_dosen, d.nama, f1.nama AS assigned...",This query identifies faculty members who teac...,Which lecturers teach in different faculties t...,Dosen mana aja yang ngajar di fakultas berbeda...,"['id_dosen', 'nama', 'assigned_fakultas', 'tau..."
33,Which lecturers have taught the same course in...,"SELECT d.id_dosen, d.nama, mk.id_mk, mk.judul,...",This query identifies professors who have taug...,Which lecturers taught the same course in 3+ s...,Dosen mana yang ngajar matkul yang sama di 3 s...,"['id_dosen', 'nama', 'id_mk', 'judul', 'total_..."
34,List students who were absent more than 5 time...,"SELECT m.id_mahasiswa, m.nama, COUNT(*) AS tot...",This query identifies students with excessive ...,Which students were absent more than 5 times? ...,Mahasiswa mana yang absen lebih dari 5 kali? K...,"['id_mahasiswa', 'nama', 'total_absen']"
35,Identify research projects involving students ...,"SELECT p.id_proyek, p.judul, COUNT(DISTINCT m....",This query identifies research projects with p...,Which research projects involved students from...,Proyek penelitian mana yang diikuti mahasiswa ...,"['id_proyek', 'judul', 'total_jurusan']"
36,Show the top 5 clubs with the most diverse mem...,"SELECT k.id_klub, k.nama, COUNT(DISTINCT m.id_...",This query identifies the top 5 most diverse s...,Which clubs have students from many department...,Klub mana yang anggotanya datang dari berbagai...,"['id_klub', 'nama', 'total_jurusan']"
37,List the top 3 most borrowed books along with ...,"SELECT b.id_buku, b.judul, COUNT(p.id_peminjam...",This query identifies the top 3 most borrowed ...,What are the 3 most borrowed books and how man...,Apa aja 3 buku yang paling sering dipinjam dan...,"['id_buku', 'judul', 'total_peminjaman', 'sali..."
38,Which students have both top 10% GPA and have ...,"SELECT m.id_mahasiswa, m.nama, MAX(n.IPK) AS I...",This query identifies top-performing students ...,Which students have top GPA and their advisor ...,Siapa mahasiswa IPK-nya masuk top 10% dan pemb...,"['id_mahasiswa', 'nama', 'ipk', 'total_publika..."
39,List faculties that have more than one departm...,"SELECT f.id_fakultas, f.nama,\n COUNT(DISTINC...",This query identifies faculties that meet spec...,"List faculties with >1 department, 5+ lecturer...","Fakultas mana yang punya >1 jurusan, 5+ dosen ...","['id_fakultas', 'nama', 'total_jurusan', 'tota..."
40,"Which students have taken exams, participated ...","SELECT m.id_mahasiswa, m.nama,\n COUNT(DISTIN...",This query identifies well-rounded students wh...,"Which students took exams, did research, and j...","Mahasiswa mana yang ujian, ikut riset, dan akt...","['id_mahasiswa', 'nama', 'total_ujian', 'total..."
41,Identify faculties where the head (id_kepala) ...,"SELECT f.id_fakultas, f.nama, f.id_kepala, d.n...",This query identifies faculty heads who are no...,Which faculties have a head who doesn’t teach?...,Fakultas mana yang kepala fakultasnya ga perna...,"['id_fakultas', 'nama', 'id_kepala', 'nama_kep..."
42,Which courses have been taught by more than on...,"SELECT mk.id_mk, mk.judul, COUNT(DISTINCT s.id...",This query identifies courses that have been t...,Which courses are taught by different lecturer...,Matkul mana yang diajar sama banyak dosen di s...,"['id_mk', 'judul', 'total_pengajar']"
43,List students who received the highest exam sc...,"SELECT h.id_ujian, h.id_mahasiswa, m.nama, h.n...",This query identifies the top-performing stude...,Who got the highest score in each exam? Show i...,Siapa aja mahasiswa dengan nilai tertinggi di ...,"['id_ujian', 'id_mahasiswa', 'nama', 'nilai_di..."
44,Which books have never been borrowed but belon...,"SELECT b.id_buku, b.judul, b.kategori\n FROM ...",This query identifies books that have never be...,Which books were never borrowed but are in a c...,Buku mana yang belum pernah dipinjam tapi term...,"['id_buku', 'judul', 'kategori']"
45,Find students whose supervisor is also the aut...,"SELECT m.id_mahasiswa, m.nama, d.id_dosen AS i...",This query analyzes the research productivity ...,Which students have advisors that also write p...,Mahasiswa mana yang dosennya juga nulis publik...,"['id_mahasiswa', 'nama', 'id_pembimbing', 'nam..."
46,Which lecturers are involved in both teaching ...,"SELECT DISTINCT d.id_dosen, d.nama\n FROM Dos...",This query identifies faculty members who are ...,Which lecturers teach and lead research but do...,Dosen mana yang ngajar dan riset tapi ga bimbi...,"['id_dosen', 'nama']"
47,List facilities that are accessed by all facul...,"SELECT f.id_fasilitas, f.nama\n FROM Fasilita...",This query identifies facilities that are shar...,Which facilities are accessed by all faculties...,Fasilitas mana yang dipake semua fakultas? Kol...,"['id_fasilitas', 'nama']"
48,Find the number of students in each department...,"SELECT \n j.id_jurusan, \n j.nama AS nama_ju...",This SQL query calculates the number of high-a...,Which departments have students with above-ave...,Jurusan mana yang punya banyak mahasiswa IPK-n...,"['id_jurusan', 'nama_jurusan', 'jumlah_mahasis..."
49,Which clubs have only students from one depart...,"SELECT k.id_klub, k.nama AS nama_klub, m.id_ju...",This SQL query identifies clubs (klub) whose m...,Which clubs have only students from the same d...,Klub mana yang semua anggotanya dari satu juru...,"['id_klub', 'nama_klub', 'id_jurusan']"

# Experiment

## Multistage

In [10]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.predict_sql_multistage_only(user_prompt=question)
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you tell me which faculty did the most research projects? I just need their name (nama) and the number of projects (total_proyek).
Generated SQL Query: SELECT f.nama, COUNT(p.id_proyek) AS total_proyek
FROM Fakultas f
JOIN ProyekPenelitian p ON f.id_fakultas = p.id_fakultas
GROUP BY f.id_fakultas, f.nama
ORDER BY total_proyek DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 1.2: Fakultas mana yang paling banyak bikin proyek penelitian? Tampilkan nama (nama) dan jumlah proyeknya (total_proyek).
Generated SQL Query: SELECT f.nama, COUNT(pp.id_proyek) AS total_proyek
FROM Fakultas f
LEFT JOIN ProyekPenelitian pp ON f.id_fakultas = pp.id_fakultas
GROUP BY f.id_fakultas, f.nama
ORDER BY total_proyek DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 2.1: I’m curious which lecturer guides the most students. Please show their name (nama) and how many students they supervise (total_mahasiswa_dibimbing).
Generated SQL Query: SELECT d.nama, COUNT(m.id_mahasiswa) AS total_mahasiswa_dibimbing
FROM Dosen d
LEFT JOIN Mahasiswa m ON d.id_dosen = m.id_pembimbing
GROUP BY d.id_dosen, d.nama
ORDER BY total_mahasiswa_dibimbing DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 2.2: Dosen mana yang ngebimbing mahasiswa paling banyak? Aku butuh namanya (nama) dan total mahasiswa bimbingannya (total_mahasiswa_dibimbing).
Generated SQL Query: SELECT d.nama, COUNT(m.id_mahasiswa) AS total_mahasiswa_dibimbing
FROM Dosen d
JOIN Mahasiswa m ON d.id_dosen = m.id_pembimbing
GROUP BY d.id_dosen, d.nama
ORDER BY total_mahasiswa_dibimbing DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 3.1: Which student joined the most sessions? I want to see their name (nama) and how many sessions they attended (total_kehadiran).
Generated SQL Query: SELECT m.nama, COUNT(DISTINCT ek.id_sesi) AS total_kehadiran
FROM Mahasiswa m
JOIN EnrolmenKelas ek ON m.id_mahasiswa = ek.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_kehadiran DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 3.2: Mahasiswa mana yang paling rajin ikut sesi kelas? Kasih liat nama (nama) dan jumlah kehadirannya (total_kehadiran).
Generated SQL Query: SELECT m.nama, COALESCE(SUM(ek.kehadiran), 0) AS total_kehadiran
FROM Mahasiswa m
LEFT JOIN EnrolmenKelas ek ON m.id_mahasiswa = ek.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_kehadiran DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 4.1: What are the top 5 most popular courses? Show me the course title (judul) and how many students joined (total_mahasiswa).
Generated SQL Query: SELECT mk.judul, COUNT(k.id_mahasiswa) AS total_mahasiswa
FROM MataKuliah mk
JOIN Kelas k ON mk.id_mk = k.id_mk
GROUP BY mk.judul
ORDER BY total_mahasiswa DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Top 5 matkul yang paling banyak diambil siapa aja ya? Tampilkan judul matkulnya (judul) dan jumlah mahasiswa (total_mahasiswa).
Generated SQL Query: SELECT mk.judul, COUNT(k.id_mahasiswa) AS total_mahasiswa
FROM MataKuliah mk
JOIN Kelas k ON mk.id_mk = k.id_mk
GROUP BY mk.id_mk, mk.judul
ORDER BY total_mahasiswa DESC
LIMIT 5;
Execution Accuracy: 0.2000

Processing Question 5.1: Which faculty uses the most facilities? I need the faculty name (nama) and the number of facilities used (total_fasilitas).
Generated SQL Query: SELECT f.nama, COUNT(ff.id_fasilitas) AS total_fasilitas
FROM Fakultas f
JOIN FasilitasFakultas ff ON f.id_fakultas = ff.id_fakultas
GROUP BY f.id_fakultas, f.nama
ORDER BY total_fasilitas DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 5.2: Fakultas mana yang paling banyak pake fasilitas? Aku mau liat nama (nama) dan jumlah fasilitasnya (total_fasilitas).
Generated SQL Query: SELECT f.nama, COUNT(ff.id_fasilitas) AS total_fasilitas
FROM Fakultas f
JOIN FasilitasFakultas ff ON f.id_fakultas = ff.id_fakultas
GROUP BY f.id_fakultas, f.nama
ORDER BY total_fasilitas DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 6.1: Which course has the best average exam score? Show me the title (judul) and the average score (rata_rata_nilai).
Generated SQL Query: SELECT mk.judul, AVG(hu.nilai_diperoleh) AS rata_rata_nilai
FROM MataKuliah mk
JOIN Ujian uj ON mk.id_mk = uj.id_mk
JOIN HasilUjian hu ON uj.id_ujian = hu.id_ujian
GROUP BY mk.id_mk, mk.judul
ORDER BY rata_rata_nilai DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 6.2: Matkul mana yang nilai ujiannya paling tinggi rata-ratanya? Kasih tau judul (judul) dan nilai rata-rata (rata_rata_nilai).
Generated SQL Query: SELECT mk.judul, AVG(hu.nilai_diperoleh) AS rata_rata_nilai
FROM MataKuliah mk
JOIN Ujian u ON mk.id_mk = u.id_mk
JOIN HasilUjian hu ON u.id_ujian = hu.id_ujian
GROUP BY mk.id_mk, mk.judul
ORDER BY rata_rata_nilai DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 7.1: Who is the lecturer with the most publications? Just show their name (nama) and how many they’ve authored (total_publikasi).
Generated SQL Query: SELECT d.nama, COUNT(pp.id_publikasi) AS total_publikasi
FROM Dosen d
JOIN PenulisPublikasi pp ON d.id_dosen = pp.id_dosen
GROUP BY d.id_dosen, d.nama
ORDER BY total_publikasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 7.2: Dosen mana yang paling banyak nulis publikasi? Tunjukin namanya (nama) dan total publikasinya (total_publikasi).
Generated SQL Query: SELECT d.nama, COUNT(pp.id_publikasi) AS total_publikasi
FROM Dosen d
JOIN PenulisPublikasi pp ON d.id_dosen = pp.id_dosen
GROUP BY d.id_dosen, d.nama
ORDER BY total_publikasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 8.1: Which student has joined the most research projects? I need their name (nama) and the total number (total_partisipasi).
Generated SQL Query: SELECT m.nama, COUNT(pp.id_partisipasi) AS total_partisipasi
FROM Mahasiswa m
JOIN PartisipasiPenelitian pp ON m.id_mahasiswa = pp.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_partisipasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 8.2: Mahasiswa mana yang paling sering ikut proyek penelitian? Tunjukin namanya (nama) dan jumlah partisipasinya (total_partisipasi).
Generated SQL Query: SELECT m.nama, COUNT(pp.id_partisipasi) AS total_partisipasi
FROM Mahasiswa m
JOIN PartisipasiPenelitian pp ON m.id_mahasiswa = pp.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_partisipasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 9.1: Who’s borrowed the most books among students? Please show the ID (id_peminjam) and total borrow count (total_peminjaman).
Generated SQL Query: SELECT id_peminjam, COUNT(*) AS total_peminjaman
FROM PeminjamanBuku
GROUP BY id_peminjam
ORDER BY total_peminjaman DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 9.2: Mahasiswa mana yang paling sering minjem buku? Aku mau ID-nya (id_peminjam) dan total pinjamannya (total_peminjaman).
Generated SQL Query: SELECT id_peminjam, COUNT(*) AS total_peminjaman
FROM PeminjamanBuku
GROUP BY id_peminjam
ORDER BY total_peminjaman DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 10.1: Which club has the most members? Show the name (nama) and total members (total_anggota).
Generated SQL Query: SELECT ok.nama, COUNT(kk.id_mahasiswa) AS total_anggota
FROM OrganisasiKlub ok
JOIN KeanggotaanKlub kk ON ok.id_klub = kk.id_klub
GROUP BY ok.nama
ORDER BY total_anggota DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 10.2: Klub mana yang anggotanya paling banyak? Kasih tau nama klubnya (nama) dan jumlah anggota (total_anggota).
Generated SQL Query: SELECT k.nama, COUNT(km.id_mahasiswa) AS total_anggota
FROM OrganisasiKlub k
JOIN KeanggotaanKlub km ON k.id_klub = km.id_klub
GROUP BY k.id_klub, k.nama
ORDER BY total_anggota DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 11.1: Which student has the highest exam score total? I want to see id_mahasiswa, nama, and total_score.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, SUM(hu.nilai_diperoleh) AS total_score
FROM Mahasiswa m
JOIN HasilUjian hu ON m.id_mahasiswa = hu.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_score DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Mahasiswa mana yang total nilainya dari semua ujian paling tinggi? Aku mau id_mahasiswa, nama, dan total_score.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, COALESCE(SUM(hu.nilai_diperoleh), 0) AS total_score
FROM Mahasiswa m
LEFT JOIN HasilUjian hu ON m.id_mahasiswa = hu.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_score DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Can you list all faculties and show how many research projects, publications, and active lecturers each has? Show nama, total_proyek, total_publikasi, total_dosen_aktif.
Generated SQL Query: SELECT
    f.nama,
    COALESCE(pj.total_proyek, 0) AS total_proyek,
    COALESCE(pb.total_publikasi, 0) AS total_publikasi,
    COALESCE(d.total_dosen_aktif, 0) AS total_dosen_aktif
FROM
    Fakultas f
LEFT JOIN (
    SELECT
        id_fakultas,
        COUNT(*) AS total_proyek
    FROM ProyekPenelitian
    GROUP BY id_fakultas
) pj ON f.id_fakultas = pj.id_fakultas
LEFT JOIN (
    SELECT
        id_fakultas,
        COUNT(*) AS total_publikasi
    FROM Publikasi
    GROUP BY id_fakultas
) pb ON f.id_fakultas = pb.id_fakultas
LEFT JOIN (
    SELECT
        id_fakultas,
        COUNT(*) AS total_dosen_aktif
    FROM Dosen
    GROUP BY id_fakultas
) d ON f.id_fakultas = d.id_fakultas;
Execution Accuracy: 1.0000

Processing Question 12.2: Tolong tampilin semua fakultas beserta total proyek, publikasi, dan dosen aktifnya. Kolom: nama, total_proyek, total_publikasi, total_dosen_aktif.
Generated SQL Query: SELECT
  f.nama,
  COALESCE(p.total_proyek, 0) AS total_proyek,
  COALESCE(pub.total_publikasi, 0) AS total_publikasi,
  COALESCE(d.total_dosen_aktif, 0) AS total_dosen_aktif
FROM
  Fakultas f
LEFT JOIN (
  SELECT id_fakultas, COUNT(*) AS total_proyek
  FROM ProyekPenelitian
  GROUP BY id_fakultas
) p ON f.id_fakultas = p.id_fakultas
LEFT JOIN (
  SELECT id_fakultas, COUNT(*) AS total_publikasi
  FROM Publikasi
  GROUP BY id_fakultas
) pub ON f.id_fakultas = pub.id_fakultas
LEFT JOIN (
  SELECT id_fakultas, COUNT(*) AS total_dosen_aktif
  FROM Dosen
  GROUP BY id_fakultas
) d ON f.id_fakultas = d.id_fakultas;
Execution Accuracy: 1.0000

Processing Question 13.1: Which lecturer has taught the most different subjects? Show me their id_dosen, nama, and how many subjects (total_mk_diajar).
Generated SQL Query: SELECT d.id_dosen, d.nama, COUNT(DISTINCT m.id_mk) AS total_mk_diajar
FROM Dosen d
JOIN MataKuliah m ON d.id_dosen = m.id_pengajar
GROUP BY d.id_dosen, d.nama
ORDER BY total_mk_diajar DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 13.2: Dosen mana yang pernah ngajar mata kuliah paling banyak? Kasih id_dosen, nama, dan jumlah matkul (total_mk_diajar).
Generated SQL Query: SELECT d.id_dosen, d.nama, COUNT(DISTINCT mk.id_mk) AS total_mk_diajar
FROM Dosen d
JOIN MataKuliah mk ON d.id_dosen = mk.id_pengajar
GROUP BY d.id_dosen, d.nama
ORDER BY total_mk_diajar DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 14.1: Who are the top 3 students with the best total participation scores? I want id_mahasiswa, nama, and total_partisipasi.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, COALESCE(SUM(pp.jam_kontribusi), 0) AS total_partisipasi
FROM Mahasiswa m
LEFT JOIN PartisipasiPenelitian pp ON m.id_mahasiswa = pp.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_partisipasi DESC
LIMIT 3;
Execution Accuracy: 0.0000

Processing Question 14.2: Tolong tunjukin 3 mahasiswa dengan nilai partisipasi tertinggi. Kolom: id_mahasiswa, nama, total_partisipasi.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, SUM(ek.nilai_partisipasi) AS total_partisipasi
FROM Mahasiswa m
JOIN EnrolmenKelas ek ON m.id_mahasiswa = ek.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_partisipasi DESC
LIMIT 3;
Execution Accuracy: 1.0000

Processing Question 15.1: Which students joined more than 2 projects and are in a club? Show id_mahasiswa, nama, total_proyek, and total_klub.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama,
       COUNT(DISTINCT pp.id_proyek) AS total_proyek,
       COUNT(DISTINCT kk.id_klub) AS total_klub
FROM Mahasiswa m
LEFT JOIN PartisipasiPenelitian pp ON m.id_mahasiswa = pp.id_mahasiswa
LEFT JOIN KeanggotaanKlub kk ON m.id_mahasiswa = kk.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
HAVING COUNT(DISTINCT pp.id_proyek) > 2
   AND COUNT(DISTINCT kk.id_klub) > 0;
Execution Accuracy: 1.0000

Processing Question 15.2: Siapa aja mahasiswa yang ikut lebih dari 2 proyek dan juga aktif di klub? Tampilkan id_mahasiswa, nama, total_proyek, total_klub.
Generated SQL Query: SELECT
    m.id_mahasiswa,
    m.nama,
    COALESCE(proyek.total_proyek, 0) AS total_proyek,
    COALESCE(klub.total_klub, 0) AS total_klub
FROM
    Mahasiswa m
LEFT JOIN (
    SELECT
        id_mahasiswa,
        COUNT(DISTINCT id_proyek) AS total_proyek
    FROM
        PartisipasiPenelitian
    GROUP BY
        id_mahasiswa
    HAVING
        COUNT(DISTINCT id_proyek) > 2
) proyek ON m.id_mahasiswa = proyek.id_mahasiswa
LEFT JOIN (
    SELECT
        id_mahasiswa,
        COUNT(DISTINCT id_klub) AS total_klub
    FROM
        KeanggotaanKlub
    GROUP BY
        id_mahasiswa
) klub ON m.id_mahasiswa = klub.id_mahasiswa
WHERE
    proyek.total_proyek IS NOT NULL
    AND klub.total_klub IS NOT NULL;
Execution Accuracy: 1.0000

Processing Question 16.1: What are the top 5 facilities with the highest average access? Show id_fasilitas, nama, and avg_akses.
Generated SQL Query: SELECT f.id_fasilitas, f.nama, AVG(ff.tingkat_akses) AS avg_akses
FROM Fasilitas f
JOIN FasilitasFakultas ff ON f.id_fasilitas = ff.id_fasilitas
GROUP BY f.id_fasilitas, f.nama
ORDER BY avg_akses DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 16.2: Fasilitas apa aja yang rata-rata tingkat aksesnya paling tinggi? Aku mau id_fasilitas, nama, avg_akses.
Generated SQL Query: SELECT f.id_fasilitas, f.nama, AVG(ff.tingkat_akses) AS avg_akses
FROM Fasilitas f
JOIN FasilitasFakultas ff ON f.id_fasilitas = ff.id_fasilitas
GROUP BY f.id_fasilitas, f.nama
HAVING AVG(ff.tingkat_akses) = (
    SELECT MAX(avg_akses_sub)
    FROM (
        SELECT AVG(tingkat_akses) AS avg_akses_sub
        FROM FasilitasFakultas
        GROUP BY id_fasilitas
    ) sub
);
Execution Accuracy: 0.0000

Processing Question 17.1: Find me lecturers who both supervise students and publish papers. Show id_dosen, nama, total_mahasiswa_bimbingan, total_publikasi.
Generated SQL Query: SELECT d.id_dosen, d.nama,
       COUNT(DISTINCT m.id_mahasiswa) AS total_mahasiswa_bimbingan,
       COUNT(DISTINCT pp.id_publikasi) AS total_publikasi
FROM Dosen d
LEFT JOIN Mahasiswa m ON d.id_dosen = m.id_pembimbing
LEFT JOIN PenulisPublikasi ppp ON d.id_dosen = ppp.id_dosen
LEFT JOIN Publikasi pp ON ppp.id_publikasi = pp.id_publikasi
GROUP BY d.id_dosen, d.nama
HAVING COUNT(DISTINCT m.id_mahasiswa) > 0 AND COUNT(DISTINCT pp.id_publikasi) > 0;
Execution Accuracy: 1.0000

Processing Question 17.2: Dosen mana yang bimbing mahasiswa sekaligus bikin publikasi? Tampilkan id_dosen, nama, total_mahasiswa_bimbingan, total_publikasi.
Generated SQL Query: SELECT d.id_dosen, d.nama,
       COUNT(DISTINCT m.id_mahasiswa) AS total_mahasiswa_bimbingan,
       COUNT(DISTINCT pp.id_publikasi) AS total_publikasi
FROM Dosen d
LEFT JOIN Mahasiswa m ON d.id_dosen = m.id_pembimbing
LEFT JOIN PenulisPublikasi pp ON d.id_dosen = pp.id_dosen
GROUP BY d.id_dosen, d.nama
HAVING COUNT(DISTINCT m.id_mahasiswa) > 0 AND COUNT(DISTINCT pp.id_publikasi) > 0;
Execution Accuracy: 1.0000

Processing Question 18.1: Which students both borrow books and attend 10+ sessions? Show id_mahasiswa, nama, total_buku_dipinjam, total_sesi.
Generated SQL Query: SELECT
    m.id_mahasiswa,
    m.nama,
    COUNT(DISTINCT pb.id_buku) AS total_buku_dipinjam,
    COUNT(DISTINCT ek.id_sesi) AS total_sesi
FROM
    Mahasiswa m
JOIN
    PeminjamanBuku pb ON m.id_mahasiswa = pb.id_peminjam
JOIN
    EnrolmenKelas ek ON m.id_mahasiswa = ek.id_mahasiswa
GROUP BY
    m.id_mahasiswa, m.nama
HAVING
    COUNT(DISTINCT pb.id_buku) > 0
    AND COUNT(DISTINCT ek.id_sesi) >= 10;
Execution Accuracy: 1.0000

Processing Question 18.2: Mahasiswa mana aja yang suka minjem buku dan hadir di lebih dari 10 sesi? Tampilkan id_mahasiswa, nama, total_buku_dipinjam, total_sesi.
Generated SQL Query: SELECT
    m.id_mahasiswa,
    m.nama,
    COUNT(DISTINCT pb.id_peminjaman) AS total_buku_dipinjam,
    COUNT(DISTINCT ek.id_sesi) AS total_sesi
FROM
    Mahasiswa m
JOIN
    PeminjamanBuku pb ON pb.id_peminjam = m.id_mahasiswa
JOIN
    EnrolmenKelas ek ON ek.id_mahasiswa = m.id_mahasiswa
GROUP BY
    m.id_mahasiswa, m.nama
HAVING
    COUNT(DISTINCT pb.id_peminjaman) > 0
    AND COUNT(DISTINCT ek.id_sesi) > 10;
Execution Accuracy: 1.0000

Processing Question 19.1: List all courses with both a session and an exam, and show the average grade and exam score. Show id_mk, judul, avg_nilai_akhir, avg_nilai_ujian.
Generated SQL Query: SELECT
    mk.id_mk,
    mk.judul,
    AVG(n.nilai_akhir) AS avg_nilai_akhir,
    AVG(hu.nilai_diperoleh) AS avg_nilai_ujian
FROM
    MataKuliah mk
JOIN
    Sesi s ON mk.id_mk = s.id_mk
JOIN
    Nilai n ON mk.id_mk = n.id_mk
JOIN
    Ujian u ON mk.id_mk = u.id_mk
JOIN
    HasilUjian hu ON u.id_ujian = hu.id_ujian
GROUP BY
    mk.id_mk, mk.judul;
Execution Accuracy: 0.0000

Processing Question 19.2: Matkul apa yang punya sesi & ujian? Tampilkan nilai akhir rata-rata dan nilai ujian rata-rata. Kolom: id_mk, judul, avg_nilai_akhir, avg_nilai_ujian.
Generated SQL Query: SELECT
  mk.id_mk,
  mk.judul,
  AVG(n.nilai_akhir) AS avg_nilai_akhir,
  AVG(hu.nilai_diperoleh) AS avg_nilai_ujian
FROM
  MataKuliah mk
JOIN
  Sesi s ON mk.id_mk = s.id_mk
JOIN
  Nilai n ON mk.id_mk = n.id_mk
JOIN
  Ujian u ON mk.id_mk = u.id_mk
JOIN
  HasilUjian hu ON u.id_ujian = hu.id_ujian
GROUP BY
  mk.id_mk, mk.judul;
Execution Accuracy: 0.0000

Processing Question 20.1: Which faculties have clubs joined by students from different majors? I want id_fakultas, nama, and total_jurusan_klub.
Generated SQL Query: SELECT f.id_fakultas, f.nama, COUNT(DISTINCT m.id_jurusan) AS total_jurusan_klub
FROM Fakultas f
JOIN OrganisasiKlub ok ON ok.id_pembimbing_dosen IN (
  SELECT d.id_dosen FROM Dosen d WHERE d.id_fakultas = f.id_fakultas
)
JOIN KeanggotaanKlub kk ON kk.id_klub = ok.id_klub
JOIN Mahasiswa m ON m.id_mahasiswa = kk.id_mahasiswa
GROUP BY f.id_fakultas, f.nama
HAVING COUNT(DISTINCT m.id_jurusan) > 1;
Execution Accuracy: 0.0000

Processing Question 20.2: Fakultas mana yang klubnya diisi mahasiswa dari banyak jurusan? Tampilkan id_fakultas, nama, total_jurusan_klub.
Generated SQL Query: SELECT f.id_fakultas, f.nama, COUNT(DISTINCT m.id_jurusan) AS total_jurusan_klub
FROM Fakultas f
JOIN OrganisasiKlub ok ON ok.id_pembimbing_dosen IN (
    SELECT d.id_dosen FROM Dosen d WHERE d.id_fakultas = f.id_fakultas
)
JOIN KeanggotaanKlub kk ON kk.id_klub = ok.id_klub
JOIN Mahasiswa m ON m.id_mahasiswa = kk.id_mahasiswa
GROUP BY f.id_fakultas, f.nama
HAVING COUNT(DISTINCT m.id_jurusan) > 1;
Execution Accuracy: 0.0000

Processing Question 21.1: Which faculty head also teaches? Show id_kepala, nama_dosen, and jumlah_mk_diajar.
Generated SQL Query: SELECT f.id_kepala, d.nama AS nama_dosen, COUNT(mk.id_mk) AS jumlah_mk_diajar
FROM Fakultas f
JOIN Dosen d ON f.id_kepala = d.id_dosen
LEFT JOIN MataKuliah mk ON d.id_dosen = mk.id_pengajar
GROUP BY f.id_kepala, d.nama;
Execution Accuracy: 0.0000

Processing Question 21.2: Kepala fakultas mana yang juga ngajar? Tampilkan id_kepala, nama_dosen, dan jumlah matkul yang diajarkan.
Generated SQL Query: SELECT
    f.id_kepala,
    d.nama AS nama_dosen,
    COUNT(mk.id_mk) AS jumlah_matkul
FROM
    Fakultas f
JOIN
    Dosen d ON f.id_kepala = d.id_dosen
LEFT JOIN
    MataKuliah mk ON d.id_dosen = mk.id_pengajar
GROUP BY

In [11]:
df_results_multistage = pd.DataFrame(results_list)
df_results_multistage.to_csv(f"{output_dir}/{MODEL}_{DATABASE}_multistage.csv", index=False)

## Incremental

In [12]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.predict_sql_incremental_only(user_prompt=question)
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you tell me which faculty did the most research projects? I just need their name (nama) and the number of projects (total_proyek).
Generated SQL Query: SELECT f.nama, COUNT(p.id_proyek) AS total_proyek
FROM Fakultas f
JOIN ProyekPenelitian p ON f.id_fakultas = p.id_fakultas
GROUP BY f.id_fakultas, f.nama
ORDER BY total_proyek DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 1.2: Fakultas mana yang paling banyak bikin proyek penelitian? Tampilkan nama (nama) dan jumlah proyeknya (total_proyek).
Generated SQL Query: SELECT f.nama, COUNT(p.id_proyek) AS total_proyek
FROM Fakultas f
LEFT JOIN ProyekPenelitian p ON f.id_fakultas = p.id_fakultas
GROUP BY f.nama
ORDER BY total_proyek DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 2.1: I’m curious which lecturer guides the most students. Please show their name (nama) and how many students they supervise (total_mahasiswa_dibimbing).
Generated SQL Query: SELECT D.nama AS nama, COUNT(M.id_mahasiswa) AS total_mahasiswa_dibimbing
FROM Dosen D
LEFT JOIN Mahasiswa M ON D.id_dosen = M.id_pembimbing
GROUP BY D.id_dosen, D.nama
ORDER BY total_mahasiswa_dibimbing DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 2.2: Dosen mana yang ngebimbing mahasiswa paling banyak? Aku butuh namanya (nama) dan total mahasiswa bimbingannya (total_mahasiswa_dibimbing).
Generated SQL Query: SELECT d.nama, COUNT(m.id_mahasiswa) AS total_mahasiswa_dibimbing
FROM Dosen d
LEFT JOIN Mahasiswa m ON d.id_dosen = m.id_pembimbing
GROUP BY d.id_dosen, d.nama
ORDER BY total_mahasiswa_dibimbing DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 3.1: Which student joined the most sessions? I want to see their name (nama) and how many sessions they attended (total_kehadiran).
Generated SQL Query: SELECT m.nama, COUNT(ek.id_sesi) AS total_kehadiran
FROM Mahasiswa m
JOIN EnrolmenKelas ek ON m.id_mahasiswa = ek.id_mahasiswa
WHERE ek.kehadiran > 0
GROUP BY m.id_mahasiswa, m.nama
HAVING COUNT(ek.id_sesi) = (
    SELECT MAX(jumlah_kehadiran) FROM (
        SELECT COUNT(ek2.id_sesi) AS jumlah_kehadiran
        FROM EnrolmenKelas ek2
        WHERE ek2.kehadiran > 0
        GROUP BY ek2.id_mahasiswa
    ) subquery
);
Execution Accuracy: 0.0000

Processing Question 3.2: Mahasiswa mana yang paling rajin ikut sesi kelas? Kasih liat nama (nama) dan jumlah kehadirannya (total_kehadiran).
Generated SQL Query: SELECT m.nama, SUM(ek.kehadiran) AS total_kehadiran
FROM Mahasiswa m
JOIN EnrolmenKelas ek ON m.id_mahasiswa = ek.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_kehadiran DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 4.1: What are the top 5 most popular courses? Show me the course title (judul) and how many students joined (total_mahasiswa).
Generated SQL Query: SELECT mk.judul, COUNT(k.id_mahasiswa) AS total_mahasiswa
FROM MataKuliah mk
JOIN Kelas k ON mk.id_mk = k.id_mk
GROUP BY mk.id_mk, mk.judul
ORDER BY total_mahasiswa DESC
LIMIT 5;
Execution Accuracy: 0.2000

Processing Question 4.2: Top 5 matkul yang paling banyak diambil siapa aja ya? Tampilkan judul matkulnya (judul) dan jumlah mahasiswa (total_mahasiswa).
Generated SQL Query: SELECT mk.judul, COUNT(k.id_mahasiswa) AS total_mahasiswa
FROM MataKuliah mk
LEFT JOIN Kelas k ON mk.id_mk = k.id_mk
GROUP BY mk.id_mk, mk.judul
ORDER BY total_mahasiswa DESC
LIMIT 5;
Execution Accuracy: 0.2000

Processing Question 5.1: Which faculty uses the most facilities? I need the faculty name (nama) and the number of facilities used (total_fasilitas).
Generated SQL Query: SELECT f.nama, COUNT(ff.id_fasilitas) AS total_fasilitas
FROM Fakultas f
JOIN FasilitasFakultas ff ON f.id_fakultas = ff.id_fakultas
GROUP BY f.id_fakultas, f.nama
ORDER BY total_fasilitas DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 5.2: Fakultas mana yang paling banyak pake fasilitas? Aku mau liat nama (nama) dan jumlah fasilitasnya (total_fasilitas).
Generated SQL Query: SELECT f.nama, COUNT(ff.id_fasilitas) AS total_fasilitas
FROM Fakultas f
JOIN FasilitasFakultas ff ON f.id_fakultas = ff.id_fakultas
GROUP BY f.id_fakultas, f.nama
ORDER BY total_fasilitas DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 6.1: Which course has the best average exam score? Show me the title (judul) and the average score (rata_rata_nilai).
Generated SQL Query: SELECT mk.judul, AVG(hu.nilai_diperoleh) AS rata_rata_nilai
FROM MataKuliah mk
JOIN Ujian u ON mk.id_mk = u.id_mk
JOIN HasilUjian hu ON u.id_ujian = hu.id_ujian
GROUP BY mk.id_mk, mk.judul
ORDER BY rata_rata_nilai DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 6.2: Matkul mana yang nilai ujiannya paling tinggi rata-ratanya? Kasih tau judul (judul) dan nilai rata-rata (rata_rata_nilai).
Generated SQL Query: SELECT mk.judul, AVG(hu.nilai_diperoleh) AS rata_rata_nilai
FROM MataKuliah mk
JOIN Ujian u ON mk.id_mk = u.id_mk
JOIN HasilUjian hu ON u.id_ujian = hu.id_ujian
GROUP BY mk.id_mk, mk.judul
ORDER BY rata_rata_nilai DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 7.1: Who is the lecturer with the most publications? Just show their name (nama) and how many they’ve authored (total_publikasi).
Generated SQL Query: SELECT d.nama, COUNT(pp.id_publikasi) AS total_publikasi
FROM Dosen d
JOIN PenulisPublikasi pp ON d.id_dosen = pp.id_dosen
GROUP BY d.id_dosen, d.nama
ORDER BY total_publikasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 7.2: Dosen mana yang paling banyak nulis publikasi? Tunjukin namanya (nama) dan total publikasinya (total_publikasi).
Generated SQL Query: SELECT d.nama, COUNT(pp.id_publikasi) AS total_publikasi
FROM Dosen d
JOIN PenulisPublikasi pp ON d.id_dosen = pp.id_dosen
GROUP BY d.id_dosen, d.nama
ORDER BY total_publikasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 8.1: Which student has joined the most research projects? I need their name (nama) and the total number (total_partisipasi).
Generated SQL Query: SELECT m.nama, COUNT(pp.id_partisipasi) AS total_partisipasi
FROM Mahasiswa m
JOIN PartisipasiPenelitian pp ON m.id_mahasiswa = pp.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_partisipasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 8.2: Mahasiswa mana yang paling sering ikut proyek penelitian? Tunjukin namanya (nama) dan jumlah partisipasinya (total_partisipasi).
Generated SQL Query: SELECT m.nama, COUNT(pp.id_partisipasi) AS total_partisipasi
FROM Mahasiswa m
JOIN PartisipasiPenelitian pp ON m.id_mahasiswa = pp.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_partisipasi DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 9.1: Who’s borrowed the most books among students? Please show the ID (id_peminjam) and total borrow count (total_peminjaman).
Generated SQL Query: SELECT pb.id_peminjam, COUNT(*) AS total_peminjaman
FROM PeminjamanBuku pb
JOIN Mahasiswa m ON pb.id_peminjam = m.id_mahasiswa
GROUP BY pb.id_peminjam
HAVING COUNT(*) = (
    SELECT MAX(borrow_count) FROM (
        SELECT pb2.id_peminjam, COUNT(*) AS borrow_count
        FROM PeminjamanBuku pb2
        JOIN Mahasiswa m2 ON pb2.id_peminjam = m2.id_mahasiswa
        GROUP BY pb2.id_peminjam
    ) AS subquery
);
Execution Accuracy: 0.0000

Processing Question 9.2: Mahasiswa mana yang paling sering minjem buku? Aku mau ID-nya (id_peminjam) dan total pinjamannya (total_peminjaman).
Generated SQL Query: SELECT id_peminjam, COUNT(*) AS total_peminjaman
FROM PeminjamanBuku
WHERE id_peminjam IN (SELECT id_mahasiswa FROM Mahasiswa)
GROUP BY id_peminjam
ORDER BY total_peminjaman DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 10.1: Which club has the most members? Show the name (nama) and total members (total_anggota).
Generated SQL Query: SELECT ok.nama, COUNT(kk.id_mahasiswa) AS total_anggota
FROM OrganisasiKlub ok
JOIN KeanggotaanKlub kk ON ok.id_klub = kk.id_klub
GROUP BY ok.id_klub, ok.nama
ORDER BY total_anggota DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 10.2: Klub mana yang anggotanya paling banyak? Kasih tau nama klubnya (nama) dan jumlah anggota (total_anggota).
Generated SQL Query: SELECT
    ok.nama,
    COUNT(kk.id_mahasiswa) AS total_anggota
FROM
    OrganisasiKlub ok
LEFT JOIN
    KeanggotaanKlub kk ON ok.id_klub = kk.id_klub
GROUP BY
    ok.nama
ORDER BY
    total_anggota DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.1: Which student has the highest exam score total? I want to see id_mahasiswa, nama, and total_score.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, SUM(hu.nilai_diperoleh) AS total_score
FROM Mahasiswa m
JOIN HasilUjian hu ON m.id_mahasiswa = hu.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_score DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Mahasiswa mana yang total nilainya dari semua ujian paling tinggi? Aku mau id_mahasiswa, nama, dan total_score.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, SUM(hu.nilai_diperoleh) AS total_score
FROM Mahasiswa m
JOIN HasilUjian hu ON m.id_mahasiswa = hu.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_score DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Can you list all faculties and show how many research projects, publications, and active lecturers each has? Show nama, total_proyek, total_publikasi, total_dosen_aktif.
Generated SQL Query: SELECT
  f.nama,
  COALESCE(pj.total_proyek, 0) AS total_proyek,
  COALESCE(pb.total_publikasi, 0) AS total_publikasi,
  COALESCE(d.total_dosen_aktif, 0) AS total_dosen_aktif
FROM
  Fakultas f
LEFT JOIN (
  SELECT
    id_fakultas,
    COUNT(*) AS total_proyek
  FROM
    ProyekPenelitian
  GROUP BY
    id_fakultas
) pj ON f.id_fakultas = pj.id_fakultas
LEFT JOIN (
  SELECT
    id_fakultas,
    COUNT(*) AS total_publikasi
  FROM
    Publikasi
  GROUP BY
    id_fakultas
) pb ON f.id_fakultas = pb.id_fakultas
LEFT JOIN (
  SELECT
    id_fakultas,
    COUNT(*) AS total_dosen_aktif
  FROM
    Dosen
  GROUP BY
    id_fakultas
) d ON f.id_fakultas = d.id_fakultas;
Execution Accuracy: 1.0000

Processing Question 12.2: Tolong tampilin semua fakultas beserta total proyek, publikasi, dan dosen aktifnya. Kolom: nama, total_proyek, total_publikasi, total_dosen_aktif.
Generated SQL Query: SELECT
    f.nama AS nama,
    COALESCE(proyek.total_proyek, 0) AS total_proyek,
    COALESCE(pub.total_publikasi, 0) AS total_publikasi,
    COALESCE(dosen_aktif.total_dosen_aktif, 0) AS total_dosen_aktif
FROM
    Fakultas f
LEFT JOIN
    (SELECT id_fakultas, COUNT(*) AS total_proyek
     FROM ProyekPenelitian
     GROUP BY id_fakultas) proyek ON f.id_fakultas = proyek.id_fakultas
LEFT JOIN
    (SELECT id_fakultas, COUNT(*) AS total_publikasi
     FROM Publikasi
     GROUP BY id_fakultas) pub ON f.id_fakultas = pub.id_fakultas
LEFT JOIN
    (SELECT f.id_fakultas, COUNT(DISTINCT d.id_dosen) AS total_dosen_aktif
     FROM Fakultas f
     LEFT JOIN Dosen d ON f.id_fakultas = d.id_fakultas
     LEFT JOIN (
         SELECT DISTINCT id_pengajar AS id_dosen FROM MataKuliah WHERE id_pengajar IS NOT NULL
         UNION
         SELECT DISTINCT id_dosen FROM ProyekPenelitian WHERE id_dosen IS NOT NULL
         UNION
         SELECT DISTINCT id_dosen FROM PenulisPublikasi WHERE id_dosen IS NOT NULL
         UNION
         SELECT DISTINCT id_pengajar FROM Sesi WHERE id_pengajar IS NOT NULL
         UNION
         SELECT DISTINCT id_pembimbing FROM Mahasiswa WHERE id_pembimbing IS NOT NULL
     ) aktif ON d.id_dosen = aktif.id_dosen
     WHERE aktif.id_dosen IS NOT NULL
     GROUP BY f.id_fakultas) dosen_aktif ON f.id_fakultas = dosen_aktif.id_fakultas;
Execution Accuracy: 1.0000

Processing Question 13.1: Which lecturer has taught the most different subjects? Show me their id_dosen, nama, and how many subjects (total_mk_diajar).
Generated SQL Query: SELECT D.id_dosen, D.nama, COUNT(DISTINCT M.id_mk) AS total_mk_diajar
FROM Dosen D
JOIN MataKuliah M ON D.id_dosen = M.id_pengajar
GROUP BY D.id_dosen, D.nama
ORDER BY total_mk_diajar DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 13.2: Dosen mana yang pernah ngajar mata kuliah paling banyak? Kasih id_dosen, nama, dan jumlah matkul (total_mk_diajar).
Generated SQL Query: SELECT D.id_dosen, D.nama, COUNT(M.id_mk) AS total_mk_diajar
FROM Dosen D
LEFT JOIN MataKuliah M ON D.id_dosen = M.id_pengajar
GROUP BY D.id_dosen, D.nama
ORDER BY total_mk_diajar DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 14.1: Who are the top 3 students with the best total participation scores? I want id_mahasiswa, nama, and total_partisipasi.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, p.total_participation
FROM Mahasiswa m
JOIN (
    SELECT id_mahasiswa, SUM(jam_kontribusi) AS total_participation
    FROM PartisipasiPenelitian
    GROUP BY id_mahasiswa
    ORDER BY total_participation DESC
    LIMIT 3
) p ON m.id_mahasiswa = p.id_mahasiswa
ORDER BY p.total_participation DESC;
Execution Accuracy: 0.0000

Processing Question 14.2: Tolong tunjukin 3 mahasiswa dengan nilai partisipasi tertinggi. Kolom: id_mahasiswa, nama, total_partisipasi.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama, COALESCE(SUM(ek.nilai_partisipasi), 0) AS total_partisipasi
FROM Mahasiswa m
LEFT JOIN EnrolmenKelas ek ON m.id_mahasiswa = ek.id_mahasiswa
GROUP BY m.id_mahasiswa, m.nama
ORDER BY total_partisipasi DESC
LIMIT 3;
Execution Accuracy: 1.0000

Processing Question 15.1: Which students joined more than 2 projects and are in a club? Show id_mahasiswa, nama, total_proyek, and total_klub.
Generated SQL Query: SELECT m.id_mahasiswa, m.nama,
       pp.total_proyek,
       kk.total_klub
FROM Mahasiswa m
JOIN (
    SELECT id_mahasiswa, COUNT(DISTINCT id_proyek) AS total_proyek
    FROM PartisipasiPenelitian
    GROUP BY id_mahasiswa
    HAVING COUNT(DISTINCT id_proyek) > 2
) pp ON m.id_mahasiswa = pp.id_mahasiswa
JOIN (
    SELECT id_mahasiswa, COUNT(DISTINCT id_klub) AS total_klub
    FROM KeanggotaanKlub
    GROUP BY id_mahasiswa
) kk ON m.id_mahasiswa = kk.id_mahasiswa;
Execution Accuracy: 1.0000

Processing Question 15.2: Siapa aja mahasiswa yang ikut lebih dari 2 proyek dan juga aktif di klub? Tampilkan id_mahasiswa, nama, total_proyek, total_klub.
Generated SQL Query: SELECT
    m.id_mahasiswa,
    m.nama,
    COUNT(DISTINCT pp.id_proyek) AS total_proyek,
    COUNT(DISTINCT kk.id_klub) AS total_klub
FROM
    Mahasiswa m
JOIN
    PartisipasiPenelitian pp ON m.id_mahasiswa = pp.id_mahasiswa
JOIN
    KeanggotaanKlub kk ON m.id_mahasiswa = kk.id_mahasiswa
GROUP BY
    m.id_mahasiswa,
    m.nama
HAVING
    COUNT(DISTINCT pp.id_proyek) > 2
    AND COUNT(DISTINCT kk.id_klub) > 0;
Execution Accuracy: 1.0000

Processing Question 16.1: What are the top 5 facilities with the highest average access? Show id_fasilitas, nama, and avg_akses.
Generated SQL Query: SELECT ff.id_fasilitas, f.nama, AVG(ff.tingkat_akses) AS avg_akses
FROM FasilitasFakultas ff
JOIN Fasilitas f ON ff.id_fasilitas = f.id_fasilitas
GROUP BY ff.id_fasilitas, f.nama
ORDER BY avg_akses DESC
LIMIT 5;
Execution Accuracy: 0.6000

Processing Question 16.2: Fasilitas apa aja yang rata-rata tingkat aksesnya paling tinggi? Aku mau id_fasilitas, nama, avg_akses.
Generated SQL Query: WITH AvgAkses AS (
  SELECT id_fasilitas, AVG(tingkat_akses) AS rata_rata_akses
  FROM FasilitasFakultas
  GROUP BY id_fasilitas
),
MaxAkses AS (
  SELECT MAX(rata_rata_akses) AS max_akses
  FROM AvgAkses
)
SELECT f.id_fasilitas, f.nama, a.rata_rata_akses
FROM AvgAkses a
JOIN MaxAkses m ON a.rata_rata_akses = m.max_akses
JOIN Fasilitas f ON a.id_fasilitas = f.id_fasilitas;
Execution Accuracy: 0.0000

Processing Question 17.1: Find me lecturers who both supervise students and publish papers. Show id_dosen, nama, total_mahasiswa_bimbingan, total_publikasi.
Generated SQL Query: SELECT
    d.id_dosen,
    d.nama,
    b.total_mahasiswa_bimbingan,
    p.total_publikasi
FROM
    Dosen d
JOIN (
    SELECT
        id_pembimbing AS id_dosen,
        COUNT(id_mahasiswa) AS total_mahasiswa_bimbingan
    FROM
        Mahasiswa
    WHERE id_pembimbing IS NOT NULL
    GROUP BY
        id_pembimbing
) b ON d.id_dosen = b.id_dosen
JOIN (
    SELECT
        id_dosen,
        COUNT(id_publikasi) AS total_publikasi
    FROM
        PenulisPublikasi
    GROUP BY
        id_dosen
) p ON d.id_dosen = p.id_dosen;
Execution Accuracy: 1.0000

Processing Question 17.2: Dosen mana yang bimbing mahasiswa sekaligus bikin publikasi? Tampilkan id_dosen, nama, total_mahasiswa_bimbingan, total_publikasi.
Generated SQL Query: SELECT d.id_dosen, d.nama,
       COALESCE(bimbingan.jumlah_mahasiswa, 0) AS total_mahasiswa_bimbingan,
       COALESCE(publikasi.jumlah_publikasi, 0) AS total_publikasi
FROM Dosen d
JOIN (
    SELECT id_pembimbing, COUNT(*) AS jumlah_mahasiswa
    FROM Mahasiswa
    WHERE id_pembimbing IS NOT NULL
    GROUP BY id_pembimbing
) bimbingan ON d.id_dosen = bimbingan.id_pembimbing
JOIN (
    SELECT pp.id_dosen, COUNT(DISTINCT p.id_publikasi) AS jumlah_publikasi
    FROM PenulisPublikasi pp
    JOIN Publikasi p ON pp.id_publikasi = p.id_publikasi
    GROUP BY pp.id_dosen
) publikasi ON d.id_dosen = publikasi.id_dosen;
Execution Accuracy: 1.0000

Processing Question 18.1: Which students both borrow books and attend 10+ sessions? Show id_mahasiswa, nama, total_buku_dipinjam, total_sesi.
Generated SQL Query: SELECT
    m.id_mahasiswa,
    m.nama,
    borrowed.total_buku_dipinjam,
    attended.total_sesi
FROM
    Mahasiswa m
JOIN
    (
        SELECT
            id_peminjam AS id_mahasiswa,
            COUNT(*) AS total_buku_dipinjam
        FROM
            PeminjamanBuku
        GROUP BY
            id_peminjam
    ) borrowed ON m.id_mahasiswa = borrowed.id_mahasiswa
JOIN
    (
        SELECT
            id_mahasiswa,
            COUNT(DISTINCT id_sesi) AS total_sesi
        FROM
            EnrolmenKelas
        GROUP BY
            id_mahasiswa
        HAVING COUNT(DISTINCT id_sesi) >= 10
    ) attended ON m.id_mahasiswa = attended.id_mahasiswa;
Execution Accuracy: 1.0000

Processing Question 18.2: Mahasiswa mana aja yang suka minjem buku dan hadir di lebih dari 10 sesi? Tampilkan id_mahasiswa, nama, total_buku_dipinjam, total_sesi.
Generated SQL Query: SELECT
    m.id_mahasiswa,
    m.nama,
    COALESCE(b.total_buku_dipinjam, 0) AS total_buku_dipinjam,
    COALESCE(s.total_sesi_dihadiri, 0) AS total_sesi
FROM
    Mahasiswa m
JOIN
    (
        SELECT
            id_peminjam,
            COUNT(*) AS total_buku_dipinjam
        FROM
            PeminjamanBuku
        WHERE
            id_peminjam IN (SELECT id_mahasiswa FROM Mahasiswa)
        GROUP BY
            id_peminjam
    ) b ON m.id_mahasiswa = b.id_peminjam
JOIN
    (
        SELECT
            id_mahasiswa,
            COUNT(DISTINCT id_sesi) AS total_sesi_dihadiri
        FROM
            (
                SELECT id_mahasiswa, id_sesi
                FROM EnrolmenKelas
                WHERE kehadiran > 0
                UNION
                SELECT id_mahasiswa, id_sesi
                FROM CatatanKehadiran
                WHERE status ILIKE 'hadir'
            ) AS sesi_dihadiri
        GROUP BY
            id_mahasiswa
        HAVING COUNT(DISTINCT id_sesi) > 10
    ) s ON m.id_mahasiswa = s.id_mahasiswa;
Execution Accuracy: 1.0000

Processing Question 19.1: List all courses with both a session and an exam, and show the average grade and exam score. Show id_mk, judul, avg_nilai_akhir, avg_nilai_ujian.
Generated SQL Query: SELECT
    mk.id_mk,
    mk.judul,
    avg_nilai_akhir.avg_nilai_akhir,
    avg_nilai_ujian.avg_nilai_ujian
FROM
    MataKuliah mk
JOIN
    (SELECT id_mk, AVG(nilai_akhir) AS avg_nilai_akhir
     FROM Nilai
     GROUP BY id_mk) avg_nilai_akhir ON mk.id_mk = avg_nilai_akhir.id_mk
JOIN
    (SELECT U.id_mk, AVG(H.nilai_diperoleh) AS avg_nilai_ujian
     FROM Ujian U
     JOIN HasilUjian H ON U.id_ujian = H.id_ujian
     GROUP BY U.id_mk) avg_nilai_ujian ON mk.id_mk = avg_nilai_ujian.id_mk
WHERE

In [13]:
df_results_incremental = pd.DataFrame(results_list)
df_results_incremental.to_csv(f"{output_dir}/{MODEL}_{DATABASE}_incremental.csv", index=False)