# Import Libraries

In [1]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv
from datetime import datetime

import pandas as pd
import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Constants

In [2]:
MAX_RETRIES = 5
RETRY_DELAY = 2

# Load Environment

In [3]:
load_dotenv()

True

# Set Timestamp Experiment

In [4]:
timestamp = datetime.now().strftime("%Y_%m_%d_%H_%M")
output_dir = f"./files/experiment_result/{timestamp}"
os.makedirs(output_dir, exist_ok=True)

# Config

In [5]:
config = Config(
    max_retry_attempt=5,
    rewriter_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
        schema_path="./files/schema/sakila.txt",
    ),
    retrieve_context_config=ContextConfig(data_path="./files/dataset/dataset_sakila.csv"),
    query_executor_config=QueryConfig(
        host=os.getenv("DB_HOST"),
        database=os.getenv("DB_DATABASE"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        port=os.getenv("DB_PORT"),
    ),
)

# Model

In [6]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Import Dataset

In [7]:
dataset = pd.read_csv("./files/dataset/dataset_sakila.csv")

In [8]:
dataset

,Question,Answer,Summary,Alternative Prompt 1 (English),Alternative Prompt 2 (Bahasa Indonesia),Expected Result,Checked
0,Which actors have the first name ‘Scarlett’? S...,"SELECT actor_id, first_name, last_name\r\nFROM...",This SQL query retrieves actor details for tho...,"Can you show me the actor_id, first_name, and ...","Bisa kasih daftar actor_id, first_name, dan la...","['actor_id', 'first_name', 'last_name']",True
1,How many distinct actors last names are there?...,SELECT COUNT(DISTINCT last_name) FROM actor;,This SQL query calculates the count of distinc...,How many different last_name values are there ...,Total ada berapa nama belakang (last_name) akt...,['count'],True
2,Who is the top 1 actor who has appeared in the...,"SELECT \n a.actor_id, \n a.first_name, \...",This SQL query identifies the actor who has ap...,Who’s the top 1 actor that’s been in the most ...,Siapa aktor top 1 yang paling sering main film...,"['actor_id', 'first_name', 'last_name']",True
3,List the top 5 film genres by total gross reve...,"SELECT \n c.name AS genre, \n SUM(p.amou...",This SQL query calculates the top 5 highest-gr...,What are the top 5 film genres that brought in...,Apa aja 5 genre film dengan pemasukan tertingg...,['genre'],True
4,How much total revenue did each store generate...,"SELECT s.store_id, SUM(p.amount) AS total_reve...",This SQL query calculates the total revenue ge...,"How much revenue did each store make, looking ...",Tiap toko dapet pemasukan berapa kalau dilihat...,"['store_id', 'total_revenue']",True
5,Which language is the top 1 most used in films...,SELECT \n l.name\nFROM \n language l\n ...,This SQL query identifies the most frequently ...,Which language shows up the most in our movie ...,Bahasa apa yang paling sering muncul di daftar...,['name'],True
6,List the top five customers by number of rente...,"SELECT\n c.customer_id,\n c.first_name,\...",This SQL query identifies the top 5 customers ...,Who are the top 5 customers based on how many ...,Siapa sih 5 pelanggan yang paling sering nyewa...,"['customer_id', 'first_name', 'last_name', 'to...",True
7,Which customers have rented films from more th...,"SELECT \r\n c.customer_id, \r\n c.first_...",This SQL query identifies customers who have r...,Which customers have rented from more than 3 c...,Pelanggan mana aja yang udah nyewa film dari l...,"['customer_id', 'first_name', 'last_name', 'ca...",True
8,Which films have never been rented across any ...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies films that have neve...,Are there any movies in our collection that ha...,Ada nggak film di koleksi kita yang belum pern...,"['film_id', 'title', 'release_year']",True
9,What is the total revenue generated by each ac...,"SELECT \n a.actor_id, \n a.first_name, \...",This SQL query calculates and ranks actors by ...,How much total revenue has each actor generate...,Berapa total pemasukan yang dihasilkan tiap ak...,"['actor_id', 'first_name', 'last_name', 'total...",True
10,Which staff member has processed the highest t...,"SELECT \r\n st.staff_id,\r\n SUM(p.amoun...",This SQL query identifies the staff member who...,Which staff member handled the highest total p...,Siapa staf yang memproses pembayaran dengan to...,"['staff_id', 'total_amount_processed']",True
11,Which customers have rented the same film more...,WITH customer_film_rentals AS (\r\n SELECT ...,This SQL query retrieves customers who have re...,Which customers have rented the same film more...,Siapa aja pelanggan yang nyewa film yang sama ...,"['customer_id', 'first_name', 'last_name', 'ti...",True
12,Which films belong to the top 5 most rented fi...,WITH top_categories AS (\n SELECT \n ...,This SQL query identifies the top 5 most rente...,Which films are in the top 5 most rented film ...,Film apa saja yang masuk dalam 5 kategori pali...,"['film_id', 'title', 'replacement_cost', 'cate...",True
13,Which pairs of actors have appeared together i...,"SELECT a1.actor_id, a2.actor_id, COUNT(*) AS n...",This SQL query identifies pairs of actors who ...,Which pairs of actors have appeared together i...,Pasangan aktor mana saja yang paling sering ma...,"['actor1_id', 'actor2_id', 'films_together']",True
14,Which films are in the top 10% of revenue-gene...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10% highest-...,Which movies are in the top 10% by total reven...,Film apa aja yang masuk 10% teratas berdasarka...,"['film_id', 'title', 'total_revenue']",True
15,Which customers have rented every film in a sp...,WITH action_films AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Which customers have rented every film in a sp...,Siapa pelanggan yang sudah menyewa semua film ...,"['customer_id', 'first_name', 'last_name']",True
16,Which film has the highest average rental dura...,"SELECT f.film_id, f.title, AVG(f.rental_durati...",This SQL query identifies the top 10 films wit...,Which movie has the highest average rental dur...,Film mana yang punya rata-rata waktu sewa pali...,"['film_id', 'title', 'avg_rental_duration']",True
17,Which staff member has processed the most paym...,"SELECT \r\n s.staff_id, \r\n s.first_nam...",This SQL query retrieves payment performance m...,Which staff member has processed the most paym...,Siapa staf yang paling banyak memproses pembay...,"['staff_id', 'first_name', 'last_name', 'total...",True
18,Which films have never been rented but belong ...,WITH top_categories AS (\r\n SELECT \r\n ...,This SQL query identifies unrented films withi...,Which films were never rented but are in the 5...,Film apa saja yang belum pernah disewa tetapi ...,"['film_id', 'title', 'category_name']",True
19,Which customers have rented films from all cat...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented films from all cat...,Siapa aja pelanggan yang sudah nyewa film dari...,"['customer_id', 'first_name', 'last_name']",True
20,Which films have the highest revenue per day o...,WITH film_revenue_per_day AS (\r\n SELECT \...,This SQL query calculates and ranks films by t...,Which films earn the most revenue per rental d...,Film mana yang menghasilkan pendapatan paling ...,"['film_id', 'title', 'revenue_per_day']",True
21,Which films have the longest and shortest rent...,WITH CategoryRentalDuration AS (\n SELECT\n ...,This SQL query identifies the films with the l...,"For each category, which films have the longes...","Untuk setiap kategori, film mana yang punya du...","['category_name', 'title', 'rental_duration']",True
22,Which customers have rented films from exactly...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented films from exactly...,Ada gak pelanggan yang nyewa film dari tepat 2...,"['customer_id', 'first_name', 'last_name', 'ca...",True
23,Which films have been rented more than the ave...,WITH film_rentals AS (\n SELECT \n f...,This SQL query identifies films that have been...,Which films have been rented more than the ave...,Film mana yang disewa lebih banyak dari rata-r...,"['film_id', 'title', 'category_name', 'rental_...",True
24,Which actors have never appeared in all films ...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query retrieves a list of actors who ...,Which actors have never appeared in any films ...,Aktor mana yang belum pernah main di film mana...,"['actor_id', 'first_name', 'last_name']",True
25,Which top 1 film has the highest replacement c...,"SELECT \n f.film_id, \n f.title, \n f...",This SQL query identifies the most expensive f...,Get the top 1 film with the highest replacemen...,Ambil 1 film dengan biaya ganti tertinggi yang...,"['film_id', 'title', 'replacement_cost']",True
26,Which customers have rented films from all sto...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Which customers have rented films from all sto...,Siapa pelanggan yang sudah nyewa dari semua to...,"['customer_id', 'first_name', 'last_name']",True
27,Which films have been rented in all stores? Sh...,WITH film_stores AS (\r\n SELECT \r\n ...,This SQL query identifies films that have been...,Which films have been rented in all stores? Sh...,Film mana yang sudah pernah disewa di semua to...,"['film_id', 'title', 'store_count']",True
28,Which film has the highest total rental revenu...,WITH film_revenue AS (\n SELECT \n f...,This SQL query identifies the film with the hi...,Which film has the highest revenue per minute ...,Film mana yang memiliki pendapatan tertinggi p...,"['film_id', 'title', 'length', 'revenue_per_mi...",True
29,Which customers have rented film ZORRO ARK mor...,WITH zorro_film AS (\n SELECT film_id\n ...,This SQL query identifies customers who have r...,Who are the customers that have rented the mov...,Siapa aja pelanggan yang udah nyewa film ZORRO...,"['customer_id', 'first_name', 'last_name']",True
30,Which film has never been rented in all stores...,WITH unrented_films AS (\n SELECT f.film_id...,This SQL query identifies the unrented film wi...,Which film has the most actors but has never b...,Film apa yang punya aktor paling banyak tapi b...,"['film_id', 'title', 'actor_count']",True
31,Which movie has the longest runtime among thos...,WITH unrented_films AS (\n SELECT f.film_id...,This SQL query identifies the longest unrented...,Which movie has the longest runtime but has ne...,Film apa yang punya durasi terpanjang tapi bel...,"['title', 'runtime']",True
32,Which customers have rented the most films in ...,WITH customer_daily_rentals AS (\n SELECT \...,This SQL query identifies the top 10 customers...,Which top 10 customers have rented the most mo...,Siapa 10 pelanggan teratas yang menyewa film p...,"['first_name', 'last_name', 'rentals_count']",True
33,Which movies have been rented less than 10 tim...,"SELECT \n f.title, \n COUNT(r.rental_id)...",This SQL query identifies films with fewer tha...,List the movies that have been rented under 10...,Film apa saja yang telah disewa kurang dari 10...,"['title', 'rentals_count']",True
34,Which staff members have processed the most pa...,"SELECT \n s.first_name AS staff_name, \n ...",This SQL query analyzes staff performance by c...,Which staff members have processed the most pa...,Staf mana yang paling banyak memproses pembaya...,"['staff_name', 'payments_count']",True
35,Which top 1 movie have the highest revenue but...,WITH film_revenue AS (\n SELECT \n f...,This SQL query identifies the highest-grossing...,Which movie has the highest revenue but the lo...,Film mana yang pendapatannya tinggi tapi harga...,"['title', 'rental_rate', 'total_revenue']",True
36,Which customers have rented movies from every ...,WITH customer_stores AS (\n SELECT \n ...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang sudah nyewa dari semua toko...,['customer_name'],True
37,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies films that have been...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'city_count']",True
38,Which movies have the lowest number of actors ...,"SELECT \r\n f.title, \r\n COUNT(DISTINCT...",This SQL query identifies the film with the fe...,Which movies have the lowest number of actors ...,Film mana yang punya sedikit aktor dan belum p...,"['title', 'actor_count']",True
39,Which customers have rented the same movie mor...,WITH customer_movie_rentals AS (\r\n SELECT...,This SQL query identifies customers who have r...,Which customers have rented the same movie mor...,Siapa saja pelanggan yang pernah menyewa film ...,"['customer_name', 'title', 'rentals_count']",True
40,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film apa saja yang telah disewa oleh pelanggan...,"['title', 'country_count']",True
41,Which movies have been rented the most during ...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies the top 10 most rent...,Which movies have been rented the most during ...,Film mana yang paling sering disewa saat libur...,"['title', 'rentals_count']",True
42,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang nyewa dari semua kategori t...,['customer_name'],True
43,Which movies have the highest number of rental...,WITH film_rentals AS (\n SELECT \n f...,This SQL query retrieves the top 1 most rented...,Which movies have the highest number of rental...,Film apa yang paling sering disewa tapi biaya ...,"['title', 'replacement_cost', 'rentals_count']",True
44,Which customers have rented any movies from ev...,WITH customer_stores AS (\n SELECT \n ...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Siapa pelanggan yang nyewa dari semua toko tap...,['customer_name'],True
45,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'city_count']",True
46,Which movie has been rented the most by custom...,"SELECT \r\n f.title, \r\n COUNT(*) AS re...",This SQL query identifies the most rented film...,Find the top 1 movie most frequently rented by...,Film mana yang paling banyak disewa oleh pelan...,"['title', 'rentals_count']",True
47,Which top 1 movie has the highest revenue but ...,WITH film_revenue AS (\n SELECT \n f...,This SQL query identifies the highest-grossing...,Which top 1 movie has the highest revenue but ...,Film top 1 mana yang pendapatannya tinggi tapi...,"['title', 'total_revenue']",False
48,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang nyewa dari semua kategori t...,['customer_name'],True
49,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'country_count']",True

# Experiment Baseline Multistage

In [9]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_baseline(user_prompt=question, method="Multistage")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you show me the actor_id, first_name, and last_name of actors with the first name Scarlett?
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name ILIKE 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: Bisa kasih daftar actor_id, first_name, dan last_name dari aktor yang nama depannya Scarlett?
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name ILIKE 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: How many different last_name values are there among all the actors?
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Total ada berapa nama belakang (last_name) aktor yang beda-beda?
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who’s the top 1 actor that’s been in the most films? Just show me their actor_id, first_name, and last_name.
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE actor_id = (SELECT actor_id FROM film_actor GROUP BY actor_id ORDER BY count(*) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 3.2: Siapa aktor top 1 yang paling sering main film? Kasih tau actor_id, first_name, sama last_name-nya aja ya.
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE actor_id = (SELECT actor_id FROM film_actor GROUP BY actor_id ORDER BY count(*) DESC LIMIT 1)
Execution Accuracy: 1.0000

Processing Question 4.1: What are the top 5 film genres that brought in the highest revenue by looking from the payments in all store? Just show the genre names, sorted from the highest.
Generated SQL Query: SELECT c.name
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY SUM(p.amount) DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Apa aja 5 genre film dengan pemasukan tertinggi dengan melihat pembayaran di semua toko? Cukup tampilkan nama genre-nya, urut dari yang paling banyak.
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue
FROM payment p
JOIN rental r ON p.rental_id = r.rental_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
GROUP BY c.name
ORDER BY total_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much revenue did each store make, looking from the staff's payments? Just show me the store_id and total revenue, sorted from highest to lowest.
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM staff s
JOIN payment p ON s.staff_id = p.staff_id
GROUP BY s.store_id
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 5.2: Tiap toko dapet pemasukan berapa kalau dilihat dari pembayaran oleh staffnya? Tampilkan store_id sama total pemasukannya aja, urut dari yang paling besar.
Generated SQL Query: SELECT store_id, SUM(amount) AS total_revenue FROM payment JOIN staff ON payment.staff_id = staff.staff_id GROUP BY store_id ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 6.1: Which language shows up the most in our movie list? Just give me the top 1 language name.
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Bahasa apa yang paling sering muncul di daftar film kita? Cukup kasih nama bahasa yang jadi top 1 aja.
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 7.1: Who are the top 5 customers based on how many movies they've rented? Show their customer ID, first name, last name, and total number of rentals, sorted from highest to lowest.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Siapa sih 5 pelanggan yang paling sering nyewa film? Tunjukin customer ID, nama depan, nama belakang, sama total film yang mereka sewa, urut dari yang paling banyak ya.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have rented from more than 3 categories? Show the customer ID, first name, last name, and the number of categories they've rented from.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(DISTINCT fc.category_id) AS num_categories_rented
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Pelanggan mana aja yang udah nyewa film dari lebih dari 3 kategori? Tampilkan ID pelanggan, nama depan, nama belakang, dan jumlah kategori yang disewa.
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS total_categories_rented
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
JOIN
    inventory i ON r.inventory_id = i.inventory_id
JOIN
    film f ON i.film_id = f.film_id
JOIN
    film_category fc ON f.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that have never been rented at all, across any store? I need the film ID, title, and release year.
Generated SQL Query: SELECT film_id, title, release_year
FROM film
WHERE film_id NOT IN (SELECT film_id FROM inventory);
Execution Accuracy: 1.0000

Processing Question 9.2: Ada nggak film di koleksi kita yang belum pernah disewa sama sekali di semua store? Aku butuh film ID, judul, dan tahun rilisnya.
Generated SQL Query: SELECT film_id, title, release_year
FROM film
WHERE film_id NOT IN (SELECT film_id FROM inventory);
Execution Accuracy: 1.0000

Processing Question 10.1: How much total revenue has each actor generated from the movies they've appeared in by looking from the payments of all store? Show the actor ID, first name, last name, and total revenue, sorted from highest to lowest.
Generated SQL Query: SELECT
  a.actor_id,
  a.first_name,
  a.last_name,
  SUM(p.amount) AS total_revenue
FROM actor AS a
JOIN film_actor AS fa
  ON a.actor_id = fa.actor_id
JOIN film AS f
  ON fa.film_id = f.film_id
JOIN inventory AS i
  ON f.film_id = i.film_id
JOIN rental AS r
  ON i.inventory_id = r.inventory_id
JOIN payment AS p
  ON r.rental_id = p.rental_id
GROUP BY
  a.actor_id,
  a.first_name,
  a.last_name
ORDER BY
  total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 10.2: Berapa total pemasukan yang dihasilkan tiap aktor dari film yang mereka bintangi dengan melihat pembayaran di seluruh toko? Tampilkan ID aktor, nama depan, nama belakang, dan total pendapatannya, diurutkan dari yang paling besar.
Generated SQL Query: SELECT
  a.actor_id,
  a.first_name,
  a.last_name,
  SUM(p.amount) AS total_revenue
FROM actor AS a
JOIN film_actor AS fa
  ON a.actor_id = fa.actor_id
JOIN film AS f
  ON fa.film_id = f.film_id
JOIN inventory AS i
  ON f.film_id = i.film_id
JOIN rental AS r
  ON i.inventory_id = r.inventory_id
JOIN payment AS p
  ON r.rental_id = p.rental_id
GROUP BY
  a.actor_id,
  a.first_name,
  a.last_name
ORDER BY
  total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which staff member handled the highest total payment? Just show their staff ID and the total amount they processed.
Generated SQL Query: SELECT staff_id, SUM(amount) AS total_amount_processed FROM payment GROUP BY staff_id ORDER BY total_amount_processed DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Siapa staf yang memproses pembayaran dengan total terbesar? Tampilkan ID staf dan total jumlah yang mereka proses.
Generated SQL Query: SELECT staff_id, SUM(amount) AS total_amount_processed FROM payment GROUP BY staff_id ORDER BY total_amount_processed DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Which customers have rented the same film more than once? Show the customer ID, first name, last name, film title, and the number of times they rented it.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, f.title, COUNT(*) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(*) > 1;
Execution Accuracy: 1.0000

Processing Question 12.2: Siapa aja pelanggan yang nyewa film yang sama lebih dari sekali? Tampilkan ID pelanggan, nama depan, nama belakang, judul film, dan jumlah penyewaan.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, f.title, COUNT(*) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(*) > 1;
Execution Accuracy: 1.0000

Processing Question 13.1: Which films are in the top 5 most rented film categories? Show the film ID, title, replacement cost, and category name, sorted by replacement cost from highest to lowest.
Generated SQL Query: WITH CategoryRentalCounts AS (
  SELECT
  	c.name as category_name,
  	COUNT(r.rental_id) AS rental_count,
  	RANK() OVER (ORDER BY COUNT(r.rental_id) DESC) AS category_rank
  FROM category c
  JOIN film_category fc ON c.category_id = fc.category_id
  JOIN inventory i ON fc.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  GROUP BY c.name
)
SELECT
    f.film_id,
    f.title,
    f.replacement_cost,
    crc.category_name
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN CategoryRentalCounts crc ON fc.category_id = (SELECT category_id FROM category WHERE name = crc.category_name)
WHERE crc.category_rank <= 5
ORDER BY f.replacement_cost DESC;
Execution Accuracy: 1.0000

Processing Question 13.2: Film apa saja yang masuk dalam 5 kategori paling sering disewa? Tampilkan ID film, judul, biaya ganti, dan nama kategori, urut biaya ganti dari yang paling mahal.
Generated SQL Query: SELECT
  f.film_id,
  f.title,
  f.replacement_cost,
  c.name
FROM film AS f
JOIN film_category AS fc
  ON f.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN inventory AS i
  ON f.film_id = i.film_id
JOIN rental AS r
  ON i.inventory_id = r.inventory_id
GROUP BY
  f.film_id,
  f.title,
  f.replacement_cost,
  c.name
ORDER BY
  COUNT(r.rental_id) DESC
LIMIT 5;
Execution Accuracy: 0.0000

Processing Question 14.1: Which pairs of actors have appeared together in the most films? Show only the actor IDs for each pair and how many films they've worked on together, sorted from most to least.
Generated SQL Query: SELECT a1.actor_id, a2.actor_id, COUNT(*) AS films_together FROM film_actor AS fa1 JOIN film_actor AS fa2 ON fa1.film_id = fa2.film_id JOIN actor AS a1 ON fa1.actor_id = a1.actor_id JOIN actor AS a2 ON fa2.actor_id = a2.actor_id WHERE a1.actor_id < a2.actor_id GROUP BY a1.actor_id, a2.actor_id ORDER BY films_together DESC;
Execution Accuracy: 1.0000

Processing Question 14.2: Pasangan aktor mana saja yang paling sering main film bareng? Tampilkan ID kedua aktor dan jumlah film yang mereka bintangi bersama, urut dari yang paling banyak.
Generated SQL Query: SELECT a1.actor_id, a2.actor_id, COUNT(*) AS num_films FROM film_actor AS fa1 JOIN film_actor AS fa2 ON fa1.film_id = fa2.film_id JOIN actor AS a1 ON fa1.actor_id = a1.actor_id JOIN actor AS a2 ON fa2.actor_id = a2.actor_id WHERE a1.actor_id < a2.actor_id GROUP BY a1.actor_id, a2.actor_id ORDER BY num_films DESC;
Execution Accuracy: 1.0000

Processing Question 15.1: Which movies are in the top 10% by total revenue? Show the film ID, title, and total revenue.
Error executing query: column reference "film_id" is ambiguous
LINE 3:    film_id,
           ^

Generated SQL Query: WITH film_revenue AS (
  SELECT
  	f.film_id,
  	f.title,
  	SUM(p.amount) AS total_revenue
  FROM film f
  JOIN inventory i ON f.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  JOIN payment p ON r.rental_id = p.rental_id
  GROUP BY f.film_id, f.title
),
top_revenue AS (
  SELECT
  	total_revenue
  FROM film_revenue
  ORDER BY total_revenue DESC
  LIMIT (SELECT CAST(COUNT(*) * 0.1 AS INTEGER) FROM film_revenue)
)
SELECT
  fr.film_id,
  fr.title,
  fr.total_revenue
FROM film_revenue fr
JOIN top_revenue tr ON fr.total_revenue = tr.total_revenue
ORDER BY fr.total_revenue DESC;
Execution Accuracy: 0.0000

Processing Question 15.2: Film apa aja yang masuk 10% teratas berdasarkan pendapatan? Tampilkan ID film, judul, dan total pendapatan.
Error executing query: column reference "film_id" is ambiguous
LINE 3:     film_id,
            ^

Generated SQL Query: WITH FilmRevenue AS (
  SELECT
    f.film_id,
    SUM(p.amount) AS total_revenue
  FROM film AS f
  JOIN inventory AS i
    ON f.film_id = i.film_id
  JOIN rental AS r
    ON i.inventory_id = r.inventory_id
  JOIN payment AS p
    ON r.rental_id = p.rental_id
  GROUP BY
    f.film_id
),
Top10Percent AS (
  SELECT
    film_id,
    total_revenue,
    NTILE(10) OVER (ORDER BY total_revenue DESC) AS revenue_group
  FROM FilmRevenue
)
SELECT
  f.film_id,
  f.title,
  t.total_revenue
FROM Top10Percent AS t
JOIN film AS f
  ON t.film_id = f.film_id
WHERE
  t.revenue_group = 1;
Execution Accuracy: 1.0000

Processing Question 16.1: Which customers have rented every film in a specific category (e.g., 'Action')? Show the customer ID, first name, and last name.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
WHERE cat.name ILIKE 'Action'
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT i.film_id) = (SELECT COUNT(DISTINCT film_id) FROM film_category WHERE category_id = (SELECT category_id FROM category WHERE name ILIKE 'Action'));
Execution Accuracy: 1.0000

Processing Question 16.2: Siapa pelanggan yang sudah menyewa semua film dalam satu genre (misalnya genre 'Action')? Tampilkan ID pelanggan, nama depan, dan nama belakang.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
WHERE cat.name ILIKE 'Action'
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT i.film_id) = (SELECT COUNT(DISTINCT film_id) FROM film_category WHERE category_id = (SELECT category_id FROM category WHERE name ILIKE 'Action'));
Execution Accuracy: 1.0000

Processing Question 17.1: Which movie has the highest average rental duration per customer? Show the film ID, title, and average rental duration. Just return the top 1.
Error executing query: column r.rental_duration does not exist
LINE 1: SELECT f.film_id, f.title, AVG(r.rental_duration) AS average...
                                       ^
HINT:  Perhaps you meant to reference the column "f.rental_duration".

Generated SQL Query: SELECT f.film_id, f.title, AVG(f.rental_duration) AS average_rental_duration
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY average_rental_duration DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 17.2: Film mana yang punya rata-rata waktu sewa paling lama per pelanggan? Tampilkan ID film, judul, dan rata-rata durasi sewanya. Cukup ambil satu yang paling tinggi.
Generated SQL Query: SELECT f.film_id, f.title, AVG(r.rental_date - r.return_date) AS avg_rental_duration
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY avg_rental_duration DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 18.1: Which staff member has processed the most payments, and what is the total amount they’ve handled? Show the staff ID, first name, last name, and total amount. Just return the top 1.
Generated SQL Query: SELECT s.staff_id, s.first_name, s.last_name, SUM(p.amount) AS total_amount_processed
FROM staff s
JOIN payment p ON s.staff_id = p.staff_id
GROUP BY s.staff_id, s.first_name, s.last_name
ORDER BY total_amount_processed DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 18.2: Siapa staf yang paling banyak memproses pembayaran, dan berapa total yang mereka proses? Tampilkan ID staf, nama depan, nama belakang, dan total jumlahnya. Cukup ambil satu yang paling atas.
Error executing query: column reference "staff_id" is ambiguous
LINE 1: SELECT staff_id, first_name, last_name, SUM(amount) AS total...
               ^

Generated SQL Query: SELECT staff.staff_id, first_name, last_name, SUM(amount) AS total_amount_processed FROM staff JOIN payment ON staff.staff_id = payment.staff_id GROUP BY staff.staff_id, first_name, last_name ORDER BY total_amount_processed DESC LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 19.1: Which films were never rented but are in the 5 most rented film categories? Show film ID, title, and category name, sorted by film ID.
Generated SQL Query: WITH RankedCategories AS (
  SELECT
    fc.category_id,
    c.name AS category_name,
    COUNT(r.rental_id) AS rental_count,
    RANK() OVER (ORDER BY COUNT(r.rental_id) DESC) AS category_rank
  FROM film_category AS fc
  JOIN category AS c
    ON fc.category_id = c.category_id
  LEFT JOIN film AS f
    ON fc.film_id = f.film_id
  LEFT JOIN inventory AS i
    ON f.film_id = i.film_id
  LEFT JOIN rental AS r
    ON i.inventory_id = r.inventory_id
  GROUP BY
    fc.category_id,
    c.name
  HAVING
    COUNT(r.rental_id) > 0
), TopCategories AS (
  SELECT
    category_id
  FROM RankedCategories
  WHERE
    category_rank <= 5
)
SELECT
  f.film_id,
  f.title,
  c.name AS category_name
FROM film AS f
JOIN film_category AS fc
  ON f.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN TopCategories AS tc
  ON fc.category_id = tc.category_id
LEFT JOIN inventory AS i
  ON f.film_id = i.film_id
LEFT JOIN rental AS r
  ON i.inventory_id = r.inventory_id
WHERE
  r.rental_id IS NULL
ORDER BY
  f.film_id;
Execution Accuracy: 1.0000

Processing Question 19.2: Film apa saja yang belum pernah disewa tetapi termasuk dalam 5 kategori film yang paling sering disewa? Tampilkan ID film, judul, dan nama kategori, lalu urutkan berdasarkan ID film.
Generated SQL Query: SELECT f.film_id, f.title, c.name
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id

In [10]:
df_results_baseline_multistage = pd.DataFrame(results_list)
df_results_baseline_multistage.to_csv(f"{output_dir}/sql_execution_results_baseline_multistage.csv", index=False)

# Experiment Baseline Incremental

In [11]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_baseline(user_prompt=question, method="Incremental")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you give me actors whose first name is Scarlett?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: Aktor siapa aja yang nama depannya 'Scarlett'?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: Hey, how many unique last names do we have among actors?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Ada berapa banyak nama belakang aktor yang berbeda?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who is the actor that shows up in the most movies?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(*) AS film_count FROM actor AS a JOIN film_actor AS fa ON a.actor_id = fa.actor_id GROUP BY a.actor_id, a.first_name, a.last_name ORDER BY film_count DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 3.2: Aktor mana yang muncul di film paling banyak?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a.first_name, a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name
HAVING COUNT(*) = (SELECT MAX(film_count) FROM (SELECT COUNT(*) AS film_count FROM film_actor GROUP BY actor_id) AS FilmCounts);
Execution Accuracy: 1.0000

Processing Question 4.1: What are the top 5 movie genres based on total revenue?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue FROM category c JOIN film_category fc ON c.category_id = fc.category_id JOIN film f ON fc.film_id = f.film_id JOIN inventory i ON f.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id JOIN payment p ON r.rental_id = p.rental_id GROUP BY c.name ORDER BY total_revenue DESC LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Genre film apa yang paling besar total penghasilannya? Kasih 5 teratas ya.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY total_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much money has each store made from rentals?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT s.store_id, COALESCE(SUM(p.amount), 0) AS total_revenue
FROM store s
LEFT JOIN rental r ON s.store_id = r.staff_id
LEFT JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 5.2: Tiap toko dapet pemasukan berapa dari rental?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 6.1: What language is most commonly used in our movies?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Bahasa apa yang paling sering dipakai di film?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT language.name, COUNT(*) AS film_count FROM language JOIN film ON film.language_id = language.language_id GROUP BY language.name ORDER BY film_count DESC LIMIT 1
Execution Accuracy: 1.0000

Processing Question 7.1: Who are the top 5 customers based on how many movies they've rented? Show the customer ID, first name, last name, and number of rented movies.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT customer.customer_id, customer.first_name, customer.last_name, COUNT(*) AS rental_count
FROM customer
INNER JOIN rental ON customer.customer_id = rental.customer_id
GROUP BY customer.customer_id, customer.first_name, customer.last_name
ORDER BY rental_count DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Siapa 5 pelanggan yang paling sering nyewa film? Tampilkan ID pelanggan, nama depan, nama belakang, dan jumlah film yang disewa.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(r.rental_id) AS total_rentals
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
ORDER BY
    total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have rented from more than 3 categories? Show the customer ID, first name, last name, and the number of categories they've rented from.
Related Tables: {'staff', 'category', 'store', 'film', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(DISTINCT fc.category_id) AS num_categories_rented
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Pelanggan mana aja yang udah nyewa film dari lebih dari 3 kategori? Tampilkan ID pelanggan, nama depan, nama belakang, dan jumlah kategori yang disewa.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(DISTINCT fc.category_id) AS num_categories_rented
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that no one has ever rented? I need the film ID, title, and release year.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'customer', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT f.film_id, f.title, f.release_year FROM film f LEFT JOIN inventory i ON f.film_id = i.film_id LEFT JOIN rental r ON i.inventory_id = r.inventory_id WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 9.2: Film apa aja yang belum pernah disewa sama sekali? Aku butuh film ID, judul, dan tahun rilis
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT f.film_id, f.title FROM film f LEFT JOIN inventory i ON f.film_id = i.film_id WHERE i.inventory_id IS NULL;
Execution Accuracy: 0.0000

Processing Question 10.1: How much total revenue has each actor generated based on the movies they were in? Show the actor ID, first name, last name, and total revenue.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a.actor_id, a.first_name, a.last_name, SUM(p.amount) AS total_revenue
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN inventory i ON fa.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY a.actor_id, a.first_name, a.last_name
ORDER BY a.actor_id;
Execution Accuracy: 1.0000

Processing Question 10.2: Berapa total pemasukan dari tiap aktor, berdasarkan film yang mereka bintangi? Tampilkan ID aktor, nama depan, nama belakang, dan total pendapatan.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT fa.actor_id, a.first_name, a.last_name, SUM(p.amount) AS total_revenue
FROM film_actor fa
JOIN actor a ON fa.actor_id = a.actor_id
JOIN film f ON fa.film_id = f.film_id
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY fa.actor_id, a.first_name, a.last_name
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which store has earned the most revenue, and what is the name of the staff member managing it?
Related Tables: {'staff', 'store', 'address', 'country', 'city'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue, staff.first_name || ' ' || staff.last_name AS manager_name
FROM payment AS p
JOIN rental AS r ON p.rental_id = r.rental_id
JOIN inventory AS i ON r.inventory_id = i.inventory_id
JOIN store AS s ON i.store_id = s.store_id
JOIN staff ON s.manager_staff_id = staff.staff_id
GROUP BY s.store_id, manager_name
ORDER BY total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Toko mana yang penghasilannya paling tinggi, dan siapa nama staf yang megang toko itu?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT s.store_id, s.manager_staff_id, st.first_name || ' ' || st.last_name AS manager_name, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN payment p ON s.store_id = p.staff_id
GROUP BY s.store_id, st.first_name, st.last_name
ORDER BY total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Which customers have rented the same film more than once? Show the customer ID, first name, last name, film title, and the number of times they rented it.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    f.title,
    COUNT(r.rental_id) AS rental_count
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
JOIN
    inventory i ON r.inventory_id = i.inventory_id
JOIN
    film f ON i.film_id = f.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(r.rental_id) > 1
ORDER BY
    c.customer_id, rental_count DESC;
Execution Accuracy: 1.0000

Processing Question 12.2: Siapa aja pelanggan yang nyewa film yang sama lebih dari sekali? Tampilkan ID pelanggan, nama depan, nama belakang, judul film, dan jumlah penyewaan.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    f.title,
    COUNT(*) AS rental_count
FROM
    rental r
JOIN
    inventory i ON r.inventory_id = i.inventory_id
JOIN
    film f ON i.film_id = f.film_id
JOIN
    customer c ON r.customer_id = c.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name, f.title
HAVING
    COUNT(*) > 1;
Execution Accuracy: 1.0000

Processing Question 13.1: Which high replacement cost movies are also in the top 5 most rented categories? Show the film ID, title, replacement cost, and category name.
Related Tables: {'staff', 'category', 'film', 'store', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH Top5Categories AS (
  SELECT
    category_id
  FROM film_category
  GROUP BY
    category_id
  ORDER BY
    COUNT(*) DESC
  LIMIT
    5
), HighReplacementCostFilms AS (
  SELECT
    f.film_id,
    f.title,
    f.replacement_cost
  FROM film AS f
  WHERE
    f.replacement_cost > (
      SELECT
        AVG(replacement_cost)
      FROM film
    )
)
SELECT
  hrcf.film_id,
  hrcf.title,
  hrcf.replacement_cost,
  c.name AS category_name
FROM HighReplacementCostFilms AS hrcf
JOIN film_category AS fc
  ON hrcf.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN Top5Categories AS t5c
  ON fc.category_id = t5c.category_id
ORDER BY
  hrcf.replacement_cost DESC;
Execution Accuracy: 0.0000

Processing Question 13.2: Film apa yang biaya gantinya paling mahal dan masuk 5 kategori film yang paling sering disewa? Tampilkan ID film, judul, biaya ganti, dan nama kategori.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH FilmCategoryCounts AS (
  SELECT
    film_id,
    COUNT(category_id) AS category_count
  FROM film_category
  GROUP BY
    film_id
), RankedFilmCategories AS (
  SELECT
    film_id,
    RANK() OVER (ORDER BY category_count DESC) AS category_rank
  FROM FilmCategoryCounts
), Top5Categories AS (
  SELECT
    film_id
  FROM RankedFilmCategories
  WHERE
    category_rank <= 5
), MaxReplacementCostFilm AS (
  SELECT
    film_id,
    MAX(replacement_cost) AS max_replacement_cost
  FROM inventory
  GROUP BY
    film_id
)
SELECT
  f.film_id,
  f.title,
  i.replacement_cost,
  c.name AS category_name
FROM film AS f
JOIN film_category AS fc
  ON f.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN inventory AS i
  ON f.film_id = i.film_id
WHERE
  f.film_id IN (
    SELECT
      film_id
    FROM Top5Categories
  )
  AND i.replacement_cost = (
    SELECT
      max_replacement_cost
    FROM MaxReplacementCostFilm
  )
GROUP BY
  f.film_id,
  f.title,
  i.replacement_cost,
  c.name;
Error executing query: column "replacement_cost" does not exist
LINE 22:     MAX(replacement_cost) AS max_replacement_cost
                 ^

Execution Accuracy: 0.0000

Processing Question 14.1: Which pairs of actors have worked together in the most films? Show the pairs of actors and the number of films they've appeared in together.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1,
       a2.first_name || ' ' || a2.last_name AS actor2,
       COUNT(*) AS num_shared_films
FROM film_actor fa1
JOIN actor a1 ON fa1.actor_id = a1.actor_id
JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
JOIN actor a2 ON fa2.actor_id = a2.actor_id
WHERE a1.actor_id < a2.actor_id
GROUP BY actor1, actor2
HAVING COUNT(*) > 0
ORDER BY num_shared_films DESC;
Execution Accuracy: 0.0000

Processing Question 14.2: Pasangan aktor mana aja yang paling sering main bareng? Tampilkan pasangan aktor dan jumlah film yang mereka mainkan bersama.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1, a2.first_name || ' ' || a2.last_name AS actor2, COUNT(*) AS num_films FROM film_actor AS fa1 JOIN actor AS a1 ON fa1.actor_id = a1.actor_id JOIN film AS f ON fa1.film_id = f.film_id JOIN film_actor AS fa2 ON f.film_id = fa2.film_id JOIN actor AS a2 ON fa2.actor_id = a2.actor_id WHERE fa1.actor_id < fa2.actor_id GROUP BY actor1, actor2 ORDER BY num_films DESC;
Execution Accuracy: 0.0000

Processing Question 15.1: Which movies are in the top 10% by total revenue? Show the film ID, title, and total revenue.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH FilmRevenue AS (
  SELECT
    f.film_id,
    f.title,
    SUM(p.amount) AS total_revenue
  FROM film AS f
  JOIN inventory AS i
    ON f.film_id = i.film_id
  JOIN rental AS r
    ON i.inventory_id = r.inventory_id
  JOIN payment AS p
    ON r.rental_id = p.rental_id
  GROUP BY
    f.film_id,
    f.title
), percentile_revenue AS (
  SELECT
    *,
    PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenue) OVER () AS percentile_90
  FROM FilmRevenue
)
SELECT
  film_id,
  title,
  total_revenue
FROM percentile_revenue
WHERE
  total_revenue >= percentile_90;
Error executing query: OVER is not supported for ordered-set aggregate percentile_cont
LINE 19:     PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenu...
             ^

Execution Accuracy: 0.0000

Processing Question 15.2: Film apa aja yang masuk 10% teratas berdasarkan pendapatan? Tampilkan ID film, judul, dan total pendapatan.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH FilmRevenue AS (
  SELECT
    f.film_id,
    f.title,
    SUM(p.amount) AS total_revenue
  FROM film f
  JOIN inventory i ON f.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  JOIN payment p ON r.rental_id = p.rental_id
  GROUP BY f.film_id, f.title
),
RankedRevenue AS (
  SELECT
    film_id,
    title,
    total_revenue,
    NTILE(10) OVER (ORDER BY total_revenue DESC) as revenue_rank
  FROM FilmRevenue
)
SELECT
  film_id,
  title,
  total_revenue
FROM RankedRevenue
WHERE revenue_rank = 1;
Execution Accuracy: 1.0000

Processing Question 16.1: Which customers have rented every film in a specific category (e.g., 'Action')? Show the customer ID, first name, and last name.

In [15]:
df_results_baseline_incremental = pd.DataFrame(results_list)
df_results_baseline_incremental.to_csv(f"{output_dir}/sql_execution_results_baseline_incremental.csv", index=False)

# Experiment V1 Multistage

In [11]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_v1(user_prompt=question, method="Multistage")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you show me the actor_id, first_name, and last_name of actors with the first name Scarlett?
Rewritten Prompt: Retrieve actor_id, first_name, and last_name for actors where first_name is 'Scarlett'.

Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name ILIKE 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: Bisa kasih daftar actor_id, first_name, dan last_name dari aktor yang nama depannya Scarlett?
Rewritten Prompt: List actor_id, first_name, and last_name for actors whose first name is Scarlett.

Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name ILIKE 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: How many different last_name values are there among all the actors?
Rewritten Prompt: Count the distinct last_name values from the actors table.

Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Total ada berapa nama belakang (last_name) aktor yang beda-beda?
Rewritten Prompt: How many unique actor last names are there?

Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who’s the top 1 actor that’s been in the most films? Just show me their actor_id, first_name, and last_name.
Rewritten Prompt: Retrieve the actor ID, first name, and last name of the actor who has appeared in the most films.

Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name
FROM
    actor a
JOIN
    film_actor fa ON a.actor_id = fa.actor_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    COUNT(fa.film_id) DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 3.2: Siapa aktor top 1 yang paling sering main film? Kasih tau actor_id, first_name, sama last_name-nya aja ya.
Rewritten Prompt: Retrieve the actor ID, first name, and last name of the actor who has starred in the most films.

Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name
FROM
    actor a
JOIN
    film_actor fa ON a.actor_id = fa.actor_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    COUNT(fa.film_id) DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 4.1: What are the top 5 film genres that brought in the highest revenue by looking from the payments in all store? Just show the genre names, sorted from the highest.
Rewritten Prompt: Retrieve the top 5 film genres with the highest revenue from all store payments, displaying only the genre names sorted in descending order of revenue.

Generated SQL Query: SELECT c.name AS genre
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY SUM(p.amount) DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Apa aja 5 genre film dengan pemasukan tertinggi dengan melihat pembayaran di semua toko? Cukup tampilkan nama genre-nya, urut dari yang paling banyak.
Rewritten Prompt: Show the top 5 film genres with the highest revenue across all stores, displaying only the genre names ordered by revenue in descending order.

Generated SQL Query: SELECT c.name AS genre
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY SUM(p.amount) DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much revenue did each store make, looking from the staff's payments? Just show me the store_id and total revenue, sorted from highest to lowest.
Rewritten Prompt: Calculate the total revenue for each store based on staff payments, showing store ID and total revenue sorted in descending order.

Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.store_id = st.store_id
JOIN payment p ON st.staff_id = p.staff_id
GROUP BY s.store_id
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 5.2: Tiap toko dapet pemasukan berapa kalau dilihat dari pembayaran oleh staffnya? Tampilkan store_id sama total pemasukannya aja, urut dari yang paling besar.
Rewritten Prompt: Show each store's total revenue from staff payments, displaying only store ID and total revenue, ordered by total revenue descending.

Generated SQL Query: SELECT
    s.store_id,
    SUM(p.amount) AS total_revenue
FROM
    staff s
JOIN
    payment p ON s.staff_id = p.staff_id
GROUP BY
    s.store_id
ORDER BY
    total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 6.1: Which language shows up the most in our movie list? Just give me the top 1 language name.
Rewritten Prompt: Retrieve the most frequent language from the movie list.

Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Bahasa apa yang paling sering muncul di daftar film kita? Cukup kasih nama bahasa yang jadi top 1 aja.
Rewritten Prompt: What is the most frequent language in our film list?  Return only the top language name.

Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 7.1: Who are the top 5 customers based on how many movies they've rented? Show their customer ID, first name, last name, and total number of rentals, sorted from highest to lowest.
Rewritten Prompt: Retrieve the top 5 customers with the most rentals, displaying customer ID, first name, last name, and total number of rentals, ordered by total rentals descending.

Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(r.rental_id) as total_rentals
FROM
    customer c
    JOIN rental r ON c.customer_id = r.customer_id
GROUP BY
    c.customer_id,
    c.first_name,
    c.last_name
ORDER BY
    total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Siapa sih 5 pelanggan yang paling sering nyewa film? Tunjukin customer ID, nama depan, nama belakang, sama total film yang mereka sewa, urut dari yang paling banyak ya.
Rewritten Prompt: Retrieve the top 5 customers who have rented the most films, displaying customer ID, first name, last name, and total films rented, ordered by total films rented descending.

Generated SQL Query: WITH customer_rental_counts AS (
    SELECT
        c.customer_id,
        c.first_name,
        c.last_name,
        COUNT(r.rental_id) AS total_films_rented
    FROM
        customer c
    JOIN
        rental r ON c.customer_id = r.customer_id
    GROUP BY
        c.customer_id, c.first_name, c.last_name
)
SELECT
    customer_id,
    first_name,
    last_name,
    total_films_rented
FROM
    customer_rental_counts
ORDER BY
    total_films_rented DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have rented from more than 3 categories? Show the customer ID, first name, last name, and the number of categories they've rented from.
Rewritten Prompt: Retrieve customer IDs, first names, and last names for customers who have rented from more than 3 categories, including a count of the categories rented.

Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS category_count
FROM
    customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Pelanggan mana aja yang udah nyewa film dari lebih dari 3 kategori? Tampilkan ID pelanggan, nama depan, nama belakang, dan jumlah kategori yang disewa.
Rewritten Prompt: Which customers have rented films from more than 3 categories? Display customer ID, first name, last name, and the number of categories rented.

Generated SQL Query: WITH customer_category_rentals AS (
    SELECT
        c.customer_id,
        c.first_name,
        c.last_name,
        COUNT(DISTINCT fc.category_id) AS category_count
    FROM
        customer c
        JOIN rental r ON c.customer_id = r.customer_id
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film f ON i.film_id = f.film_id
        JOIN film_category fc ON f.film_id = fc.film_id
    GROUP BY
        c.customer_id, c.first_name, c.last_name
)
SELECT
    customer_id,
    first_name,
    last_name,
    category_count
FROM
    customer_category_rentals
WHERE
    category_count > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that have never been rented at all, across any store? I need the film ID, title, and release year.
Rewritten Prompt: Retrieve film ID, title, and release year for all films that have never been rented.

Generated SQL Query: SELECT
    f.film_id,
    f.title,
    f.release_year
FROM
    film f
WHERE
    NOT EXISTS (
        SELECT 1
        FROM inventory i
        JOIN rental r ON i.inventory_id = r.inventory_id
        WHERE i.film_id = f.film_id
    )
ORDER BY f.film_id;
Execution Accuracy: 1.0000

Processing Question 9.2: Ada nggak film di koleksi kita yang belum pernah disewa sama sekali di semua store? Aku butuh film ID, judul, dan tahun rilisnya.
Rewritten Prompt: Find all films in our collection that have never been rented at any store.  I need the film ID, title, and release year.

Generated SQL Query: SELECT f.film_id, f.title, f.release_year
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 0.0000

Processing Question 10.1: How much total revenue has each actor generated from the movies they've appeared in by looking from the payments of all store? Show the actor ID, first name, last name, and total revenue, sorted from highest to lowest.
Rewritten Prompt: Calculate the total revenue generated by each actor from all store payments, displaying actor ID, first name, last name, and total revenue, sorted in descending order of total revenue.

Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name,
    SUM(p.amount) AS total_revenue
FROM
    actor a
    JOIN film_actor fa ON a.actor_id = fa.actor_id
    JOIN inventory i ON fa.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    a.actor_id,
    a.first_name,
    a.last_name
ORDER BY
    total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 10.2: Berapa total pemasukan yang dihasilkan tiap aktor dari film yang mereka bintangi dengan melihat pembayaran di seluruh toko? Tampilkan ID aktor, nama depan, nama belakang, dan total pendapatannya, diurutkan dari yang paling besar.
Rewritten Prompt: Show the total revenue generated by each actor from their films, considering payments across all stores. Display actor ID, first name, last name, and total revenue, ordered by revenue in descending order.

Generated SQL Query: SELECT
  a.actor_id,
  a.first_name,
  a.last_name,
  SUM(p.amount) AS total_revenue
FROM actor AS a
JOIN film_actor AS fa
  ON a.actor_id = fa.actor_id
JOIN film AS f
  ON fa.film_id = f.film_id
JOIN inventory AS i
  ON f.film_id = i.film_id
JOIN rental AS r
  ON i.inventory_id = r.inventory_id
JOIN payment AS p
  ON r.rental_id = p.rental_id
GROUP BY
  a.actor_id,
  a.first_name,
  a.last_name
ORDER BY
  total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which staff member handled the highest total payment? Just show their staff ID and the total amount they processed.
Rewritten Prompt: Retrieve the staff ID and total payment amount for the staff member with the highest total payment.

Generated SQL Query: SELECT st.staff_id, SUM(p.amount) AS total_payment_amount
FROM staff st
JOIN payment p ON st.staff_id = p.staff_id
GROUP BY st.staff_id
ORDER BY total_payment_amount DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Siapa staf yang memproses pembayaran dengan total terbesar? Tampilkan ID staf dan total jumlah yang mereka proses.
Rewritten Prompt: Which staff member processed the largest total payment amount? Show the staff ID and the total amount they processed.

Generated SQL Query: SELECT staff_id, SUM(amount) AS total_amount_processed FROM payment GROUP BY staff_id ORDER BY total_amount_processed DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Which customers have rented the same film more than once? Show the customer ID, first name, last name, film title, and the number of times they rented it.
Rewritten Prompt: Retrieve customer IDs, first names, last names, film titles, and the count of rentals for customers who have rented the same film more than once.

Generated SQL Query: WITH customer_film_rentals AS (
    SELECT
        r.customer_id,
        f.film_id,
        f.title,
        COUNT(r.rental_id) AS rental_count
    FROM
        rental r
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film f ON i.film_id = f.film_id
    GROUP BY
        r.customer_id, f.film_id
    HAVING
        COUNT(r.rental_id) > 1
)
SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    cfr.title,
    cfr.rental_count
FROM
    customer c
    JOIN customer_film_rentals cfr ON c.customer_id = cfr.customer_id;
Execution Accuracy: 1.0000

Processing Question 12.2: Siapa aja pelanggan yang nyewa film yang sama lebih dari sekali? Tampilkan ID pelanggan, nama depan, nama belakang, judul film, dan jumlah penyewaan.
Rewritten Prompt: List all customers who rented the same film more than once, displaying customer ID, first name, last name, film title, and rental count.

Generated SQL Query: WITH CustomerRentalCounts AS (
  SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    f.title,
    COUNT(*) AS rental_count
  FROM
    customer c
  JOIN
    rental r ON c.customer_id = r.customer_id
  JOIN
    inventory i ON r.inventory_id = i.inventory_id
  JOIN
    film f ON i.film_id = f.film_id
  GROUP BY
    c.customer_id, c.first_name, c.last_name, f.title
  HAVING
    COUNT(*) > 1
)
SELECT
  customer_id,
  first_name,
  last_name,
  title,
  rental_count
FROM
  CustomerRentalCounts;
Execution Accuracy: 1.0000

Processing Question 13.1: Which films are in the top 5 most rented film categories? Show the film ID, title, replacement cost, and category name, sorted by replacement cost from highest to lowest.
Rewritten Prompt: Retrieve films belonging to the top 5 most rented categories, displaying film ID, title, replacement cost, and category name, ordered by replacement cost descending.

Generated SQL Query: WITH top_categories AS (
    SELECT
        fc.category_id,
        COUNT(r.rental_id) AS rental_count
    FROM
        film_category fc
        JOIN inventory i ON fc.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY
        fc.category_id
    ORDER BY
        rental_count DESC
    LIMIT 5
)
SELECT
    f.film_id,
    f.title,
    f.replacement_cost,
    c.name AS category_name
FROM
    film f
    JOIN film_category fc ON f.film_id = fc.film_id
    JOIN category c ON fc.category_id = c.category_id
    JOIN top_categories tc ON fc.category_id = tc.category_id
ORDER BY
    f.replacement_cost DESC;
Execution Accuracy: 1.0000

Processing Question 13.2: Film apa saja yang masuk dalam 5 kategori paling sering disewa? Tampilkan ID film, judul, biaya ganti, dan nama kategori, urut biaya ganti dari yang paling mahal.
Rewritten Prompt: Which films are in the top 5 most rented categories? Show film ID, title, replacement cost, and category name, ordered by replacement cost descending.

Generated SQL Query: WITH category_rental_counts AS (
  SELECT
    fc.category_id,
    COUNT(*) AS rental_count
  FROM
    film_category fc
    JOIN inventory i ON fc.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
  GROUP BY
    fc.category_id
  ORDER BY
    rental_count DESC
  LIMIT 5
),
top_category_films AS (
  SELECT
    f.film_id,
    f.title,
    f.replacement_cost,
    c.name AS category_name
  FROM
    film f
    JOIN film_category fc ON f.film_id = fc.film_id
    JOIN category c ON fc.category_id = c.category_id
  WHERE
    fc.category_id IN (SELECT category_id FROM category_rental_counts)
)
SELECT
  film_id,
  title,
  replacement_cost,
  category_name
FROM
  top_category_films
ORDER BY
  replacement_cost DESC;
Execution Accuracy: 1.0000

Processing Question 14.1: Which pairs of actors have appeared together in the most films? Show only the actor IDs for each pair and how many films they've worked on together, sorted from most to least.
Rewritten Prompt: Find the actor ID pairs with the highest number of films in common, displaying each pair's actor IDs and their film count, ordered by film count descending.

Generated SQL Query: SELECT a1.actor_id, a2.actor_id, COUNT(*) AS films_in_common
FROM film_actor AS fa1
JOIN film_actor AS fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
JOIN actor AS a1 ON fa1.actor_id = a1.actor_id
JOIN actor AS a2 ON fa2.actor_id = a2.actor_id
GROUP BY a1.actor_id, a2.actor_id
ORDER BY films_in_common DESC;
Execution Accuracy: 1.0000

Processing Question 14.2: Pasangan aktor mana saja yang paling sering main film bareng? Tampilkan ID kedua aktor dan jumlah film yang mereka bintangi bersama, urut dari yang paling banyak.
Rewritten Prompt: Which pairs of actors have appeared together in the most films? Show each actor's ID and the number of films they have starred in together, ordered by the number of films in descending order.

Generated SQL Query: WITH actor_pairs AS (
    SELECT
        a1.actor_id AS actor1_id,
        a2.actor_id AS actor2_id,
        COUNT(*) AS num_films_together
    FROM
        actor a1
    JOIN
        film_actor fa1 ON a1.actor_id = fa1.actor_id
    JOIN
        film_actor fa2 ON fa1.film_id = fa2.film_id
    JOIN
        actor a2 ON fa2.actor_id = a2.actor_id
    WHERE
        a1.actor_id < a2.actor_id
    GROUP BY
        a1.actor_id, a2.actor_id
)
SELECT
    actor1_id,
    actor2_id,
    num_films_together
FROM
    actor_pairs
ORDER BY
    num_films_together DESC;
Execution Accuracy: 1.0000

Processing Question 15.1: Which movies are in the top 10% by total revenue? Show the film ID, title, and total revenue.
Rewritten Prompt: Retrieve the top 10% of movies by total revenue, displaying film ID, title, and total revenue.

Generated SQL Query: WITH film_revenue AS (
    SELECT
        f.film_id,
        f.title,
        SUM(p.amount) AS total_revenue
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN payment p ON r.rental_id = p.rental_id
    GROUP BY
        f.film_id
),
top_10_percent AS (
    SELECT
        film_id,
        title,
        total_revenue,
        PERCENT_RANK() OVER (ORDER BY total_revenue DESC) AS pct_rank
    FROM
        film_revenue
)
SELECT
    film_id,
    title,
    total_revenue
FROM
    top_10_percent
WHERE
    pct_rank <= 0.1;
Execution Accuracy: 1.0000

Processing Question 15.2: Film apa aja yang masuk 10% teratas berdasarkan pendapatan? Tampilkan ID film, judul, dan total pendapatan.
Rewritten Prompt: Which films are in the top 10% based on revenue? Show film ID, title, and total revenue.

Generated SQL Query: WITH film_revenue AS (
    SELECT
        f.film_id,
        f.title,
        SUM(p.amount) AS total_revenue
    FROM
        film f

In [19]:
df_results_v1_multistage = pd.DataFrame(results_list)
df_results_v1_multistage.to_csv(f"{output_dir}/sql_execution_results_v1_multistage.csv", index=False)

# Experiment V1 Incremental

In [11]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_v1(user_prompt=question, method="Incremental")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: How much money did we make in 1997 total? Show it as '1997 Total Revenues'.
Rewritten Prompt: Retrieve the total revenue for 1997, labeled as '1997 Total Revenues'.

Generated SQL Query: SELECT '1997 Total Revenues: ' || CAST(SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS VARCHAR) FROM order_details od INNER JOIN orders o ON od.order_id = o.order_id WHERE EXTRACT(YEAR FROM o.order_date) = 1997;
Execution Accuracy: 0.0000

Processing Question 1.2: Total pendapatan kita tahun 1997 berapa sih? Tampilkan sebagai '1997 Total Revenues'.
Rewritten Prompt: Show total revenue for the year 1997 as '1997 Total Revenues'.

Generated SQL Query: SELECT SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS "1997 Total Revenues" FROM order_details od INNER JOIN orders o ON od.order_id = o.order_id WHERE EXTRACT(YEAR FROM o.order_date) = 1997;
Execution Accuracy: 1.0000

Processing Question 2.1: How much has each customer paid overall? Show 'CompanyName' and total as 'Total'.
Rewritten Prompt: Retrieve the total amount paid by each customer, displaying 'CompanyName' and the total amount as 'Total'.

Generated SQL Query: SELECT c.company_name, SUM(od.unit_price * od.quantity * (1 - od.discount)) AS Total
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY c.company_name
ORDER BY Total DESC;
Execution Accuracy: 1.0000

Processing Question 2.2: Tiap customer udah bayar ke kita totalnya berapa? Tampilkan 'CompanyName' dan totalnya sebagai 'Total'.
Rewritten Prompt: Show each customer's total payment amount, displaying 'CompanyName' and the total amount as 'Total'.

KeyboardInterrupt:

In [10]:
df_results_v1_incremental = pd.DataFrame(results_list)
df_results_v1_incremental.to_csv(f"{output_dir}/sql_execution_results_v1_incremental.csv", index=False)