# Import Libraries

In [1]:
from text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv
from datetime import datetime

import pandas as pd
import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Constants

In [2]:
MAX_RETRIES = 5
RETRY_DELAY = 2

# Load Environment

In [3]:
load_dotenv()

True

# Set Timestamp Experiment

In [4]:
timestamp = datetime.now().strftime("%Y_%m_%d_%H_%M")
output_dir = f"./files/experiment_result/{timestamp}"
os.makedirs(output_dir, exist_ok=True)

# Config

In [5]:
config = Config(
    max_retry_attempt=5,
    rewriter_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
        schema_path="./files/schema/sakila.txt",
    ),
    retrieve_context_config=ContextConfig(data_path="./files/dataset/dataset_sakila.csv"),
    query_executor_config=QueryConfig(
        host=os.getenv("DB_HOST"),
        database=os.getenv("DB_DATABASE"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        port=os.getenv("DB_PORT"),
    ),
)

# Model

In [6]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Import Dataset

In [16]:
dataset = pd.read_csv("./files/dataset/dataset_sakila.csv")
dataset = dataset[40:50]

In [17]:
dataset

,Question,Answer,Summary,Alternative Prompt 1 (English),Alternative Prompt 2 (Bahasa Indonesia),Expected Result
40,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari semu...,"['title', 'country_count']"
41,Which movies have been rented the most during ...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies the top 10 most rent...,Which movies have been rented the most during ...,Film mana yang paling sering disewa saat libur...,"['title', 'rentals_count']"
42,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang nyewa dari semua kategori t...,['customer_name']
43,Which movies have the highest number of rental...,WITH film_rentals AS (\r\n SELECT \r\n ...,This SQL query retrieves the top 10 most rente...,Which movies have the highest number of rental...,Film apa yang paling sering disewa tapi biaya ...,"['title', 'replacement_cost', 'rentals_count']"
44,Which customers have rented movies from every ...,WITH customer_stores AS (\n SELECT \n ...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Siapa pelanggan yang nyewa dari semua toko tap...,['customer_name']
45,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'city_count']"
46,Which movies have been rented the most by cust...,WITH young_customer_rentals AS (\r\n SELECT...,This SQL query identifies the top 10 most rent...,Which movies have been rented the most by cust...,Film mana yang paling banyak disewa oleh pelan...,"['title', 'rentals_count']"
47,Which movies have the highest revenue but have...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10 highest-g...,Which movies have the highest revenue but have...,Film mana yang pendapatannya tinggi tapi tidak...,"['title', 'total_revenue']"
48,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Which customers have rented movies from every ...,Ada pelanggan yang nyewa dari semua kategori t...,['customer_name']
49,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which movies have been rented by customers fro...,Film mana yang disewa oleh pelanggan dari lebi...,"['title', 'country_count']"

# Experiment Baseline Multistage

In [9]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_baseline(user_prompt=question, method="Multistage")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 11.1: Which store has earned the most revenue, and what is the name of the staff member managing it?
Generated SQL Query: SELECT s.store_id, s.store_id, st.first_name, st.last_name FROM store s JOIN staff st ON s.manager_staff_id = st.staff_id JOIN payment p ON s.store_id = (SELECT store_id FROM customer WHERE customer_id = p.customer_id) GROUP BY s.store_id, st.first_name, st.last_name ORDER BY SUM(p.amount) DESC LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 11.2: Toko mana yang penghasilannya paling tinggi, dan siapa nama staf yang megang toko itu?
Generated SQL Query: SELECT s.store_id, s.first_name, s.last_name, SUM(p.amount) AS total_revenue
FROM staff s
JOIN store st ON s.staff_id = st.manager_staff_id
JOIN payment p ON st.store_id = p.staff_id
GROUP BY s.store_id, s.first_name, s.last_name
ORDER BY total_revenue DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 12.1: Which customers have rented the same film more than once? Show the customer ID, first name, last name, film title, and the number of times they rented it.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, f.title, COUNT(*) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(*) > 1;
Execution Accuracy: 1.0000

Processing Question 12.2: Siapa aja pelanggan yang nyewa film yang sama lebih dari sekali? Tampilkan ID pelanggan, nama depan, nama belakang, judul film, dan jumlah penyewaan.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, f.title, COUNT(*) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(*) > 1
ORDER BY c.customer_id, rental_count DESC;
Execution Accuracy: 1.0000

Processing Question 13.1: Which films are in the top 5 most rented categories? Show the film ID, title, replacement cost, and category name, sorted by replacement cost from highest to lowest.
Generated SQL Query: WITH CategoryRentalCounts AS (
  SELECT
  	c.name as category_name,
  	COUNT(r.rental_id) AS rental_count
  FROM category c
  JOIN film_category fc ON c.category_id = fc.category_id
  JOIN inventory i ON fc.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  GROUP BY
  	c.name
),
Top5Categories AS (
  SELECT category_name
  FROM CategoryRentalCounts
  ORDER BY rental_count DESC
  LIMIT 5
)
SELECT
    f.film_id,
    f.title,
    f.replacement_cost,
    t5c.category_name
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
JOIN Top5Categories t5c ON c.name = t5c.category_name
ORDER BY f.replacement_cost DESC;
Execution Accuracy: 1.0000

Processing Question 13.2: Film apa saja yang masuk dalam 5 kategori paling sering disewa? Tampilkan ID film, judul, biaya ganti, dan nama kategori, urut biaya ganti dari yang paling mahal.
Generated SQL Query: SELECT
  f.film_id,
  f.title,
  f.replacement_cost,
  c.name
FROM film AS f
JOIN film_category AS fc
  ON f.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN inventory AS i
  ON f.film_id = i.film_id
JOIN rental AS r
  ON i.inventory_id = r.inventory_id
GROUP BY
  f.film_id,
  f.title,
  f.replacement_cost,
  c.name
ORDER BY
  COUNT(r.rental_id) DESC
LIMIT 5;
Execution Accuracy: 0.0000

Processing Question 14.1: Which pairs of actors have appeared together in the most films? Show only the actor IDs for each pair and how many films they've worked on together, sorted from most to least.
Generated SQL Query: SELECT a1.actor_id, a2.actor_id, COUNT(*) AS films_together
FROM film_actor AS fa1
JOIN film_actor AS fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
JOIN actor AS a1 ON fa1.actor_id = a1.actor_id
JOIN actor AS a2 ON fa2.actor_id = a2.actor_id
GROUP BY a1.actor_id, a2.actor_id
ORDER BY films_together DESC;
Execution Accuracy: 0.0090

Processing Question 14.2: Pasangan aktor mana saja yang paling sering main film bareng? Tampilkan ID kedua aktor dan jumlah film yang mereka bintangi bersama, urut dari yang paling banyak.
Generated SQL Query: SELECT a1.actor_id, a2.actor_id, COUNT(*) AS num_films FROM film_actor AS fa1 JOIN film_actor AS fa2 ON fa1.film_id = fa2.film_id JOIN actor AS a1 ON fa1.actor_id = a1.actor_id JOIN actor AS a2 ON fa2.actor_id = a2.actor_id WHERE a1.actor_id < a2.actor_id GROUP BY a1.actor_id, a2.actor_id ORDER BY num_films DESC;
Execution Accuracy: 0.0090

Processing Question 15.1: Which movies are in the top 10% by total revenue? Show the film ID, title, and total revenue.
Generated SQL Query: WITH FilmRevenue AS (
  SELECT
    f.film_id,
    f.title,
    SUM(p.amount) AS total_revenue
  FROM film AS f
  JOIN inventory AS i
    ON f.film_id = i.film_id
  JOIN rental AS r
    ON i.inventory_id = r.inventory_id
  JOIN payment AS p
    ON r.rental_id = p.rental_id
  GROUP BY
    f.film_id,
    f.title
), Top10Percent AS (
  SELECT
    film_id,
    title,
    total_revenue
  FROM FilmRevenue
  WHERE
    total_revenue >= (
      SELECT
        percentile_cont(0.9) WITHIN GROUP (ORDER BY total_revenue)
      FROM FilmRevenue
    )
)
SELECT
  film_id,
  title,
  total_revenue
FROM Top10Percent
ORDER BY
  total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 15.2: Film apa aja yang masuk 10% teratas berdasarkan pendapatan? Tampilkan ID film, judul, dan total pendapatan.
Error executing query: column reference "film_id" is ambiguous
LINE 3:     film_id,
            ^

Error executing query: OVER is not supported for ordered-set aggregate percentile_cont
LINE 20:     PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenu...
             ^

Error executing query: OVER is not supported for ordered-set aggregate percentile_cont
LINE 21:     PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenu...
             ^

Error executing query: OVER is not supported for ordered-set aggregate percentile_cont
LINE 21:     PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenu...
             ^

Error executing query: OVER is not supported for ordered-set aggregate percentile_cont
LINE 21:     PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenu...
             ^

Generated SQL Query: WITH film_revenue AS (
  SELECT
    f.film_id,
    SUM(p.amount) AS total_revenue
  FROM film_actor AS fa
  JOIN film AS f
    ON fa.film_id = f.film_id
  JOIN inventory AS i
    ON f.film_id = i.film_id
  JOIN rental AS r
    ON i.inventory_id = r.inventory_id
  JOIN payment AS p
    ON r.rental_id = p.rental_id
  GROUP BY
    f.film_id
),
revenue_percentile AS (
  SELECT
    PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenue) AS revenue_percentile_90
  FROM film_revenue
)
SELECT
  fr.film_id,
  f.title,
  fr.total_revenue
FROM film_revenue AS fr
JOIN film AS f
  ON fr.film_id = f.film_id
JOIN revenue_percentile AS rp ON fr.total_revenue >= (SELECT revenue_percentile_90 FROM revenue_percentile)
ORDER BY
  fr.total_revenue DESC;
Execution Accuracy: 0.0000

Processing Question 16.1: Which customers have rented every film in a specific category (e.g., 'Action')? Show the customer ID, first name, and last name.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
WHERE cat.name ILIKE 'Action'
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT i.film_id) = (SELECT COUNT(DISTINCT film_id) FROM film_category WHERE category_id = (SELECT category_id FROM category WHERE name ILIKE 'Action'));
Execution Accuracy: 1.0000

Processing Question 16.2: Siapa pelanggan yang sudah menyewa semua film dalam satu genre (misalnya genre 'Action')? Tampilkan ID pelanggan, nama depan, dan nama belakang.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
WHERE cat.name ILIKE 'Action'
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT i.film_id) = (SELECT COUNT(DISTINCT film_id) FROM film_category WHERE category_id = (SELECT category_id FROM category WHERE name ILIKE 'Action'));
Execution Accuracy: 1.0000

Processing Question 17.1: Which movie has the highest average rental duration per customer? Show the film ID, title, and average rental duration. Just return the top 1.
Error executing query: column r.rental_duration does not exist
LINE 1: SELECT f.film_id, f.title, AVG(r.rental_duration) AS average...
                                       ^
HINT:  Perhaps you meant to reference the column "f.rental_duration".

Generated SQL Query: SELECT f.film_id, f.title, AVG(f.rental_duration) AS average_rental_duration
FROM film AS f
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY average_rental_duration DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 17.2: Film mana yang punya rata-rata waktu sewa paling lama per pelanggan? Tampilkan ID film, judul, dan rata-rata durasi sewanya. Cukup ambil satu yang paling tinggi.
Error executing query: column reference "film_id" is ambiguous
LINE 1: SELECT film_id, title, AVG(rental_duration) AS average_renta...
               ^

Error executing query: column rental.rental_duration does not exist
LINE 1: SELECT f.film_id, f.title, AVG(rental.rental_duration) AS av...
                                       ^

Generated SQL Query: SELECT f.film_id, f.title, AVG(f.rental_duration) AS average_rental_duration
FROM film f
JOIN inventory ON f.film_id = inventory.film_id
JOIN rental ON inventory.inventory_id = rental.inventory_id
GROUP BY f.film_id, f.title
ORDER BY average_rental_duration DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 18.1: Which staff member has processed the most payments, and what is the total amount theyâ€™ve handled? Show the staff ID, first name, last name, and total amount. Just return the top 1.
Generated SQL Query: SELECT s.staff_id, s.first_name, s.last_name, SUM(p.amount) AS total_amount_processed
FROM staff s
JOIN payment p ON s.staff_id = p.staff_id
GROUP BY s.staff_id, s.first_name, s.last_name
ORDER BY total_amount_processed DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 18.2: Siapa staf yang paling banyak memproses pembayaran, dan berapa total yang mereka proses? Tampilkan ID staf, nama depan, nama belakang, dan total jumlahnya. Cukup ambil satu yang paling atas.
Error executing query: column reference "staff_id" is ambiguous
LINE 1: SELECT staff_id, first_name, last_name, SUM(amount) AS total...
               ^

Generated SQL Query: SELECT staff.staff_id, first_name, last_name, SUM(amount) AS total_amount_processed
FROM staff
JOIN payment ON staff.staff_id = payment.staff_id
GROUP BY staff.staff_id, first_name, last_name
ORDER BY total_amount_processed DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 19.1: Which films have never been rented but belong to the top 5 most popular categories? Show the film ID, title, and category name, and sort the results by film ID.
Generated SQL Query: WITH popular_categories AS (
  SELECT
  	category_id
  FROM film_category
  GROUP BY
  	category_id
  ORDER BY
  	COUNT(*) DESC
  LIMIT 5
), films_in_popular_categories AS (
  SELECT
  	f.film_id,
  	f.title,
  	c.name AS category_name
  FROM film AS f
  JOIN film_category AS fc
  	ON f.film_id = fc.film_id
  JOIN category AS c
  	ON fc.category_id = c.category_id
  JOIN popular_categories AS pc
  	ON fc.category_id = pc.category_id
)
SELECT
	film_id,
  	title,
  	category_name
FROM films_in_popular_categories
EXCEPT
SELECT
	f.film_id,
  	f.title,
  	c.name
FROM film AS f
JOIN inventory AS i
	ON f.film_id = i.film_id
JOIN rental AS r
	ON i.inventory_id = r.inventory_id
JOIN film_category AS fc
	ON f.film_id = fc.film_id
JOIN category AS c
	ON fc.category_id = c.category_id
ORDER BY
	film_id;
Execution Accuracy: 0.0000

Processing Question 19.2: Film apa saja yang belum pernah disewa tetapi termasuk dalam 5 kategori film paling populer? Tampilkan ID film, judul, dan nama kategori, lalu urutkan hasilnya berdasarkan ID film.
Generated SQL Query: SELECT f.film_id, f.title, c.name
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL
AND c.category_id IN (SELECT category_id FROM film_category GROUP BY category_id ORDER BY count(*) DESC LIMIT 5)
ORDER BY f.film_id;
Execution Accuracy: 0.0000

Processing Question 20.1: Which customers have rented films from all categories? Show the customer ID, first name, and last name.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT cat.category_id) = (SELECT COUNT(*) FROM category);
Execution Accuracy: 1.0000

Processing Question 20.2: Siapa aja pelanggan yang sudah nyewa film dari semua kategori? Tampilkan ID pelanggan, nama depan, dan nama belakang.
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film_category fc ON i.film_id = fc.film_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT fc.category_id) = (SELECT COUNT(*) FROM category);
Execution Accuracy: 1.0000

Final Execution Accuracy: 0.5009

In [10]:
df_results_baseline_multistage = pd.DataFrame(results_list)
df_results_baseline_multistage.to_csv(f"{output_dir}/sql_execution_results_baseline_multistage.csv", index=False)

# Experiment Baseline Incremental

In [11]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_baseline(user_prompt=question, method="Incremental")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you give me actors whose first name is Scarlett?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: Aktor siapa aja yang nama depannya 'Scarlett'?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: Hey, how many unique last names do we have among actors?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Ada berapa banyak nama belakang aktor yang berbeda?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who is the actor that shows up in the most movies?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(*) AS film_count FROM actor AS a JOIN film_actor AS fa ON a.actor_id = fa.actor_id GROUP BY a.actor_id, a.first_name, a.last_name ORDER BY film_count DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 3.2: Aktor mana yang muncul di film paling banyak?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a.first_name, a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name
HAVING COUNT(*) = (SELECT MAX(film_count) FROM (SELECT COUNT(*) AS film_count FROM film_actor GROUP BY actor_id) AS FilmCounts);
Execution Accuracy: 1.0000

Processing Question 4.1: What are the top 5 movie genres based on total revenue?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue FROM category c JOIN film_category fc ON c.category_id = fc.category_id JOIN film f ON fc.film_id = f.film_id JOIN inventory i ON f.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id JOIN payment p ON r.rental_id = p.rental_id GROUP BY c.name ORDER BY total_revenue DESC LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Genre film apa yang paling besar total penghasilannya? Kasih 5 teratas ya.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY total_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much money has each store made from rentals?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT s.store_id, COALESCE(SUM(p.amount), 0) AS total_revenue
FROM store s
LEFT JOIN rental r ON s.store_id = r.staff_id
LEFT JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 5.2: Tiap toko dapet pemasukan berapa dari rental?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 6.1: What language is most commonly used in our movies?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Bahasa apa yang paling sering dipakai di film?
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT language.name, COUNT(*) AS film_count FROM language JOIN film ON film.language_id = language.language_id GROUP BY language.name ORDER BY film_count DESC LIMIT 1
Execution Accuracy: 1.0000

Processing Question 7.1: Who are the top 5 customers based on how many movies they've rented? Show the customer ID, first name, last name, and number of rented movies.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT customer.customer_id, customer.first_name, customer.last_name, COUNT(*) AS rental_count
FROM customer
INNER JOIN rental ON customer.customer_id = rental.customer_id
GROUP BY customer.customer_id, customer.first_name, customer.last_name
ORDER BY rental_count DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Siapa 5 pelanggan yang paling sering nyewa film? Tampilkan ID pelanggan, nama depan, nama belakang, dan jumlah film yang disewa.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(r.rental_id) AS total_rentals
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
ORDER BY
    total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have rented from more than 3 categories? Show the customer ID, first name, last name, and the number of categories they've rented from.
Related Tables: {'staff', 'category', 'store', 'film', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(DISTINCT fc.category_id) AS num_categories_rented
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Pelanggan mana aja yang udah nyewa film dari lebih dari 3 kategori? Tampilkan ID pelanggan, nama depan, nama belakang, dan jumlah kategori yang disewa.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(DISTINCT fc.category_id) AS num_categories_rented
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that no one has ever rented? I need the film ID, title, and release year.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'customer', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT f.film_id, f.title, f.release_year FROM film f LEFT JOIN inventory i ON f.film_id = i.film_id LEFT JOIN rental r ON i.inventory_id = r.inventory_id WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 9.2: Film apa aja yang belum pernah disewa sama sekali? Aku butuh film ID, judul, dan tahun rilis
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT f.film_id, f.title FROM film f LEFT JOIN inventory i ON f.film_id = i.film_id WHERE i.inventory_id IS NULL;
Execution Accuracy: 0.0000

Processing Question 10.1: How much total revenue has each actor generated based on the movies they were in? Show the actor ID, first name, last name, and total revenue.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a.actor_id, a.first_name, a.last_name, SUM(p.amount) AS total_revenue
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN inventory i ON fa.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY a.actor_id, a.first_name, a.last_name
ORDER BY a.actor_id;
Execution Accuracy: 1.0000

Processing Question 10.2: Berapa total pemasukan dari tiap aktor, berdasarkan film yang mereka bintangi? Tampilkan ID aktor, nama depan, nama belakang, dan total pendapatan.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT fa.actor_id, a.first_name, a.last_name, SUM(p.amount) AS total_revenue
FROM film_actor fa
JOIN actor a ON fa.actor_id = a.actor_id
JOIN film f ON fa.film_id = f.film_id
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY fa.actor_id, a.first_name, a.last_name
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which store has earned the most revenue, and what is the name of the staff member managing it?
Related Tables: {'staff', 'store', 'address', 'country', 'city'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue, staff.first_name || ' ' || staff.last_name AS manager_name
FROM payment AS p
JOIN rental AS r ON p.rental_id = r.rental_id
JOIN inventory AS i ON r.inventory_id = i.inventory_id
JOIN store AS s ON i.store_id = s.store_id
JOIN staff ON s.manager_staff_id = staff.staff_id
GROUP BY s.store_id, manager_name
ORDER BY total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Toko mana yang penghasilannya paling tinggi, dan siapa nama staf yang megang toko itu?
Related Tables: {'staff', 'store', 'film_category', 'film_actor', 'customer', 'inventory', 'payment', 'film_text', 'actor', 'language', 'category', 'film', 'address', 'country', 'city', 'rental'}
Generated SQL Query: SELECT s.store_id, s.manager_staff_id, st.first_name || ' ' || st.last_name AS manager_name, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN payment p ON s.store_id = p.staff_id
GROUP BY s.store_id, st.first_name, st.last_name
ORDER BY total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Which customers have rented the same film more than once? Show the customer ID, first name, last name, film title, and the number of times they rented it.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'customer', 'inventory', 'city', 'actor', 'language', 'rental'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    f.title,
    COUNT(r.rental_id) AS rental_count
FROM
    customer c
JOIN
    rental r ON c.customer_id = r.customer_id
JOIN
    inventory i ON r.inventory_id = i.inventory_id
JOIN
    film f ON i.film_id = f.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(r.rental_id) > 1
ORDER BY
    c.customer_id, rental_count DESC;
Execution Accuracy: 1.0000

Processing Question 12.2: Siapa aja pelanggan yang nyewa film yang sama lebih dari sekali? Tampilkan ID pelanggan, nama depan, nama belakang, judul film, dan jumlah penyewaan.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    f.title,
    COUNT(*) AS rental_count
FROM
    rental r
JOIN
    inventory i ON r.inventory_id = i.inventory_id
JOIN
    film f ON i.film_id = f.film_id
JOIN
    customer c ON r.customer_id = c.customer_id
GROUP BY
    c.customer_id, c.first_name, c.last_name, f.title
HAVING
    COUNT(*) > 1;
Execution Accuracy: 1.0000

Processing Question 13.1: Which high replacement cost movies are also in the top 5 most rented categories? Show the film ID, title, replacement cost, and category name.
Related Tables: {'staff', 'category', 'film', 'store', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH Top5Categories AS (
  SELECT
    category_id
  FROM film_category
  GROUP BY
    category_id
  ORDER BY
    COUNT(*) DESC
  LIMIT
    5
), HighReplacementCostFilms AS (
  SELECT
    f.film_id,
    f.title,
    f.replacement_cost
  FROM film AS f
  WHERE
    f.replacement_cost > (
      SELECT
        AVG(replacement_cost)
      FROM film
    )
)
SELECT
  hrcf.film_id,
  hrcf.title,
  hrcf.replacement_cost,
  c.name AS category_name
FROM HighReplacementCostFilms AS hrcf
JOIN film_category AS fc
  ON hrcf.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN Top5Categories AS t5c
  ON fc.category_id = t5c.category_id
ORDER BY
  hrcf.replacement_cost DESC;
Execution Accuracy: 0.0000

Processing Question 13.2: Film apa yang biaya gantinya paling mahal dan masuk 5 kategori film yang paling sering disewa? Tampilkan ID film, judul, biaya ganti, dan nama kategori.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH FilmCategoryCounts AS (
  SELECT
    film_id,
    COUNT(category_id) AS category_count
  FROM film_category
  GROUP BY
    film_id
), RankedFilmCategories AS (
  SELECT
    film_id,
    RANK() OVER (ORDER BY category_count DESC) AS category_rank
  FROM FilmCategoryCounts
), Top5Categories AS (
  SELECT
    film_id
  FROM RankedFilmCategories
  WHERE
    category_rank <= 5
), MaxReplacementCostFilm AS (
  SELECT
    film_id,
    MAX(replacement_cost) AS max_replacement_cost
  FROM inventory
  GROUP BY
    film_id
)
SELECT
  f.film_id,
  f.title,
  i.replacement_cost,
  c.name AS category_name
FROM film AS f
JOIN film_category AS fc
  ON f.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN inventory AS i
  ON f.film_id = i.film_id
WHERE
  f.film_id IN (
    SELECT
      film_id
    FROM Top5Categories
  )
  AND i.replacement_cost = (
    SELECT
      max_replacement_cost
    FROM MaxReplacementCostFilm
  )
GROUP BY
  f.film_id,
  f.title,
  i.replacement_cost,
  c.name;
Error executing query: column "replacement_cost" does not exist
LINE 22:     MAX(replacement_cost) AS max_replacement_cost
                 ^

Execution Accuracy: 0.0000

Processing Question 14.1: Which pairs of actors have worked together in the most films? Show the pairs of actors and the number of films they've appeared in together.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1,
       a2.first_name || ' ' || a2.last_name AS actor2,
       COUNT(*) AS num_shared_films
FROM film_actor fa1
JOIN actor a1 ON fa1.actor_id = a1.actor_id
JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
JOIN actor a2 ON fa2.actor_id = a2.actor_id
WHERE a1.actor_id < a2.actor_id
GROUP BY actor1, actor2
HAVING COUNT(*) > 0
ORDER BY num_shared_films DESC;
Execution Accuracy: 0.0000

Processing Question 14.2: Pasangan aktor mana aja yang paling sering main bareng? Tampilkan pasangan aktor dan jumlah film yang mereka mainkan bersama.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1, a2.first_name || ' ' || a2.last_name AS actor2, COUNT(*) AS num_films FROM film_actor AS fa1 JOIN actor AS a1 ON fa1.actor_id = a1.actor_id JOIN film AS f ON fa1.film_id = f.film_id JOIN film_actor AS fa2 ON f.film_id = fa2.film_id JOIN actor AS a2 ON fa2.actor_id = a2.actor_id WHERE fa1.actor_id < fa2.actor_id GROUP BY actor1, actor2 ORDER BY num_films DESC;
Execution Accuracy: 0.0000

Processing Question 15.1: Which movies are in the top 10% by total revenue? Show the film ID, title, and total revenue.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH FilmRevenue AS (
  SELECT
    f.film_id,
    f.title,
    SUM(p.amount) AS total_revenue
  FROM film AS f
  JOIN inventory AS i
    ON f.film_id = i.film_id
  JOIN rental AS r
    ON i.inventory_id = r.inventory_id
  JOIN payment AS p
    ON r.rental_id = p.rental_id
  GROUP BY
    f.film_id,
    f.title
), percentile_revenue AS (
  SELECT
    *,
    PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenue) OVER () AS percentile_90
  FROM FilmRevenue
)
SELECT
  film_id,
  title,
  total_revenue
FROM percentile_revenue
WHERE
  total_revenue >= percentile_90;
Error executing query: OVER is not supported for ordered-set aggregate percentile_cont
LINE 19:     PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenu...
             ^

Execution Accuracy: 0.0000

Processing Question 15.2: Film apa aja yang masuk 10% teratas berdasarkan pendapatan? Tampilkan ID film, judul, dan total pendapatan.
Related Tables: {'staff', 'store', 'film', 'category', 'film_category', 'film_actor', 'address', 'country', 'inventory', 'city', 'actor', 'language'}
Generated SQL Query: WITH FilmRevenue AS (
  SELECT
    f.film_id,
    f.title,
    SUM(p.amount) AS total_revenue
  FROM film f
  JOIN inventory i ON f.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  JOIN payment p ON r.rental_id = p.rental_id
  GROUP BY f.film_id, f.title
),
RankedRevenue AS (
  SELECT
    film_id,
    title,
    total_revenue,
    NTILE(10) OVER (ORDER BY total_revenue DESC) as revenue_rank
  FROM FilmRevenue
)
SELECT
  film_id,
  title,
  total_revenue
FROM RankedRevenue
WHERE revenue_rank = 1;
Execution Accuracy: 1.0000

Processing Question 16.1: Which customers have rented every film in a specific category (e.g., 'Action')? Show the customer ID, first name, and last name.

In [15]:
df_results_baseline_incremental = pd.DataFrame(results_list)
df_results_baseline_incremental.to_csv(f"{output_dir}/sql_execution_results_baseline_incremental.csv", index=False)

# Experiment V1 Multistage

In [18]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_v1(user_prompt=question, method="Multistage")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 41.1: Which movies have been rented by customers from every country? Show the movie title and the number of countries.
Rewritten Prompt: Retrieve movie titles rented by customers from every country, displaying the movie title and the count of countries.

Generated SQL Query: WITH movie_country_rentals AS (
    SELECT
        f.title,
        COUNT(DISTINCT co.country_id) AS country_count
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN customer c ON r.customer_id = c.customer_id
        JOIN address a ON c.address_id = a.address_id
        JOIN city ci ON a.city_id = ci.city_id
        JOIN country co ON ci.country_id = co.country_id
    GROUP BY
        f.film_id
)
SELECT
    title,
    country_count
FROM
    movie_country_rentals
WHERE
    country_count = (SELECT COUNT(*) FROM country);
Execution Accuracy: 1.0000

Processing Question 41.2: Film mana yang disewa oleh pelanggan dari semua negara? Tampilkan judul film dan jumlah negara.
Rewritten Prompt: Which films were rented by customers from all countries? Show the film title and the number of countries.

Generated SQL Query: WITH film_rental_countries AS (
  SELECT
    f.title,
    COUNT(DISTINCT c.country) AS num_countries
  FROM film f
  JOIN inventory i ON f.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  JOIN customer cu ON r.customer_id = cu.customer_id
  JOIN address a ON cu.address_id = a.address_id
  JOIN city ci ON a.city_id = ci.city_id
  JOIN country c ON ci.country_id = c.country_id
  GROUP BY f.title
),
all_countries AS (
  SELECT COUNT(DISTINCT country) AS total_countries FROM country
)
SELECT
  frc.title,
  frc.num_countries
FROM film_rental_countries frc, all_countries ac
WHERE frc.num_countries = ac.total_countries;
Execution Accuracy: 1.0000

Processing Question 42.1: Which movies have been rented the most during holidays (e.g., December)? Show the movie title and the number of rentals.
Rewritten Prompt: Retrieve movie titles and their rental counts for movies rented most frequently during December.

Generated SQL Query: SELECT f.title, COUNT(r.rental_id) AS rental_count
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
WHERE EXTRACT(MONTH FROM r.rental_date) = 12
GROUP BY f.film_id, f.title
ORDER BY rental_count DESC;
Execution Accuracy: 1.0000

Processing Question 42.2: Film mana yang paling sering disewa saat libur (misalnya bulan Desember)? Tampilkan judul film dan jumlah penyewaan.
Rewritten Prompt: Which films were rented most frequently during holiday periods, such as December? Show the film title and rental count.

Generated SQL Query: WITH holiday_rentals AS (
  SELECT
    f.title,
    COUNT(*) AS rental_count
  FROM film f
  JOIN inventory i ON f.film_id = i.film_id
  JOIN rental r ON i.inventory_id = r.inventory_id
  WHERE
    EXTRACT(MONTH FROM r.rental_date) = 12
  GROUP BY
    f.title
)
SELECT
  title,
  rental_count
FROM holiday_rentals
ORDER BY
  rental_count DESC;
Execution Accuracy: 1.0000

Processing Question 43.1: Which customers have rented movies from every category but have never rented a movie with a replacement cost over $20? Show the customer full name.
Rewritten Prompt: Retrieve the full names of customers who have rented movies from every category and have not rented any movies with a replacement cost exceeding $20.

Generated SQL Query: WITH customer_categories AS (
    SELECT
        c.customer_id,
        CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
        COUNT(DISTINCT fc.category_id) AS category_count
    FROM
        customer c
        JOIN rental r ON c.customer_id = r.customer_id
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film_category fc ON i.film_id = fc.film_id
    GROUP BY
        c.customer_id
),
customer_no_expensive_rentals AS (
    SELECT
        c.customer_id
    FROM
        customer c
    WHERE
        NOT EXISTS (
            SELECT 1
            FROM rental r
            JOIN inventory i ON r.inventory_id = i.inventory_id
            JOIN film f ON i.film_id = f.film_id
            WHERE r.customer_id = c.customer_id AND f.replacement_cost > 20
        )
)
SELECT
    cc.customer_name
FROM
    customer_categories cc
    JOIN customer_no_expensive_rentals cne ON cc.customer_id = cne.customer_id
WHERE
    cc.category_count = (SELECT COUNT(*) FROM category);
Execution Accuracy: 1.0000

Processing Question 43.2: Ada pelanggan yang nyewa dari semua kategori tapi gak pernah nyewa film dengan biaya ganti di atas $20? Tampilkan nama lengkap pelanggan.
Rewritten Prompt: Show the full name of customers who have rented from all categories but never rented a film with a replacement cost above $20.

Generated SQL Query: WITH customer_categories AS (
  SELECT
    c.first_name || ' ' || c.last_name AS customer_name,
    COUNT(DISTINCT cat.category_id) AS category_count
  FROM
    customer c
  JOIN
    rental r ON c.customer_id = r.customer_id
  JOIN
    inventory i ON r.inventory_id = i.inventory_id
  JOIN
    film f ON i.film_id = f.film_id
  JOIN
    film_category fc ON f.film_id = fc.film_id
  JOIN
    category cat ON fc.category_id = cat.category_id
  GROUP BY
    customer_name
), all_categories AS (
  SELECT COUNT(*) AS total_categories FROM category
), customer_expensive_films AS (
  SELECT
    c.first_name || ' ' || c.last_name AS customer_name
  FROM
    customer c
  JOIN
    rental r ON c.customer_id = r.customer_id
  JOIN
    inventory i ON r.inventory_id = i.inventory_id
  JOIN
    film f ON i.film_id = f.film_id
  WHERE
    f.replacement_cost > 20.00
)
SELECT
  customer_name
FROM
  customer_categories cc
JOIN
  all_categories ac ON cc.category_count = ac.total_categories
WHERE
  customer_name NOT IN (SELECT customer_name FROM customer_expensive_films);
Execution Accuracy: 1.0000

Processing Question 44.1: Which movies have the highest number of rentals but the lowest replacement cost? Show the movie title, replacement cost, and number of rentals.
Rewritten Prompt: Retrieve movies with the highest number of rentals and the lowest replacement cost, displaying movie title, replacement cost, and number of rentals.

Generated SQL Query: WITH film_rentals AS (
    SELECT
        f.film_id,
        f.title,
        f.replacement_cost,
        COUNT(r.rental_id) AS rentals_count
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY
        f.film_id
)
SELECT
    title,
    replacement_cost,
    rentals_count
FROM
    film_rentals
ORDER BY
    rentals_count DESC, replacement_cost ASC
LIMIT 10;
Execution Accuracy: 1.0000

Processing Question 44.2: Film apa yang paling sering disewa tapi biaya gantinya rendah? Tampilkan judul film, biaya ganti, dan jumlah penyewaan.
Rewritten Prompt: Which films are most frequently rented but have a low replacement cost? Show the film title, replacement cost, and rental count.

Generated SQL Query: WITH film_rental_counts AS (
    SELECT
        f.film_id,
        f.title,
        f.replacement_cost,
        COUNT(r.rental_id) AS rental_count
    FROM
        film f
    JOIN inventory i ON f.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY
        f.film_id, f.title, f.replacement_cost
)
SELECT
    title,
    replacement_cost,
    rental_count
FROM
    film_rental_counts
ORDER BY
    rental_count DESC, replacement_cost ASC;
Execution Accuracy: 0.0000

Processing Question 45.1: Which customers have rented movies from every store but have never rented a movie with a runtime over 2 hours? Show the customer full name.
Rewritten Prompt: Retrieve the full names of customers who have rented movies from every store and have not rented any movies with a runtime exceeding 120 minutes.

Generated SQL Query: WITH customer_stores AS (
    SELECT
        c.customer_id,
        CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
        COUNT(DISTINCT i.store_id) AS store_count
    FROM
        customer c
        JOIN rental r ON c.customer_id = r.customer_id
        JOIN inventory i ON r.inventory_id = i.inventory_id
    GROUP BY
        c.customer_id
),
customer_no_long_movies AS (
    SELECT
        c.customer_id
    FROM
        customer c
    WHERE
        NOT EXISTS (
            SELECT 1
            FROM rental r
            JOIN inventory i ON r.inventory_id = i.inventory_id
            JOIN film f ON i.film_id = f.film_id
            WHERE r.customer_id = c.customer_id AND f.length > 120
        )
)
SELECT
    cs.customer_name
FROM
    customer_stores cs
    JOIN customer_no_long_movies cnl ON cs.customer_id = cnl.customer_id
WHERE
    cs.store_count = (SELECT COUNT(*) FROM store);
Execution Accuracy: 1.0000

Processing Question 45.2: Siapa pelanggan yang nyewa dari semua toko tapi gak pernah nyewa film berdurasi lebih dari 2 jam? Tampilkan nama lengkap pelanggan.
Rewritten Prompt: Retrieve the full names of customers who have rented from all stores but never rented films longer than 2 hours.

Generated SQL Query: SELECT first_name, last_name
FROM customer
WHERE customer_id IN (
    SELECT customer_id
    FROM rental
    GROUP BY customer_id
    HAVING COUNT(DISTINCT inventory_id) = (
        SELECT COUNT(*) FROM store
    )
) EXCEPT
SELECT c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
WHERE f.length > 120;
Execution Accuracy: 1.0000

Processing Question 46.1: Which movies have been rented by customers from more than 10 different cities? Show the movie title and the number of cities.
Rewritten Prompt: Retrieve movie titles and the count of distinct rental cities, filtering for movies rented from more than 10 different cities.

Generated SQL Query: WITH movie_city_rentals AS (
    SELECT
        f.title,
        COUNT(DISTINCT ci.city_id) AS city_count
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN customer c ON r.customer_id = c.customer_id
        JOIN address a ON c.address_id = a.address_id
        JOIN city ci ON a.city_id = ci.city_id
    GROUP BY
        f.film_id
)
SELECT
    title,
    city_count
FROM
    movie_city_rentals
WHERE
    city_count > 10;
Execution Accuracy: 1.0000

Processing Question 46.2: Film mana yang disewa oleh pelanggan dari lebih dari 10 kota? Tampilkan judul film dan jumlah kotanya.
Rewritten Prompt: Which films were rented by customers from more than 10 cities? Show the film title and the number of cities.

Generated SQL Query: WITH movie_city_rentals AS (
    SELECT
        f.title,
        COUNT(DISTINCT ci.city_id) AS city_count
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN customer c ON r.customer_id = c.customer_id
        JOIN address a ON c.address_id = a.address_id
        JOIN city ci ON a.city_id = ci.city_id
    GROUP BY
        f.film_id
)
SELECT
    title,
    city_count
FROM
    movie_city_rentals
WHERE
    city_count > 10;
Execution Accuracy: 1.0000

Processing Question 47.1: Which movies have been rented the most by customers under the age of 25? Show the movie title and the number of rentals.
Rewritten Prompt: Retrieve movie titles and their rental counts for movies most frequently rented by customers under 25 years old.

Generated SQL Query: WITH young_customer_rentals AS (
    SELECT
        f.title,
        COUNT(r.rental_id) AS rentals_count
    FROM
        film f
    JOIN inventory i ON f.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN customer c ON r.customer_id = c.customer_id
    WHERE
        EXTRACT(YEAR FROM AGE(CURRENT_DATE, c.create_date)) < 25
    GROUP BY
        f.film_id, f.title
)
SELECT
    title,
    rentals_count
FROM
    young_customer_rentals
ORDER BY
    rentals_count DESC;
Execution Accuracy: 0.0000

Processing Question 47.2: Film mana yang paling banyak disewa oleh pelanggan berusia di bawah 25 tahun? Tampilkan judul film dan jumlah penyewaan.
Rewritten Prompt: Which films were rented most frequently by customers under 25 years old? Show the film title and rental count.

Error executing query: can't execute an empty query
Generated SQL Query: SELECT f.title, COUNT(*) AS rental_count
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN customer c ON r.customer_id = c.customer_id
-- Assuming a customer age column existed, the following would filter by age
-- WHERE EXTRACT(YEAR FROM AGE(c.birthdate)) < 25
GROUP BY f.title
ORDER BY rental_count DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 48.1: Which movies have the highest revenue but have never been rented on weekends? Show the movie title and total revenue.
Rewritten Prompt: Retrieve movies with the highest revenue that have no weekend rentals, displaying movie title and total revenue.

Generated SQL Query: WITH film_revenue AS (
    SELECT
        f.film_id,
        f.title,
        SUM(p.amount) AS total_revenue
    FROM
        film f
    JOIN inventory i ON f.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
    WHERE
        EXTRACT(DOW FROM r.rental_date) NOT IN (0, 6)
    GROUP BY
        f.film_id, f.title
)
SELECT
    title,
    total_revenue
FROM
    film_revenue
ORDER BY
    total_revenue DESC
LIMIT 10;
Execution Accuracy: 1.0000

Processing Question 48.2: Film mana yang pendapatannya tinggi tapi tidak pernah disewa saat akhir pekan? Tampilkan judul film dan total pendapatan.
Rewritten Prompt: Which films have high revenue but were never rented on weekends? Show the film title and total revenue.

Generated SQL Query: SELECT f.title, SUM(p.amount) AS total_revenue
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
WHERE EXTRACT(DOW FROM r.rental_date) NOT IN (0, 6)
GROUP BY f.title
HAVING SUM(p.amount) > (SELECT AVG(amount) * 2 FROM payment);
Execution Accuracy: 0.0000

Processing Question 49.1: Which customers have rented movies from every category but have never rented a movie with a rating of 'PG-13'? Show the customer full name.
Rewritten Prompt: Retrieve the full names of customers who have rented movies from every category but have not rented any movies rated 'PG-13'.

Generated SQL Query: WITH customer_categories AS (
    SELECT
        c.customer_id,
        CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
        COUNT(DISTINCT fc.category_id) AS category_count
    FROM
        customer c
        JOIN rental r ON c.customer_id = r.customer_id
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film_category fc ON i.film_id = fc.film_id
    GROUP BY
        c.customer_id
),
customer_no_pg13 AS (
    SELECT
        c.customer_id
    FROM
        customer c
    WHERE
        NOT EXISTS (
            SELECT 1
            FROM rental r
            JOIN inventory i ON r.inventory_id = i.inventory_id
            JOIN film f ON i.film_id = f.film_id
            WHERE r.customer_id = c.customer_id AND f.rating = 'PG-13'
        )
)
SELECT
    cc.customer_name
FROM
    customer_categories cc
    JOIN customer_no_pg13 cnp ON cc.customer_id = cnp.customer_id
WHERE
    cc.category_count = (SELECT COUNT(*) FROM category);
Execution Accuracy: 1.0000

Processing Question 49.2: Ada pelanggan yang nyewa dari semua kategori tapi gak pernah nyewa film dengan rating 'PG-13'? Tampilkan nama lengkap pelanggan.
Rewritten Prompt: Show the full name of customers who have rented from all categories but have never rented a film with a 'PG-13' rating.

Generated SQL Query: WITH customer_categories AS (
    SELECT
        c.customer_id,
        CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
        COUNT(DISTINCT fc.category_id) AS category_count
    FROM
        customer c
        JOIN rental r ON c.customer_id = r.customer_id
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film_category fc ON i.film_id = fc.film_id
    GROUP BY
        c.customer_id
),
customer_no_pg13 AS (
    SELECT
        c.customer_id
    FROM
        customer c
    WHERE
        NOT EXISTS (
            SELECT 1
            FROM rental r
            JOIN inventory i ON r.inventory_id = i.inventory_id
            JOIN film f ON i.film_id = f.film_id
            WHERE r.customer_id = c.customer_id AND f.rating = 'PG-13'
        )
)
SELECT
    cc.customer_name
FROM
    customer_categories cc
    JOIN customer_no_pg13 cnp ON cc.customer_id = cnp.customer_id
WHERE
    cc.category_count = (SELECT COUNT(*) FROM category);
Execution Accuracy: 1.0000

Processing Question 50.1: Which movies have been rented by customers from more than 5 different countries? Show the movie title and the number of countries.
Rewritten Prompt: Retrieve movie titles and the count of distinct countries where each movie has been rented, filtering for movies rented in more than 5 countries.

Generated SQL Query: WITH movie_country_rentals AS (
    SELECT
        f.title,
        COUNT(DISTINCT co.country_id) AS country_count
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN customer c ON r.customer_id = c.customer_id
        JOIN address a ON c.address_id = a.address_id
        JOIN city ci ON a.city_id = ci.city_id
        JOIN country co ON ci.country_id = co.country_id
    GROUP BY
        f.film_id
)
SELECT
    title,
    country_count
FROM
    movie_country_rentals
WHERE
    country_count > 5;
Execution Accuracy: 1.0000

Processing Question 50.2: Film mana yang disewa oleh pelanggan dari lebih dari 5 negara? Tampilkan judul film dan jumlah negara.
Rewritten Prompt: Which films were rented by customers from more than 5 countries? Show the film title and the number of countries.

Generated SQL Query: WITH movie_country_rentals AS (
    SELECT
        f.title,
        COUNT(DISTINCT co.country_id) AS country_count
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN customer c ON r.customer_id = c.customer_id
        JOIN address a ON c.address_id = a.address_id
        JOIN city ci ON a.city_id = ci.city_id
        JOIN country co ON ci.country_id = co.country_id
    GROUP BY
        f.film_id
)
SELECT
    title,
    country_count
FROM
    movie_country_rentals
WHERE
    country_count > 5;
Execution Accuracy: 1.0000

Final Execution Accuracy: 0.8000

In [19]:
df_results_v1_multistage = pd.DataFrame(results_list)
df_results_v1_multistage.to_csv(f"{output_dir}/sql_execution_results_v1_multistage.csv", index=False)

# Experiment V1 Incremental

In [11]:
import time
import ast

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1 (English)"]
    question_2 = row["Alternative Prompt 2 (Bahasa Indonesia)"]
    answer = row["Answer"]
    expected_columns = ast.literal_eval(row["Expected Result"])

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_v1(user_prompt=question, method="Incremental")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer, expected_columns=expected_columns)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: How much money did we make in 1997 total? Show it as '1997 Total Revenues'.
Rewritten Prompt: Retrieve the total revenue for 1997, labeled as '1997 Total Revenues'.

Generated SQL Query: SELECT '1997 Total Revenues: ' || CAST(SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS VARCHAR) FROM order_details od INNER JOIN orders o ON od.order_id = o.order_id WHERE EXTRACT(YEAR FROM o.order_date) = 1997;
Execution Accuracy: 0.0000

Processing Question 1.2: Total pendapatan kita tahun 1997 berapa sih? Tampilkan sebagai '1997 Total Revenues'.
Rewritten Prompt: Show total revenue for the year 1997 as '1997 Total Revenues'.

Generated SQL Query: SELECT SUM(od.unit_price * od.quantity * (1.0 - od.discount)) AS "1997 Total Revenues" FROM order_details od INNER JOIN orders o ON od.order_id = o.order_id WHERE EXTRACT(YEAR FROM o.order_date) = 1997;
Execution Accuracy: 1.0000

Processing Question 2.1: How much has each customer paid overall? Show 'CompanyName' and total as 'Total'.
Rewritten Prompt: Retrieve the total amount paid by each customer, displaying 'CompanyName' and the total amount as 'Total'.

Generated SQL Query: SELECT c.company_name, SUM(od.unit_price * od.quantity * (1 - od.discount)) AS Total
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_details od ON o.order_id = od.order_id
GROUP BY c.company_name
ORDER BY Total DESC;
Execution Accuracy: 1.0000

Processing Question 2.2: Tiap customer udah bayar ke kita totalnya berapa? Tampilkan 'CompanyName' dan totalnya sebagai 'Total'.
Rewritten Prompt: Show each customer's total payment amount, displaying 'CompanyName' and the total amount as 'Total'.

KeyboardInterrupt:

In [10]:
df_results_v1_incremental = pd.DataFrame(results_list)
df_results_v1_incremental.to_csv(f"{output_dir}/sql_execution_results_v1_incremental.csv", index=False)