# Import Libraries

In [ ]:
from text_to_sql.text_to_sql import (
    TextToSQL,
    Config,
    LLMConfig,
    SLConfig,
    ContextConfig,
    QueryConfig,
)
from dotenv import load_dotenv
from datetime import datetime

import pandas as pd
import os

WARNING:tensorflow:From c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

# Constants

In [2]:
MAX_RETRIES = 5
RETRY_DELAY = 2

# Load Environment

In [3]:
load_dotenv()

True

# Set Timestamp Experiment

In [4]:
timestamp = datetime.now().strftime("%Y_%m_%d_%H_%M")
output_dir = f"./experiment_result/{timestamp}"
os.makedirs(output_dir, exist_ok=True)

# Config

In [5]:
config = Config(
    max_retry_attempt=5,
    rewriter_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    query_generator_config=LLMConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
    ),
    schema_linker_config=SLConfig(
        type="api",
        model="gemini-1.5-flash",
        provider="gemini",
        api_key=os.getenv("API_KEY"),
        schema_path="./metadata/sakila.json",
    ),
    retrieve_context_config=ContextConfig(data_path="./dataset/dataset_sakila.csv"),
    query_executor_config=QueryConfig(
        host=os.getenv("DB_HOST"),
        database=os.getenv("DB_DATABASE"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        port=os.getenv("DB_PORT"),
    ),
)

# Model

In [6]:
text_to_sql_model = TextToSQL(config=config)

Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.
Initializing API client for gemini using model gemini-1.5-flash.

c:\Users\michj\AppData\Local\Programs\Python\Python39\lib\site-packages\mlflow\protos\service_pb2.py:11: UserWarning: google.protobuf.service module is deprecated. RPC implementations should provide code generator plugins which generate code specific to the RPC implementation. service.py will be removed in Jan 2025
  from google.protobuf import service as _service

# Import Dataset

In [7]:
dataset = pd.read_csv("./dataset/dataset_sakila.csv")
dataset = dataset[dataset["Summary"].notna()]

In [8]:
dataset

,Question,Answer,Summary,Alternative Prompt 1,Alternative Prompt 2
0,Which actors have the first name ‘Scarlett’,SELECT * FROM actor WHERE first_name = 'Scarle...,This SQL query retrieves all records from the ...,Can you give me actors that have first name Sc...,I want to know actors that have the first name...
1,How many distinct actors last names are there?,SELECT COUNT(DISTINCT last_name) FROM actor;,This SQL query calculates the count of distinc...,"Hey, I'm curious—how many different last names...",Can you tell me how many unique actor last nam...
2,Which actor has appeared in the most films?,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query identifies the actor who has ap...,Who is the most frequently appearing actor in ...,Can you find out which actor has been in the m...
3,List the top five genres in gross revenue in d...,"SELECT \r\n c.name AS genre, \r\n SUM(p....",This SQL query calculates the top 5 highest-gr...,Which five movie genres have made the most mon...,Can you show me the top five highest-earning g...
4,"Write a query to display how much business, in...","SELECT s.store_id, SUM(p.amount) AS total_reve...",This SQL query calculates the total revenue ge...,How much money has each store made from rentals?,Can you break down the total revenue for each ...
5,Which language is used in most films?,SELECT \n l.name\nFROM \n language l\n ...,This SQL query identifies the most frequently ...,Which language is the most common in the movie...,Can you find out which language is used the mo...
6,List the top five customers in number of rente...,"SELECT\n c.customer_id,\n c.first_name,\...",This SQL query identifies the top 5 customers ...,Who are our five most active customers based o...,Can you tell me which five customers have rent...
7,Which customers have rented films from more th...,"SELECT \r\n c.customer_id, \r\n c.first_...",This SQL query identifies customers who have r...,Which customers have explored a variety of gen...,Can you list customers who have rented movies ...
8,Which films have never been rented out? Show t...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies films that have neve...,Are there any movies in our collection that no...,Can you find out which films have never been r...
9,What is the total revenue generated by each ac...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query calculates the total revenue ge...,How much money has each actor helped generate ...,Can you show me the total revenue for each act...
10,"Which store has the highest total revenue, and...","SELECT \n s.store_id, \n CONCAT(st.first...",This SQL query identifies the store with the h...,"Which store has made the most money, and who i...",Can you find out which store has the highest r...
11,Which customers have rented the same film more...,WITH customer_film_rentals AS (\r\n SELECT ...,This SQL query retrieves customers who have re...,Are there any customers who have rented the sa...,Can you find customers who keep renting the sa...
12,Which films have the highest replacement cost ...,WITH top_categories AS (\r\n SELECT \r\n ...,This SQL query identifies the top 5 most rente...,Which expensive-to-replace movies are also in ...,Can you find out which high-replacement-cost f...
13,Which actors have worked together in the most ...,WITH actor_pairs AS (\r\n SELECT \r\n ...,This SQL query identifies actor pairs who have...,Which two actors have appeared in the most mov...,Can you tell me which actor pair has worked to...
14,Which films are in the top 10% of revenue-gene...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10% highest-...,Which movies are among the top 10% highest ear...,Can you list the films that make the most mone...
15,Which customers have rented every film in a sp...,WITH action_films AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented every ...,Can you check if any customers have watched al...
16,Which films have the highest average rental du...,WITH film_rental_duration AS (\r\n SELECT \...,This SQL query identifies the top 10 films wit...,Which movies are rented for the longest time o...,Can you find the films that customers keep the...
17,Which staff members have processed the most pa...,"SELECT \r\n s.staff_id, \r\n s.first_nam...",This SQL query retrieves payment performance m...,Which employees have handled the most payments...,Can you show me which staff members process th...
18,Which films have never been rented but are in ...,WITH top_categories AS (\r\n SELECT \r\n ...,This SQL query identifies films that have neve...,Are there any movies in the most popular genre...,Can you find films that belong to the top 5 ca...
19,Which customers have rented films from all cat...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there any customers who have rented movies...,Can you find customers who have watched at lea...
20,Which films have the highest revenue per day o...,WITH film_revenue_per_day AS (\r\n SELECT \...,This SQL query calculates the revenue generate...,Which movies make the most money per day when ...,Can you list the films that generate the highe...
21,Which films have the longest and shortest rent...,WITH film_durations AS (\r\n SELECT \r\n ...,This SQL query identifies the films with the l...,Can you find the longest and shortest rental p...,Which films in each category are rented for th...
22,Which customers have rented films from exactly...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there any customers who have only rented m...,Can you find customers who have explored exact...
23,Which films have been rented more than the ave...,WITH category_rentals AS (\r\n SELECT \r\n ...,This SQL query identifies films that have been...,Which movies are rented more often than the av...,Can you find the films that are more popular t...
24,Which actors have never appeared in a film wit...,"SELECT \r\n a.actor_id, \r\n a.first_nam...",This SQL query retrieves a list of actors who ...,Are there any actors who have never acted in a...,Can you list the actors who have only worked i...
25,Which films have the highest replacement cost ...,"SELECT \r\n f.film_id, \r\n f.title, \r\...",This SQL query identifies the ten most expensi...,Are there expensive movies that have never bee...,Can you find films with a high replacement cos...
26,Which customers have rented films from all sto...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented from e...,Can you find customers who have rented movies ...
27,Which films have been rented in all stores? Sh...,WITH film_stores AS (\r\n SELECT \r\n ...,This SQL query identifies films that have been...,Are there any movies that have been rented in ...,Can you list the films that have been rented a...
28,Which films have the highest revenue per minut...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10 films gen...,Which movies make the most money per minute of...,Can you find films that generate the highest r...
29,Which customers have rented films from every a...,WITH film_actors AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented at lea...,Can you check if someone has watched films sta...
30,Which films have the highest number of actors ...,WITH film_actor_counts AS (\r\n SELECT \r\n...,This SQL query identifies the top 10 unrented ...,Are there movies with large casts that have ne...,Can you find films with the most actors that n...
31,Which movies have the longest runtime but have...,"SELECT \r\n f.title, \r\n f.length AS ru...",This SQL query retrieves the 10 longest films ...,Are there any long movies that no one has ever...,Can you list the longest films that have never...
32,Which customers have rented the most movies in...,WITH customer_daily_rentals AS (\r\n SELECT...,This SQL query identifies the top 10 customers...,Who rented the most movies on a single day?,Can you find the customer who rented the most ...
33,Which movies have been rented more than 10 tim...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies films that have been...,Are there any movies that have been rented ove...,Can you list movies that have been rented a lo...
34,Which staff members have processed the most pa...,SELECT \r\n s.first_name || ' ' || s.last_n...,This SQL query retrieves the top 10 staff memb...,Which employees handle the most payments on Sa...,Can you find out which staff members process t...
35,Which movies have the highest revenue but the ...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query retrieves the top 10 films that...,Are there any movies that make a lot of money ...,Can you find films with high revenue despite h...
36,Which customers have rented movies from every ...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented from a...,Can you find people who have rented movies fro...
37,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies films that have been...,Which films have been rented by people from mo...,Can you find movies that are popular across mu...
38,Which movies have the highest number of actors...,WITH film_actor_counts AS (\r\n SELECT \r\n...,This SQL query identifies the top 10 films tha...,Are there movies with a big cast that have nev...,Can you list films with the most actors that n...
39,Which customers have rented the same movie mor...,WITH customer_movie_rentals AS (\r\n SELECT...,This SQL query identifies customers who have r...,Are there any customers who rented the same fi...,Can you find people who rented the same movie ...
40,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Are there any movies that have been rented by ...,Can you find out which films have been watched...
41,Which movies have been rented the most during ...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies the top 10 most rent...,Which movies are the most popular during the h...,Can you find the films that get rented the mos...
42,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there customers who have rented from all g...,Can you find people who have watched films fro...
43,Which movies have the highest number of rental...,WITH film_rentals AS (\r\n SELECT \r\n ...,This SQL query retrieves the top 10 most rente...,Which films are rented the most but are also t...,Can you find movies that are super popular but...
44,Which customers have rented movies from every ...,WITH customer_stores AS (\r\n SELECT \r\n ...,This SQL query identifies customers who have r...,Are there any customers who have rented from a...,Can you find people who have rented from every...
45,Which movies have been rented by customers fro...,WITH movie_city_rentals AS (\r\n SELECT \r\...,This SQL query identifies movies that have bee...,Which movies are rented by people from more th...,Can you find out which films are popular acros...
46,Which movies have been rented the most by cust...,WITH young_customer_rentals AS (\r\n SELECT...,This SQL query identifies the top 10 most rent...,Which movies are the most popular among young ...,Can you show me the top films rented by people...
47,Which movies have the highest revenue but have...,WITH film_revenue AS (\r\n SELECT \r\n ...,This SQL query identifies the top 10 highest-g...,Are there any high-earning movies that no one ...,Can you find films that make a lot of money bu...
48,Which customers have rented movies from every ...,WITH customer_categories AS (\r\n SELECT \r...,This SQL query identifies customers who have r...,Are there customers who have rented from all c...,Can you find people who have rented from every...
49,Which movies have been rented by customers fro...,WITH movie_country_rentals AS (\r\n SELECT ...,This SQL query identifies movies that have bee...,Which films have been rented by people from at...,Can you find movies that have been watched by ...
50,Which movies have the highest number of rental...,"SELECT \r\n f.title, \r\n COUNT(r.rental...",This SQL query identifies the top 10 most freq...,Are there movies that have been rented a lot b...,Can you list the most rented films that have n...

# Experiment Baseline Multistage

In [ ]:
import time

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1"]
    question_2 = row["Alternative Prompt 2"]
    answer = row["Answer"]

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_baseline(user_prompt=question, method="Multistage")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you give me actors that have first name Scarlett
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT * FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: I want to know actors that have the first name Scarlett
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT * FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: Hey, I'm curious—how many different last names do the actors in our database have?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Can you tell me how many unique actor last names exist in our system?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who is the most frequently appearing actor in our movie collection?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a.first_name, a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name
ORDER BY COUNT(*) DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 3.2: Can you find out which actor has been in the most movies?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(fa.film_id) AS num_films FROM actor a JOIN film_actor fa ON a.actor_id = fa.actor_id GROUP BY a.actor_id, a.first_name, a.last_name ORDER BY num_films DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 4.1: Which five movie genres have made the most money overall?
Related Tables: {'category', 'actor', 'address', 'customer', 'film_text', 'staff', 'store', 'film', 'payment', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'country'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN film f ON fc.film_id = f.film_id
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY total_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Can you show me the top five highest-earning genres, ranked from highest to lowest?
Related Tables: {'category', 'actor', 'address', 'customer', 'film_text', 'staff', 'store', 'film', 'payment', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'country'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY total_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much money has each store made from rentals?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.store_id = st.store_id
JOIN rental r ON st.staff_id = r.staff_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 5.2: Can you break down the total revenue for each store?
Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Error executing query: can't execute an empty query
Generated SQL Query: -- Unable to provide an adequate query for the request.
-- There is no revenue information available in the provided database schema.  Additional tables and/or columns with sales data are required to calculate revenue.
Error executing query: can't execute an empty query
Execution Accuracy: 0.0000

Processing Question 6.1: Which language is the most common in the movies we have?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Can you find out which language is used the most in our films?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 7.1: Who are our five most active customers based on the number of rentals?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT customer_id, COUNT(*) AS total_rentals FROM rental GROUP BY customer_id ORDER BY total_rentals DESC LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Can you tell me which five customers have rented the most movies?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT customer_id, COUNT(*) AS total_rentals FROM rental GROUP BY customer_id ORDER BY total_rentals DESC LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have explored a variety of genres and rented from at least 3 different categories?
Related Tables: {'film', 'category', 'address', 'staff', 'customer', 'actor', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT cat.category_id) >= 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Can you list customers who have rented movies from more than three different categories?
Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT cat.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that nobody has ever rented?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 9.2: Can you find out which films have never been rented even once?
Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 10.1: How much money has each actor helped generate based on the movies they were in?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT
  a.first_name || ' ' || a.last_name AS actor_name,
  SUM(f.rental_rate) AS total_rental_revenue
FROM actor AS a
JOIN film_actor AS fa
  ON a.actor_id = fa.actor_id
JOIN film AS f
  ON fa.film_id = f.film_id
GROUP BY
  actor_name
ORDER BY
  total_rental_revenue DESC;
Execution Accuracy: 0.0000

Processing Question 10.2: Can you show me the total revenue for each actor based on their films?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Error executing query: can't execute an empty query
Generated SQL Query: -- Unable to provide an adequate query for the request.  The provided schema does not contain information on film revenue.  Additional tables with rental or sales data are needed.
Error executing query: can't execute an empty query
Execution Accuracy: 0.0000

Processing Question 11.1: Which store has made the most money, and who is the manager there?
Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Error executing query: can't execute an empty query
Generated SQL Query: -- Unable to provide an adequate query for the request.  The provided schema does not contain information about revenue or sales figures, which are necessary to determine which store has made the most money.
Error executing query: can't execute an empty query
Execution Accuracy: 0.0000

Processing Question 11.2: Can you find out which store has the highest revenue and who runs it?
Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    s.store_id,
    s.address_id,
    st.first_name || ' ' || st.last_name AS manager_name
FROM
    store s
JOIN
    staff st ON s.manager_staff_id = st.staff_id
ORDER BY
    s.store_id DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Are there any customers who have rented the same movie more than once?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, f.title
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, f.title
HAVING COUNT(*) > 1;
Execution Accuracy: 1.0000

Processing Question 12.2: Can you find customers who keep renting the same film multiple times?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, f.title, COUNT(*) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(*) > 1
ORDER BY c.customer_id, rental_count DESC;
Execution Accuracy: 1.0000

Processing Question 13.1: Which expensive-to-replace movies are also in the top five most popular categories?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH FilmCategories AS (
  SELECT
    category_id,
    COUNT(*) AS film_count
  FROM film_category
  GROUP BY
    category_id
  ORDER BY
    film_count DESC
  LIMIT 5
), ExpensiveFilms AS (
  SELECT
    film_id
  FROM film
  WHERE
    replacement_cost >= 20
)
SELECT
  f.title,
  f.replacement_cost,
  c.name AS category_name
FROM film AS f
JOIN film_category AS fc
  ON f.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN FilmCategories AS fc2
  ON fc.category_id = fc2.category_id
JOIN ExpensiveFilms AS ef
  ON f.film_id = ef.film_id;
Execution Accuracy: 0.3204

Processing Question 13.2: Can you find out which high-replacement-cost films are in the five most rented genres?
Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT f.title
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
WHERE c.category_id IN (
    SELECT c.category_id
    FROM category c
    JOIN film_category fc ON c.category_id = fc.category_id
    JOIN inventory i ON fc.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY c.category_id
    ORDER BY COUNT(*) DESC
    LIMIT 5
)
AND f.replacement_cost > 20;
Execution Accuracy: 0.5359

Processing Question 14.1: Which two actors have appeared in the most movies together?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1, a2.first_name || ' ' || a2.last_name AS actor2, COUNT(*) AS films_together
FROM film_actor AS fa1
JOIN film_actor AS fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
JOIN actor AS a1 ON fa1.actor_id = a1.actor_id
JOIN actor AS a2 ON fa2.actor_id = a2.actor_id
GROUP BY actor1, actor2
ORDER BY films_together DESC
LIMIT 2;
Execution Accuracy: 0.0000

Processing Question 14.2: Can you tell me which actor pair has worked together the most?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1, a2.first_name || ' ' || a2.last_name AS actor2, COUNT(*) AS collaborations
FROM film_actor fa1
JOIN actor a1 ON fa1.actor_id = a1.actor_id
JOIN film f ON fa1.film_id = f.film_id
JOIN film_actor fa2 ON f.film_id = fa2.film_id
JOIN actor a2 ON fa2.actor_id = a2.actor_id
WHERE a1.actor_id < a2.actor_id
GROUP BY actor1, actor2
ORDER BY collaborations DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 15.1: Which movies are among the top 10% highest earners?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Error executing query: column r.rental_rate does not exist
LINE 6: ORDER BY SUM(r.rental_rate) DESC
                     ^
HINT:  Perhaps you meant to reference the column "f.rental_rate" or the column "r.rental_date".

Generated SQL Query: SELECT f.title
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY SUM(r.rental_rate) DESC
LIMIT (SELECT COUNT(*) * 0.1 FROM film);
Error executing query: column r.rental_rate does not exist
LINE 6: ORDER BY SUM(r.rental_rate) DESC
                     ^
HINT:  Perhaps you meant to reference the column "f.rental_rate" or the column "r.rental_date".

Execution Accuracy: 0.0000

Processing Question 15.2: Can you list the films that make the most money, ranked in the top 10%?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Error executing query: can't execute an empty query
Generated SQL Query: -- Unable to provide an adequate query for the request.  The provided schema does not contain information on film revenue or profitability.  Additional table(s) with rental or sales data are required to answer this question.
Error executing query: can't execute an empty query
Execution Accuracy: 0.0000

Processing Question 16.1: Are there any customers who have rented every single movie in a specific genre?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
WHERE cat.name = 'Action' -- Replace 'Action' with the desired genre
GROUP BY c.customer_id
HAVING COUNT(DISTINCT f.film_id) = (SELECT COUNT(*) FROM film f2 JOIN film_category fc2 ON f2.film_id = fc2.film_id WHERE fc2.category_id = (SELECT category_id FROM category WHERE name = 'Action')); -- Replace 'Action' with the desired genre
Execution Accuracy: 1.0000

Processing Question 16.2: Can you check if any customers have watched all the films in the Action category?
Related Tables: {'film', 'category', 'address', 'actor', 'customer', 'staff', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
WHERE cat.name = 'Action'
GROUP BY c.customer_id
HAVING COUNT(DISTINCT f.film_id) = (SELECT COUNT(*) FROM film f2 JOIN film_category fc2 ON f2.film_id = fc2.film_id JOIN category cat2 ON fc2.category_id = cat2.category_id WHERE cat2.name = 'Action');
Execution Accuracy: 1.0000

Processing Question 17.1: Which movies are rented for the longest time on average?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Error executing query: function datediff(unknown, timestamp without time zone, timestamp without time zone) does not exist
LINE 1: SELECT f.title, AVG(DATEDIFF('day', r.rental_date, r.return_...
                            ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

Generated SQL Query: SELECT f.title, AVG(DATEDIFF('day', r.rental_date, r.return_date)) AS avg_rental_duration
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY f.title
ORDER BY avg_rental_duration DESC;
Error executing query: function datediff(unknown, timestamp without time zone, timestamp without time zone) does not exist
LINE 1: SELECT f.title, AVG(DATEDIFF('day', r.rental_date, r.return_...
                            ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

Execution Accuracy: 0.0000

Processing Question 17.2: Can you find the films that customers keep the longest before returning?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}

In [9]:
df_results_baseline_multistage = pd.DataFrame(results_list)
df_results_baseline_multistage.to_csv(f"{output_dir}/sql_execution_results_baseline_multistage.csv", index=False)

# Experiment Baseline Incremental

In [14]:
import time

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1"]
    question_2 = row["Alternative Prompt 2"]
    answer = row["Answer"]

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_baseline(user_prompt=question, method="Incremental")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you give me actors that have first name Scarlett
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT first_name, last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: I want to know actors that have the first name Scarlett
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT actor_id, first_name, last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: Hey, I'm curious—how many different last names do the actors in our database have?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Can you tell me how many unique actor last names exist in our system?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who is the most frequently appearing actor in our movie collection?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(fa.film_id) AS film_count
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name
ORDER BY film_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 3.2: Can you find out which actor has been in the most movies?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH ActorFilmCount AS (
  SELECT
    actor_id,
    COUNT(film_id) AS film_count
  FROM film_actor
  GROUP BY
    actor_id
  ORDER BY
    film_count DESC
  LIMIT 1
)
SELECT
  a.first_name,
  a.last_name
FROM actor AS a
JOIN ActorFilmCount AS afc
  ON a.actor_id = afc.actor_id;
Execution Accuracy: 1.0000

Processing Question 4.1: Which five movie genres have made the most money overall?
Related Tables: {'category', 'actor', 'address', 'customer', 'film_text', 'staff', 'store', 'film', 'payment', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'country'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue FROM category c JOIN film_category fc ON c.category_id = fc.category_id JOIN film f ON fc.film_id = f.film_id JOIN inventory i ON f.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id JOIN payment p ON r.rental_id = p.rental_id GROUP BY c.name ORDER BY total_revenue DESC LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Can you show me the top five highest-earning genres, ranked from highest to lowest?
Related Tables: {'category', 'actor', 'address', 'customer', 'film_text', 'staff', 'store', 'film', 'payment', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'country'}
Generated SQL Query: SELECT c.name, SUM(p.amount) AS total_revenue FROM category c JOIN film_category fc ON c.category_id = fc.category_id JOIN inventory i ON fc.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id JOIN payment p ON r.rental_id = p.rental_id GROUP BY c.name ORDER BY total_revenue DESC LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much money has each store made from rentals?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.store_id = st.store_id
JOIN rental r ON st.staff_id = r.staff_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 5.2: Can you break down the total revenue for each store?
Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN payment p ON st.staff_id = p.staff_id
GROUP BY s.store_id
ORDER BY s.store_id;
Execution Accuracy: 1.0000

Processing Question 6.1: Which language is the most common in the movies we have?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Can you find out which language is used the most in our films?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT language.name, COUNT(*) AS film_count FROM film JOIN language ON film.language_id = language.language_id GROUP BY language.name ORDER BY film_count DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 7.1: Who are our five most active customers based on the number of rentals?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Can you tell me which five customers have rented the most movies?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have explored a variety of genres and rented from at least 3 different categories?
Related Tables: {'film', 'category', 'address', 'staff', 'customer', 'actor', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(DISTINCT cat.category_id) AS distinct_categories_rented
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY c.customer_id, c.first_name, c.last_name
HAVING COUNT(DISTINCT cat.category_id) >= 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Can you list customers who have rented movies from more than three different categories?
Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY c.customer_id
HAVING COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that nobody has ever rented?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT title FROM film EXCEPT SELECT f.title FROM film AS f JOIN inventory AS i ON f.film_id = i.film_id JOIN rental AS r ON i.inventory_id = r.inventory_id;
Execution Accuracy: 0.9767

Processing Question 9.2: Can you find out which films have never been rented even once?
Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT f.title FROM film f LEFT JOIN inventory i ON f.film_id = i.film_id LEFT JOIN rental r ON i.inventory_id = r.inventory_id WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 10.1: How much money has each actor helped generate based on the movies they were in?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(fa.film_id) * 1000 AS total_revenue_generated
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name
ORDER BY total_revenue_generated DESC;
Execution Accuracy: 0.0000

Processing Question 10.2: Can you show me the total revenue for each actor based on their films?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    a.first_name || ' ' || a.last_name AS actor_name,
    SUM(f.rental_rate) AS total_potential_revenue
FROM
    actor a
JOIN
    film_actor fa ON a.actor_id = fa.actor_id
JOIN
    film f ON fa.film_id = f.film_id
GROUP BY
    actor_name
ORDER BY
    total_potential_revenue DESC;
Execution Accuracy: 0.0000

Processing Question 11.1: Which store has made the most money, and who is the manager there?
Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    s.store_id,
    s.address_id,
    SUM(p.amount) AS total_revenue,
    st.first_name || ' ' || st.last_name AS manager_name
FROM
    store s
JOIN
    staff st ON s.manager_staff_id = st.staff_id
LEFT JOIN
    payment p ON s.store_id = p.store_id
GROUP BY
    s.store_id, s.address_id, manager_name
ORDER BY
    total_revenue DESC
LIMIT 1;
Error executing query: column p.store_id does not exist
LINE 11:     payment p ON s.store_id = p.store_id
                                       ^
HINT:  Perhaps you meant to reference the column "s.store_id".

Execution Accuracy: 0.0000

Processing Question 11.2: Can you find out which store has the highest revenue and who runs it?
Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    s.store_id,
    s.address_id,
    st.first_name || ' ' || st.last_name AS manager_name,
    SUM(r.amount) AS total_revenue
FROM store AS s
JOIN staff AS st
ON s.manager_staff_id = st.staff_id
LEFT JOIN rental AS r
ON s.store_id = r.store_id
GROUP BY s.store_id, s.address_id, manager_name
ORDER BY total_revenue DESC
LIMIT 1;
Error executing query: column r.store_id does not exist
LINE 10: ON s.store_id = r.store_id
                         ^
HINT:  Perhaps you meant to reference the column "s.store_id".

Execution Accuracy: 0.0000

Processing Question 12.1: Are there any customers who have rented the same movie more than once?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT customer_id, film_id, COUNT(*) AS rental_count
FROM (SELECT rental.customer_id, inventory.film_id FROM rental
JOIN inventory ON rental.inventory_id = inventory.inventory_id) AS rentals
GROUP BY customer_id, film_id
HAVING COUNT(*) > 1;
Execution Accuracy: 0.0000

Processing Question 12.2: Can you find customers who keep renting the same film multiple times?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, f.title, COUNT(*) AS rental_count
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
GROUP BY c.customer_id, c.first_name, c.last_name, f.title
HAVING COUNT(*) > 1
ORDER BY c.customer_id, rental_count DESC;
Execution Accuracy: 1.0000

Processing Question 13.1: Which expensive-to-replace movies are also in the top five most popular categories?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH CategoryPopularity AS (
  SELECT
    c.name AS category_name,
    COUNT(fc.film_id) AS film_count,
    RANK() OVER (ORDER BY COUNT(fc.film_id) DESC) as category_rank
  FROM category AS c
  JOIN film_category AS fc
    ON c.category_id = fc.category_id
  GROUP BY
    c.name
),
TopFiveCategories AS (
  SELECT category_name
  FROM CategoryPopularity
  WHERE category_rank <= 5
),
ExpensiveFilms AS (
  SELECT
    f.film_id,
    f.title,
    f.rental_rate
  FROM film AS f
  WHERE
    f.rental_rate > (
      SELECT
        AVG(rental_rate)
      FROM film
    )
)
SELECT
  ef.title,
  ef.rental_rate
FROM ExpensiveFilms AS ef
JOIN film_category AS fc
  ON ef.film_id = fc.film_id
JOIN category AS c
  ON fc.category_id = c.category_id
JOIN TopFiveCategories AS tfc
  ON c.name = tfc.category_name
ORDER BY
  ef.rental_rate DESC;
Execution Accuracy: 0.0000

Processing Question 13.2: Can you find out which high-replacement-cost films are in the five most rented genres?
Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH genre_rental_counts AS (
  SELECT
    c.name AS genre,
    COUNT(r.rental_id) AS rental_count,
    RANK() OVER (ORDER BY COUNT(r.rental_id) DESC) AS genre_rank
  FROM category AS c
  JOIN film_category AS fc
    ON c.category_id = fc.category_id
  JOIN inventory AS i
    ON fc.film_id = i.film_id
  JOIN rental AS r
    ON i.inventory_id = r.inventory_id
  GROUP BY
    c.name
  ORDER BY
    rental_count DESC
  LIMIT
    5
), high_cost_films AS (
  SELECT
    f.film_id,
    f.title,
    f.replacement_cost
  FROM film AS f
  WHERE
    f.replacement_cost > (
      SELECT
        AVG(replacement_cost)
      FROM film
    )
)
SELECT
  g.genre,
  hcf.title,
  hcf.replacement_cost
FROM genre_rental_counts AS g
JOIN film_category AS fc
  ON g.genre = (
    SELECT
      name
    FROM category
    WHERE
      category_id = fc.category_id
  )
JOIN high_cost_films AS hcf
  ON fc.film_id = hcf.film_id
WHERE
  g.genre_rank <= 5;
Execution Accuracy: 0.5749

Processing Question 14.1: Which two actors have appeared in the most movies together?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1, a2.first_name || ' ' || a2.last_name AS actor2, COUNT(*) AS coappearances
FROM film_actor AS fa1
JOIN film_actor AS fa2 ON fa1.film_id = fa2.film_id AND fa1.actor_id < fa2.actor_id
JOIN actor AS a1 ON fa1.actor_id = a1.actor_id
JOIN actor AS a2 ON fa2.actor_id = a2.actor_id
GROUP BY actor1, actor2
ORDER BY coappearances DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 14.2: Can you tell me which actor pair has worked together the most?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a1.first_name || ' ' || a1.last_name AS actor1, a2.first_name || ' ' || a2.last_name AS actor2, COUNT(*) AS films_together
FROM film_actor AS fa1
JOIN actor AS a1 ON fa1.actor_id = a1.actor_id
JOIN film AS f ON fa1.film_id = f.film_id
JOIN film_actor AS fa2 ON f.film_id = fa2.film_id
JOIN actor AS a2 ON fa2.actor_id = a2.actor_id
WHERE a1.actor_id < a2.actor_id
GROUP BY actor1, actor2
ORDER BY films_together DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 15.1: Which movies are among the top 10% highest earners?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH FilmInventory AS (
  SELECT
    f.title,
    COUNT(i.inventory_id) AS total_inventory
  FROM film AS f
  JOIN inventory AS i
    ON f.film_id = i.film_id
  GROUP BY
    f.film_id,
    f.title
),
RankedInventory AS (
  SELECT
    title,
    total_inventory,
    RANK() OVER (ORDER BY total_inventory DESC) AS inventory_rank
  FROM FilmInventory
)
SELECT title, total_inventory
FROM RankedInventory
WHERE inventory_rank <= (SELECT COUNT(*) * 0.1 FROM FilmInventory);
Execution Accuracy: 0.0000

Processing Question 15.2: Can you list the films that make the most money, ranked in the top 10%?
Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT f.title
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id, f.title
ORDER BY SUM(r.rental_rate) DESC
LIMIT (SELECT CAST(COUNT(*) AS INTEGER) * 0.1 FROM film);
Error executing query: column r.rental_rate does not exist
LINE 6: ORDER BY SUM(r.rental_rate) DESC
                     ^
HINT:  Perhaps you meant to reference the column "f.rental_rate" or the column "r.rental_date".

Execution Accuracy: 0.0000

Processing Question 16.1: Are there any customers who have rented every single movie in a specific genre?
Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH CategoryFilms AS (
  SELECT
    c.name AS category_name,
    fc.film_id
  FROM category AS c
  JOIN film_category AS fc
    ON c.category_id = fc.category_id
), CustomerRentals AS (
  SELECT
    c.customer_id,
    r.inventory_id,
    i.film_id
  FROM customer AS c
  JOIN rental AS r
    ON c.customer_id = r.customer_id
  JOIN inventory AS i
    ON r.inventory_id = i.inventory_id
), CategoryFilmCounts AS (
  SELECT
    category_name,
    COUNT(film_id) AS film_count
  FROM CategoryFilms
  GROUP BY
    category_name
), CustomerRentalCounts AS (
  SELECT
    c.customer_id,
    cf.category_name,
    COUNT(DISTINCT cf.film_id) AS rented_film_count
  FROM CustomerRentals AS c
  JOIN CategoryFilms AS cf
    ON c.film_id = cf.film_id
  GROUP BY
    c.customer_id,
    cf.category_name
)
SELECT
  crc.category_name,
  crc.customer_id,
  crc.rented_film_count,
  cfc.film_count
FROM CustomerRentalCounts AS crc
JOIN CategoryFilmCounts AS cfc
  ON crc.category_name = cfc.category_name
WHERE
  crc.rented_film_count = cfc.film_count;
Execution Accuracy: 1.0000

Processing Question 16.2: Can you check if any customers have watched all the films in the Action category?
Related Tables: {'film', 'category', 'address', 'actor', 'customer', 'staff', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.first_name, c.last_name
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id

In [15]:
df_results_baseline_incremental = pd.DataFrame(results_list)
df_results_baseline_incremental.to_csv(f"{output_dir}/sql_execution_results_baseline_incremental.csv", index=False)

# Experiment V1 Multistage

In [16]:
import time

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1"]
    question_2 = row["Alternative Prompt 2"]
    answer = row["Answer"]

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_v1(user_prompt=question, method="Multistage")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you give me actors that have first name Scarlett
Rewritten Prompt: Retrieve actors with the first name Scarlett.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT * FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: I want to know actors that have the first name Scarlett
Rewritten Prompt: Retrieve actors with the first name Scarlett.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT * FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: Hey, I'm curious—how many different last names do the actors in our database have?
Rewritten Prompt: Determine the number of unique last names among actors in the database.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Can you tell me how many unique actor last names exist in our system?
Rewritten Prompt: Retrieve the count of unique actor last names.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who is the most frequently appearing actor in our movie collection?
Rewritten Prompt: Identify the actor appearing in the most movies in the movie collection.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(fa.film_id) AS film_count
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.first_name, a.last_name
ORDER BY film_count DESC
LIMIT 1;
Execution Accuracy: 0.0000

Processing Question 3.2: Can you find out which actor has been in the most movies?
Rewritten Prompt: Retrieve the actor who has appeared in the most movies.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name,
    COUNT(fa.film_id) AS film_count
FROM
    actor a
    JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY
    a.actor_id
ORDER BY
    film_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 4.1: Which five movie genres have made the most money overall?
Rewritten Prompt: Retrieve the top five movie genres with the highest overall revenue.

Related Tables: {'category', 'actor', 'address', 'customer', 'film_text', 'staff', 'store', 'film', 'payment', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'country'}
Generated SQL Query: SELECT
    c.name AS genre,
    SUM(p.amount) AS gross_revenue
FROM
    category c
    JOIN film_category fc ON c.category_id = fc.category_id
    JOIN inventory i ON fc.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    c.name
ORDER BY
    gross_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Can you show me the top five highest-earning genres, ranked from highest to lowest?
Rewritten Prompt: Retrieve the top five highest-earning genres, ordered by earnings in descending order.

Related Tables: {'category', 'actor', 'address', 'customer', 'film_text', 'staff', 'store', 'film', 'payment', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'country'}
Generated SQL Query: SELECT
    c.name AS genre,
    SUM(p.amount) AS total_earnings
FROM
    category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    c.name
ORDER BY
    total_earnings DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much money has each store made from rentals?
Rewritten Prompt: Calculate the total rental revenue for each store.

Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 5.2: Can you break down the total revenue for each store?
Rewritten Prompt: Show the total revenue for each store.

Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id;
Execution Accuracy: 0.0000

Processing Question 6.1: Which language is the most common in the movies we have?
Rewritten Prompt: Retrieve the most frequent language from the movies in the database.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 6.2: Can you find out which language is used the most in our films?
Rewritten Prompt: Retrieve the most frequently used language in films.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT name FROM language WHERE language_id = (SELECT language_id FROM film GROUP BY language_id ORDER BY count(*) DESC LIMIT 1);
Execution Accuracy: 1.0000

Processing Question 7.1: Who are our five most active customers based on the number of rentals?
Rewritten Prompt: Retrieve the top five customers with the highest number of rentals.

Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(*) AS total_rentals
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Can you tell me which five customers have rented the most movies?
Rewritten Prompt: Retrieve the top five customers who have rented the most movies.

Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT c.customer_id, c.first_name, c.last_name, COUNT(r.rental_id) AS total_rentals
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name
ORDER BY total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have explored a variety of genres and rented from at least 3 different categories?
Rewritten Prompt: Identify customers who have rented movies from at least three different categories.

Related Tables: {'film', 'category', 'address', 'staff', 'customer', 'actor', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS category_count
FROM
    customer c
    JOIN rental r ON c.customer_id = r.customer_id
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film f ON i.film_id = f.film_id
    JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) >= 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Can you list customers who have rented movies from more than three different categories?
Rewritten Prompt: List customers who have rented movies from more than three distinct categories.

Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS category_count
FROM
    customer c
    JOIN rental r ON c.customer_id = r.customer_id
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film f ON i.film_id = f.film_id
    JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that nobody has ever rented?
Rewritten Prompt: Retrieve movies with zero rental records.

Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT f.film_id, f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 9.2: Can you find out which films have never been rented even once?
Rewritten Prompt: Retrieve films that have never been rented.

Related Tables: {'film', 'category', 'actor', 'staff', 'customer', 'address', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT f.film_id, f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 10.1: How much money has each actor helped generate based on the movies they were in?
Rewritten Prompt: Calculate the total revenue generated by each actor's films.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name,
    SUM(p.amount) AS total_revenue
FROM
    actor a
    JOIN film_actor fa ON a.actor_id = fa.actor_id
    JOIN inventory i ON fa.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 10.2: Can you show me the total revenue for each actor based on their films?
Rewritten Prompt: Retrieve the total revenue generated by each actor from their films.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    a.actor_id,
    a.first_name,
    a.last_name,
    SUM(p.amount) AS total_revenue
FROM
    actor a
    JOIN film_actor fa ON a.actor_id = fa.actor_id
    JOIN inventory i ON fa.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    a.actor_id, a.first_name, a.last_name
ORDER BY
    total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 11.1: Which store has made the most money, and who is the manager there?
Rewritten Prompt: Retrieve the store with the highest total revenue and its manager's name.

Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    s.store_id,
    CONCAT(st.first_name, ' ', st.last_name) AS manager_name,
    SUM(p.amount) AS total_revenue
FROM
    store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    s.store_id, manager_name
ORDER BY
    total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Can you find out which store has the highest revenue and who runs it?
Rewritten Prompt: Retrieve the store with the highest revenue, including store name and manager name.

Related Tables: {'address', 'staff', 'city', 'store', 'country'}
Generated SQL Query: SELECT
    s.store_id,
    s.store_id,
    CONCAT(st.first_name, ' ', st.last_name) AS manager_name,
    SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id, manager_name
ORDER BY total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 12.1: Are there any customers who have rented the same movie more than once?
Rewritten Prompt: Identify customers who have rented the same film more than once.

Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH customer_film_rentals AS (
    SELECT
        r.customer_id,
        f.film_id,
        COUNT(r.rental_id) AS rental_count
    FROM
        rental r
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film f ON i.film_id = f.film_id
    GROUP BY
        r.customer_id, f.film_id
    HAVING
        COUNT(r.rental_id) > 1
)
SELECT DISTINCT customer_id
FROM customer_film_rentals;
Execution Accuracy: 0.8491

Processing Question 12.2: Can you find customers who keep renting the same film multiple times?
Rewritten Prompt: Identify customers who have rented the same film more than once.

Related Tables: {'film', 'address', 'actor', 'staff', 'customer', 'category', 'film_category', 'inventory', 'film_actor', 'rental', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH customer_film_rentals AS (
    SELECT
        r.customer_id,
        f.film_id,
        COUNT(r.rental_id) AS rental_count
    FROM
        rental r
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film f ON i.film_id = f.film_id
    GROUP BY
        r.customer_id, f.film_id
    HAVING
        COUNT(r.rental_id) > 1
)
SELECT DISTINCT customer_id
FROM customer_film_rentals;
Execution Accuracy: 0.8491

Processing Question 13.1: Which expensive-to-replace movies are also in the top five most popular categories?
Rewritten Prompt: Retrieve movies with high replacement costs that belong to the top five most popular categories.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH popular_categories AS (
    SELECT category_id, COUNT(*) AS film_count
    FROM film_category
    GROUP BY category_id
    ORDER BY film_count DESC
    LIMIT 5
),
high_cost_films AS (
  SELECT f.film_id, f.title, f.replacement_cost, fc.category_id
  FROM film f
  JOIN film_category fc ON f.film_id = fc.film_id
  WHERE fc.category_id IN (SELECT category_id FROM popular_categories)
  ORDER BY f.replacement_cost DESC
)
SELECT hcf.film_id, hcf.title, hcf.replacement_cost, c.name AS category_name
FROM high_cost_films hcf
JOIN film_category fc ON hcf.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
ORDER BY hcf.replacement_cost DESC;
Execution Accuracy: 0.6257

Processing Question 13.2: Can you find out which high-replacement-cost films are in the five most rented genres?
Rewritten Prompt: Retrieve films with high replacement costs that belong to the five most rented genres.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH Top5Genres AS (
    SELECT category_id, COUNT(*) AS rental_count
    FROM film_category
    JOIN inventory ON film_category.film_id = inventory.film_id
    JOIN rental ON inventory.inventory_id = rental.inventory_id
    GROUP BY category_id
    ORDER BY rental_count DESC
    LIMIT 5
)
SELECT
    f.film_id,
    f.title,
    f.replacement_cost
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN Top5Genres t5g ON fc.category_id = t5g.category_id
ORDER BY f.replacement_cost DESC;
Execution Accuracy: 1.0000

Processing Question 14.1: Which two actors have appeared in the most movies together?
Rewritten Prompt: Retrieve the pair of actors who have appeared together in the most movies.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH actor_pairs AS (
    SELECT
        fa1.actor_id AS actor1_id,
        fa2.actor_id AS actor2_id,
        COUNT(*) AS films_together
    FROM
        film_actor fa1
        JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
    WHERE
        fa1.actor_id < fa2.actor_id
    GROUP BY
        fa1.actor_id, fa2.actor_id
    ORDER BY
        films_together DESC
    LIMIT 1
)
SELECT
    a1.first_name AS actor1_first_name,
    a1.last_name AS actor1_last_name,
    a2.first_name AS actor2_first_name,
    a2.last_name AS actor2_last_name
FROM
    actor_pairs ap
    JOIN actor a1 ON ap.actor1_id = a1.actor_id
    JOIN actor a2 ON ap.actor2_id = a2.actor_id;
Execution Accuracy: 0.0001

Processing Question 14.2: Can you tell me which actor pair has worked together the most?
Rewritten Prompt: Identify the actor pair with the most collaborations.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH actor_pairs AS (
    SELECT
        fa1.actor_id AS actor1_id,
        fa2.actor_id AS actor2_id,
        COUNT(*) AS films_together
    FROM
        film_actor fa1
        JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
    WHERE
        fa1.actor_id < fa2.actor_id
    GROUP BY
        fa1.actor_id, fa2.actor_id
    ORDER BY
        films_together DESC
    LIMIT 1
)
SELECT
    a1.first_name AS actor1_first_name,
    a1.last_name AS actor1_last_name,
    a2.first_name AS actor2_first_name,
    a2.last_name AS actor2_last_name,
    ap.films_together
FROM
    actor_pairs ap
    JOIN actor a1 ON ap.actor1_id = a1.actor_id
    JOIN actor a2 ON ap.actor2_id = a2.actor_id;
Execution Accuracy: 0.0001

Processing Question 15.1: Which movies are among the top 10% highest earners?
Rewritten Prompt: Retrieve the movies in the top 10% of highest-earning movies.

Related Tables: {'film', 'category', 'actor', 'staff', 'address', 'film_category', 'inventory', 'film_actor', 'language', 'city', 'store', 'country'}
Generated SQL Query: WITH film_revenue AS (
    SELECT
        f.film_id,
        f.title,
        SUM(p.amount) AS total_revenue
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN payment p ON r.rental_id = p.rental_id
    GROUP BY
        f.film_id
),
top_10_percent AS (
    SELECT
        film_id,
        title,
        total_revenue,
        PERCENT_RANK() OVER (ORDER BY total_revenue DESC) AS pct_rank
    FROM

In [17]:
df_results_v1_multistage = pd.DataFrame(results_list)
df_results_v1_multistage.to_csv(f"{output_dir}/sql_execution_results_v1_multistage.csv", index=False)

# Experiment V1 Incremental

In [9]:
import time

EA = 0
total_questions = len(dataset) * 2
results_list = []

for idx, row in dataset.iterrows():
    question_1 = row["Alternative Prompt 1"]
    question_2 = row["Alternative Prompt 2"]
    answer = row["Answer"]

    for prompt_id, question in enumerate([question_1, question_2], start=1):
        print(f"\nProcessing Question {idx + 1}.{prompt_id}: {question}")
        result = None

        for attempt in range(1, MAX_RETRIES + 1):
            try:
                result = text_to_sql_model.generate_v1(user_prompt=question, method="Incremental")
                break
            except Exception as e:
                print(f"[Attempt {attempt}] Failed to generate SQL: {e}")
                if attempt < MAX_RETRIES:
                    time.sleep(RETRY_DELAY)
                else:
                    print("Max retries reached. Setting result as 'ERROR'")
                    result = "ERROR"

        print(f"Generated SQL Query: {result}")

        try:
            acc = text_to_sql_model.evaluate(query=result, true_query=answer)
        except Exception as e:
            print(f"Evaluation failed: {e}")
            acc = 0.0

        print(f"Execution Accuracy: {acc:.4f}")

        results_list.append({
            "Question ID": f"{idx + 1}.{prompt_id}",
            "Question": question,
            "Generated SQL Query": result,
            "Expected SQL Query": answer,
            "Execution Accuracy": acc
        })

        EA += acc

# Calculate final execution accuracy
final_accuracy = EA / total_questions if total_questions > 0 else 0
print(f"\nFinal Execution Accuracy: {final_accuracy:.4f}")

Processing Question 1.1: Can you give me actors that have first name Scarlett
Rewritten Prompt: Retrieve actors with the first name Scarlett.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT first_name, last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 1.2: I want to know actors that have the first name Scarlett
Rewritten Prompt: Retrieve all actors with the first name Scarlett.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT first_name, last_name FROM actor WHERE first_name = 'Scarlett';
Execution Accuracy: 1.0000

Processing Question 2.1: Hey, I'm curious—how many different last names do the actors in our database have?
Rewritten Prompt: Determine the count of unique last names among actors in the database.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 2.2: Can you tell me how many unique actor last names exist in our system?
Rewritten Prompt: Retrieve the count of unique actor last names.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT COUNT(DISTINCT last_name) FROM actor;
Execution Accuracy: 1.0000

Processing Question 3.1: Who is the most frequently appearing actor in our movie collection?
Rewritten Prompt: Identify the actor appearing in the most movies in the movie collection.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT a.first_name, a.last_name FROM actor a JOIN film_actor fa ON a.actor_id = fa.actor_id GROUP BY a.actor_id ORDER BY count(fa.film_id) DESC LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 3.2: Can you find out which actor has been in the most movies?
Rewritten Prompt: Retrieve the actor who has appeared in the most movies.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT a.first_name, a.last_name, COUNT(fa.film_id) AS film_count
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name
ORDER BY film_count DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 4.1: Which five movie genres have made the most money overall?
Rewritten Prompt: Retrieve the top five movie genres with the highest overall revenue.

Related Tables: {'rental', 'store', 'film', 'country', 'customer', 'staff', 'language', 'film_actor', 'film_category', 'actor', 'city', 'category', 'address', 'payment', 'inventory', 'film_text'}
Generated SQL Query: SELECT
    c.name AS genre,
    SUM(p.amount) AS gross_revenue
FROM
    category c
    JOIN film_category fc ON c.category_id = fc.category_id
    JOIN inventory i ON fc.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    c.name
ORDER BY
    gross_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 4.2: Can you show me the top five highest-earning genres, ranked from highest to lowest?
Rewritten Prompt: Retrieve the top five highest-earning genres, ordered by earnings in descending order.

Related Tables: {'rental', 'store', 'film', 'country', 'customer', 'staff', 'language', 'film_actor', 'film_category', 'actor', 'city', 'category', 'address', 'payment', 'inventory', 'film_text'}
Generated SQL Query: SELECT
    c.name AS genre,
    SUM(p.amount) AS gross_revenue
FROM
    category c
    JOIN film_category fc ON c.category_id = fc.category_id
    JOIN inventory i ON fc.film_id = i.film_id
    JOIN rental r ON i.inventory_id = r.inventory_id
    JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    c.name
ORDER BY
    gross_revenue DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 5.1: How much money has each store made from rentals?
Rewritten Prompt: Calculate the total rental revenue for each store.

Related Tables: {'language', 'rental', 'actor', 'store', 'city', 'film', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_rental_revenue
FROM store s
JOIN customer c ON s.store_id = c.store_id
JOIN rental r ON c.customer_id = r.customer_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY s.store_id
ORDER BY total_rental_revenue DESC;
Execution Accuracy: 0.0000

Processing Question 5.2: Can you break down the total revenue for each store?
Rewritten Prompt: Show the total revenue for each store.

Related Tables: {'store', 'country', 'city', 'staff', 'address'}
Generated SQL Query: SELECT s.store_id, SUM(p.amount) AS total_revenue
FROM store s
JOIN staff st ON s.store_id = st.store_id
JOIN payment p ON st.staff_id = p.staff_id
GROUP BY s.store_id
ORDER BY total_revenue DESC;
Execution Accuracy: 1.0000

Processing Question 6.1: Which language is the most common in the movies we have?
Rewritten Prompt: Retrieve the most frequent language in the movies.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT l.name, COUNT(*) AS film_count FROM film f JOIN language l ON f.language_id = l.language_id GROUP BY l.name ORDER BY film_count DESC LIMIT 1
Execution Accuracy: 1.0000

Processing Question 6.2: Can you find out which language is used the most in our films?
Rewritten Prompt: Retrieve the most frequently used language in our films.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT
    l.name
FROM
    language l
    JOIN film f ON l.language_id = f.language_id
GROUP BY
    l.name
ORDER BY
    COUNT(f.film_id) DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 7.1: Who are our five most active customers based on the number of rentals?
Rewritten Prompt: Retrieve the top five customers with the most rentals.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(r.rental_id) as total_rentals
FROM
    customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY
    c.customer_id,
    c.first_name,
    c.last_name
ORDER BY
    total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 7.2: Can you tell me which five customers have rented the most movies?
Rewritten Prompt: Retrieve the top five customers with the most movie rentals.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(r.rental_id) as total_rentals
FROM
    customer c
    JOIN rental r ON c.customer_id= r.customer_id
GROUP BY
    c.customer_id,
    c.first_name,
    c.last_name
ORDER BY
    total_rentals DESC
LIMIT 5;
Execution Accuracy: 1.0000

Processing Question 8.1: Which customers have explored a variety of genres and rented from at least 3 different categories?
Rewritten Prompt: Identify customers who have rented movies from at least three different categories.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS category_count
FROM
    customer c
JOIN rental r ON c.customer_id = r.customer_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) >= 3;
Execution Accuracy: 1.0000

Processing Question 8.2: Can you list customers who have rented movies from more than three different categories?
Rewritten Prompt: List customers who have rented movies from more than three distinct categories.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT
    c.customer_id,
    c.first_name,
    c.last_name,
    COUNT(DISTINCT fc.category_id) AS category_count
FROM
    customer c
    JOIN rental r ON c.customer_id = r.customer_id
    JOIN inventory i ON r.inventory_id = i.inventory_id
    JOIN film_category fc ON i.film_id = fc.film_id
GROUP BY
    c.customer_id, c.first_name, c.last_name
HAVING
    COUNT(DISTINCT fc.category_id) > 3;
Execution Accuracy: 1.0000

Processing Question 9.1: Are there any movies in our collection that nobody has ever rented?
Rewritten Prompt: Retrieve all movies that have never been rented.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT f.title FROM film f WHERE NOT EXISTS (SELECT 1 FROM inventory i JOIN rental r ON i.inventory_id = r.inventory_id WHERE i.film_id = f.film_id);
Execution Accuracy: 0.9767

Processing Question 9.2: Can you find out which films have never been rented even once?
Rewritten Prompt: Retrieve films that have never been rented.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT f.film_id, f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;
Execution Accuracy: 1.0000

Processing Question 10.1: How much money has each actor helped generate based on the movies they were in?
Rewritten Prompt: Calculate the total revenue generated by movies for each actor.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT a.actor_id, a.first_name, a.last_name, SUM(fr.revenue) AS total_revenue FROM actor a JOIN film_actor fa ON a.actor_id = fa.actor_id JOIN film_revenue fr ON fa.film_id = fr.film_id GROUP BY a.actor_id, a.first_name, a.last_name ORDER BY total_revenue DESC;
Error executing query: relation "film_revenue" does not exist
LINE 1: ...IN film_actor fa ON a.actor_id = fa.actor_id JOIN film_reven...
                                                             ^

Execution Accuracy: 0.0000

Processing Question 10.2: Can you show me the total revenue for each actor based on their films?
Rewritten Prompt: Retrieve the total revenue generated by each actor from their films.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT
    a.first_name || ' ' || a.last_name AS actor_name,
    SUM(p.amount) AS total_revenue
FROM
    actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN inventory i ON fa.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    actor_name
ORDER BY
    total_revenue DESC;
Execution Accuracy: 0.0000

Processing Question 11.1: Which store has made the most money, and who is the manager there?
Rewritten Prompt: Retrieve the store with the highest total revenue and its manager's name.

Related Tables: {'store', 'country', 'city', 'staff', 'address'}
Generated SQL Query: SELECT
    s.store_id,
    CONCAT(st.first_name, ' ', st.last_name) AS manager_name,
    SUM(p.amount) AS total_revenue
FROM
    store s
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN inventory i ON s.store_id = i.store_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY
    s.store_id, manager_name
ORDER BY
    total_revenue DESC
LIMIT 1;
Execution Accuracy: 1.0000

Processing Question 11.2: Can you find out which store has the highest revenue and who runs it?
Rewritten Prompt: Retrieve the store with the highest revenue, including the store name and manager name.

Related Tables: {'store', 'country', 'city', 'staff', 'address'}
Generated SQL Query: WITH store_revenue AS (
    SELECT
        store_id,
        SUM(amount) as total_revenue
    FROM payment
    GROUP BY store_id
),
max_revenue_store AS (
  SELECT store_id FROM store_revenue ORDER BY total_revenue DESC LIMIT 1
)
SELECT
    s.store_id,
    st.first_name || ' ' || st.last_name AS manager_name,
    sr.total_revenue
FROM store s
JOIN max_revenue_store mrs ON s.store_id = mrs.store_id
JOIN staff st ON s.manager_staff_id = st.staff_id
JOIN store_revenue sr ON s.store_id = sr.store_id;
Error executing query: column "store_id" does not exist
LINE 3:         store_id,
                ^
HINT:  Perhaps you meant to reference the column "payment.staff_id".

Execution Accuracy: 0.0000

Processing Question 12.1: Are there any customers who have rented the same movie more than once?
Rewritten Prompt: Identify customers who have rented the same film more than once.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: SELECT COUNT(*) FROM (SELECT customer_id, inventory_id, COUNT(*) AS rental_count FROM rental GROUP BY customer_id, inventory_id HAVING COUNT(*) > 1) AS customer_rental_counts;
Execution Accuracy: 0.0000

Processing Question 12.2: Can you find customers who keep renting the same film multiple times?
Rewritten Prompt: Identify customers who have rented the same film more than once.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: WITH customer_film_rentals AS (
    SELECT
        r.customer_id,
        f.film_id,
        f.title,
        COUNT(r.rental_id) AS rental_count
    FROM
        rental r
        JOIN inventory i ON r.inventory_id = i.inventory_id
        JOIN film f ON i.film_id = f.film_id
    GROUP BY
        r.customer_id, f.film_id
    HAVING
        COUNT(r.rental_id) > 1
)
SELECT
    c.first_name || ' ' || c.last_name AS customer_name,
    cfr.title AS film_title
FROM
    customer c
    JOIN customer_film_rentals cfr ON c.customer_id = cfr.customer_id;
Execution Accuracy: 0.0000

Processing Question 13.1: Which expensive-to-replace movies are also in the top five most popular categories?
Rewritten Prompt: Retrieve movies with high replacement costs that belong to the top five most popular categories.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: WITH popular_categories AS (
    SELECT
        category_id,
        COUNT(*) AS film_count
    FROM film_category
    GROUP BY category_id
    ORDER BY film_count DESC
    LIMIT 5
)
SELECT
    f.film_id,
    f.title
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN popular_categories pc ON fc.category_id = pc.category_id
ORDER BY f.rental_rate DESC;
Execution Accuracy: 0.6257

Processing Question 13.2: Can you find out which high-replacement-cost films are in the five most rented genres?
Rewritten Prompt: Retrieve films with high replacement costs that belong to the five most rented genres.

Related Tables: {'language', 'rental', 'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'customer', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: WITH top_categories AS (
    SELECT
        fc.category_id,
        COUNT(r.rental_id) AS rental_count
    FROM
        film_category fc
        JOIN inventory i ON fc.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
    GROUP BY
        fc.category_id
    ORDER BY
        rental_count DESC
    LIMIT 5
)
SELECT
    f.title,
    f.replacement_cost
FROM
    film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN top_categories tc ON fc.category_id = tc.category_id
ORDER BY
    f.replacement_cost DESC;
Execution Accuracy: 1.0000

Processing Question 14.1: Which two actors have appeared in the most movies together?
Rewritten Prompt: Retrieve the pair of actors who have appeared together in the most movies.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: WITH actor_pairs AS (
    SELECT
        fa1.actor_id AS actor1_id,
        fa2.actor_id AS actor2_id,
        COUNT(*) AS films_together
    FROM
        film_actor fa1
        JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
    WHERE
        fa1.actor_id < fa2.actor_id
    GROUP BY
        fa1.actor_id, fa2.actor_id
    ORDER BY
        films_together DESC
    LIMIT 1
)
SELECT
    a1.first_name || ' ' || a1.last_name AS actor1,
    a2.first_name || ' ' || a2.last_name AS actor2
FROM
    actor_pairs ap
    JOIN actor a1 ON ap.actor1_id = a1.actor_id
    JOIN actor a2 ON ap.actor2_id = a2.actor_id;
Execution Accuracy: 0.0000

Processing Question 14.2: Can you tell me which actor pair has worked together the most?
Rewritten Prompt: Identify the actor pair with the most frequent collaborations.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: WITH actor_pairs AS (
    SELECT
        fa1.actor_id AS actor1_id,
        fa2.actor_id AS actor2_id,
        COUNT(*) AS films_together
    FROM
        film_actor fa1
        JOIN film_actor fa2 ON fa1.film_id = fa2.film_id
    WHERE
        fa1.actor_id < fa2.actor_id
    GROUP BY
        fa1.actor_id, fa2.actor_id
    ORDER BY
        films_together DESC
    LIMIT 1
)
SELECT
    a1.first_name || ' ' || a1.last_name AS actor1_name,
    a2.first_name || ' ' || a2.last_name AS actor2_name
FROM
    actor_pairs ap
    JOIN actor a1 ON ap.actor1_id = a1.actor_id
    JOIN actor a2 ON ap.actor2_id = a2.actor_id;
Execution Accuracy: 0.0000

Processing Question 15.1: Which movies are among the top 10% highest earners?
Rewritten Prompt: Retrieve the movies in the top 10% of highest-earning movies.

Related Tables: {'actor', 'store', 'film', 'city', 'country', 'address', 'category', 'staff', 'language', 'inventory', 'film_actor', 'film_category'}
Generated SQL Query: WITH film_revenue AS (
    SELECT
        f.film_id,
        f.title,
        SUM(p.amount) AS total_revenue
    FROM
        film f
        JOIN inventory i ON f.film_id = i.film_id
        JOIN rental r ON i.inventory_id = r.inventory_id
        JOIN payment p ON r.rental_id = p.rental_id
    GROUP BY
        f.film_id, f.title
),
revenue_percentile AS (
  SELECT
        PERCENTILE_CONT(0.9) WITHIN GROUP (ORDER BY total_revenue) OVER () as top_10_percentile
    FROM film_revenue
)
SELECT fr.title
FROM film_revenue fr

In [10]:
df_results_v1_incremental = pd.DataFrame(results_list)
df_results_v1_incremental.to_csv(f"{output_dir}/sql_execution_results_v1_incremental.csv", index=False)